doctype html
html(lang="es")
    title Inscripción Equipos 2 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-12
                        iframe(src="http://www.dorsal1.es/inscripcion1.php?id=570" width="100%" height="1500" frameborder="0")
                .row.my-2
                    .col-sm-12
                        p.mb-0.text-justify Puedes comprobar si tu inscripción fue tramitada correctamente en la 
                            a.u-title(href="inscritos-epic-equipos2.html") lista de inscritos.
                        p.text-justify  Si tienes algún problema técnico con la inscripción puedes ponerte en contacto con el servicio de soporte de EMESports (soporte@emesports.es / 654.285.692).
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug