doctype html
html(lang='es')
    title Epic Race Pontevedra
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role= "main")
            include ../../_includes/_carouselIndexGL.pug
            .u-bgRed
            //- section.IndexFollowRace.py-5.my-5
            //-     .container
            //-         .row
            //-             .col-sm-8.offset-sm-2.text-center
            //-                 h2 Follow the race
            //-                 a(href="https://tracktherace.com/epic-race-pontevedra-2019"): button.btn(type="button") Further information
            section.IndexDescription.py-5.mb-5
                .container 
                    .row
                        .col-sm-8
                            article.text-justify
                                h2.u-title The challenge
                                p <strong>Epic Race Pontevedra</strong>  are 550 km and 13000 meters of accumulated positive slope in non stop format. An MTB challenge bike that demands the best of cyclists.
                                p The participants face a journey through the province of Pontevedra, throughout day and night, challenging the mountains, caressing the Rías Baixas and getting to know the oldest forests and the most picturesque villages. All with a limit of 51 hours.
                                p The itinerary is not signalled, so participants follow the route by reading the GPS terminal data in order to reach Soutelo de Montes, Vila de Cruces, Moraña, Pontevedra, Pontecaldelas, Valença-Tui, Redondela and, again, Pontevedra. 7 towns for 8 transition points in which participants have refreshment points to regain strength, make repairs, receive massages or change team mates in case of cycling teams, since during the rest of the route external help is not allowed. 
                                p Alone or in teams of two, three or four people, the participants face the challenge of the trails and tracks that cross the mountains, valleys, rivers, coast and tourist interest areas of the province of Pontevedra.
                                p A challenge that puts the best of each cyclist to the test while rewarding you with an unforgettable experience through the paradise offered by the Rías Baixas and its mountains. 

                        .col-sm-4
                            include ../../_includes/_carouselIndex--stagesEN.pug
                    .row.py-5
                        .col-sm-12.text-center
                            .embed-responsive.embed-responsive-16by9
                                iframe(width="853" height="480" src="https://www.youtube.com/embed/HM8W6T6UsDo" frameborder="0" allowfullscreen)
            include ../../_includes/_promoGL.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug
        //- script(async src="https://tracktherace.com/badges/js?c=b9shK9&l=gl!")
        script(src="../../assets/js/app.js")