doctype html
html(lang="es")
    title Rates 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Rates
                    .col-sm-9
                        .Prices.p-4.rounded
                            table.table.table-striped.table-responsive
                                thead: tr
                                        th Inscribed
                                        th Epic Race Individual
                                        th Epic Race Teams equipos 2-3-4
                                        th Half Epic Race Individual
                                        th Half Epic Race Teams 2-3-4
                                tbody
                                    tr
                                        th(scope="row") From December 1 to December 15, 2018*
                                        td 99€
                                        td 89€
                                        td 79€
                                        td 69€
                                    tr
                                        th(scope="row") From December 16, 2018 to January 20, 2019
                                        td 109€
                                        td 99€
                                        td 89€
                                        td 79€
                                    tr
                                        th(scope="row") From January 21 to March 31, 2019
                                        td 129€
                                        td 119€
                                        td 109€
                                        td 99€
                                    tr
                                        th(scope="row") From April 1 to May 15, 2109
                                        td 139€
                                        td 129€
                                        td 119€
                                        td 109€
                            small * This period is reserved for those registered in the previous edition. Participants who do not have a FEDERAL LICENSE must pay  a € 10 one day insurance for the HALF EPIC RACE and a € 20 two-day insurance for the EPIC RACE (prices set by the Galician Cycling Federation)
                            small The inscriptions will be made until May 15, 2019 or until the 300 places for the EPIC RACE and the 300 places for the HALF EPIC RACE are covered.
                            p.text-justify REGISTRATION MAY BE REFUNDED IN THE FOLLOWING DEADLINES FOR ANY REASON OF CANCELLATION:
                            ul
                                li 100% OF THE REGISTRATION FEE: until February 19  
                                li 50% OF THE REGISTRATION FEE: until April 1   
                                li 25% OF THE REGISTRATION FEE: until May 1 
                                li 0% OF THE REGISTRATION FEE: as of May 2

                        .Include.py-5
                            h5 What does the registration include?
                            ul
                                li.text-justify Possibility of participating in the 550 km route with a limit of 51 hours in the EPIC RACE and 270 km with a limit of 24 hours in the HALF EPIC RACE.
                                li.text-justify Commemorative vest of the brand event Ottobosley.
                                li.text-justify Identification stickers for assistance vehicles
                                li.text-justify Accident insurance
                                li.text-justify Situation control GPS. This GPS allows live tracking of all participants and ensures their safety by having the option of emergency call.
                                li.text-justify Dorsal with Chip for control in passage areas
                                li.text-justify 8 solid liquid refreshment points for the participants (4 in case of the half EPIC RACE)
                                li.text-justify Massage service
                                li.text-justify Shower service at each refreshment point
                                li.text-justify Healthcare service
                                li.text-justify Exclusive parking area for assistance vehicles, in each station
                                li.text-justify Finisher gift for those who complete the challenge
                                li.text-justify Trophies for the top three male and female ranked in each category
                                li.text-justify Final challenge party . A party for the participants from 1:30 p.m. on Sunday

            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug