doctype html
html(lang="es")
    title Stage 4 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role="main")
            .carousel.slide#CarouselStage8(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage8" data-slide-to="0").active
                    li(data-target="#CarouselStage8" data-slide-to="1")
                    li(data-target="#CarouselStage8" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage8-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage8-item2
                    .carousel-item.CarouselStage1-item.CarouselStage8-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage8" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage8" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 4
                        h5.Stage-subtitle.mb-4 Meis - Pontevedra
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 56km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 1350m
                            p.mb-0.mt-2.d-block Elevation gain downhill
                            span.pl-2 1400m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify The balcony of the estuaries
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level4.jpg")
                        p.text-justify This stage is defined by the Mount Castrove ascent, where, once reached, we will still have to face two more ascents, not too much long but demanding. This is a stage where the mountain specialized will be very comfortable.

                        p.text-justify We leave the village of Mosteiro, in Meis council, heading up first to the North, to visit its fertile lands, but without relaxing, because soon in the 4th kilometre we will find the first slopes that will drive us to Mount San Martiño.

                        p.text-justify Once we have overcome this first stretch, we will approach, along a gorgeous fluvial path, the base of Mount Castrove, which we will get stuck starting the ascent along a spectacular track defined by River Armenteira waterfalls and the water mills that sprinkle its river banks.

                        p.text-justify We are facing an almost 17 kms ascent with some breaks in descent or flat paths, reaching that way the 613 mts of maximum height for this stage, the peak of Castrove. This is an amazing viewpoint over the Arousa and Pontevedra estuaries and the lands surrounding.

                        p.text-justify From this point, a funny and fast descent drives us to the amazing Monastery of Armenteira, where we start again a 3 kms climb to descent again along funny paths without any special technical difficulties.

                        p.text-justify We reach that way the 44th kilometre, where we face the last ascent of the stage, a forest track with an inclination of 10% that we will have to overcome to start the definitive descent towards the  finish in Pontevedra, where we will arrive passing by the magnificent natural environment of Alba marshlands.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-4-epic-race-2019-meis-pontevedra-36715808") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa3.html'): button.btn.Button--stages Previous stage
                            .col-sm-6.text-right
                                a(href='etapa5.html'): button.btn.Button--stages Next stage
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug