doctype html
html(lang="es")
    title Stage 2 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role="main")
            .carousel.slide#CarouselStage6(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage6" data-slide-to="0").active
                    li(data-target="#CarouselStage6" data-slide-to="1")
                    li(data-target="#CarouselStage6" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage6-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage6-item2
                    .carousel-item.CarouselStage1-item.CarouselStage6-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage6" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage6" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 2
                        h5.Stage-subtitle.mb-4 Moraña - Vila de Cruces
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 75km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 2050m
                            p.mb-0.mt-2.d-block Elevation gain downhill
                            span.pl-2 1750m
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify Towards the sky of the Epic Race
                            img.img-fluid.mb-2.w-100(src="../../assets/files/img/level2.jpg")
                            p.text-justify Even though this stage is not the longest or the one with more height, it is the one with more accumulated elevation gain, so it is the hardest stage in EPIC RACE PONTEVEDRA.

                            p.text-justify The 3 mountain ports that define this stage are specially tough, either because of the angle of inclination of its ramps, that in some cases overtakes the 15 %, or because the condition of some paths, that will make the bikers overcome some obstacles with their technical skills and their strength.
                            p.text-justify On the other hand, this stage also have very fast and rolling stretches, that makes it a mix of paths and surfaces that will require the best of the bikers at all levels.

                            p.text-justify We leave Moraña passing through its magnificent forests, going North, and after crossing the River Umia, we reach the 10th kilometre on fast tracks without or with a slight inclination.

                            p.text-justify From this point we start to climb one of Mount Xesteiras foothills along a wide forest track that in some areas have loose ground.

                            p.text-justify Without hitting the summit, the descent starts very fast along forest tracks and paths, where we must watch the GPS. A very funny descent that will make the wonders of the bikers.

                            p.text-justify We get then a valley bottom among villages, to tackle the climb up to Mount Cabalar. This mount does not have specially difficult ramps, but otherwise we will find some slopes with loose ground that will make us refine and look for the cleanest drawn all the time. The descent is fast, funny and without special difficulties.

                            p.text-justify After a short stretch among villages we start the climb again combining asphalt lanes, dirt tracks and traditional paths among “carballeiras” (galician oak forests). Finally we reach the maximum height of the stage (719 mts) after a sequence of straight lanes in slight elevation along very clean and fast paths.

                            p.text-justify We are now into the nature environment of Brañas de Xestoso, that gives us a magnificent view over this peneplain covered by an immense horizon.

                            p.text-justify We descent now through fast and comfortable paths driving us, among natural areas and villages, to Monastery of Carboeiro (Xth Century), where we cross the River Deza to face the last descent.

                            p.text-justify All we have to do now is to face the last kilometres to get Vila de Cruces, council that gives us amazing natural areas and an immense history that has its roots in the galician prehistoric times, offering us a heritage that is really a mosaic of all the periods of history. A big unknown with a lot to give.
                            a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-2-epic-race-2019-morana-vila-de-cruces-36679898") Track
                            .row
                                .col-sm-6.text-left
                                    a(href='etapa1.html'): button.btn.Button--stages Previous stage
                                .col-sm-6.text-right
                                    a(href='etapa3.html'): button.btn.Button--stages Next stage
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug