doctype html
html(lang="es")
    title Stage 6 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role="main")
            .carousel.slide#CarouselStage2(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage2" data-slide-to="0").active
                    li(data-target="#CarouselStage2" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage2-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage2-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage2" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage2" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 6
                        h5.Stage-subtitle.mb-4 Ponte Caldelas - Ponteareas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 56km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 1400m
                            p.mb-0.mt-2.d-block Elevation gain downhill
                            span.pl-2 1500m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify The Country of the thousand rivers
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level6.jpg")
                        p.text-justify This is a stage with clearly 2 different sectors, one first part with the most positive accumulated elevation gain, where we will have to face some stretches with strong climbs and very fast descents, and a second part, from the 31 km on, mainly in descent or with flat areas.

                        p.text-justify We leave Ponte Caldelas climbing, first on asphalt and then along wide forest tracks without any technical difficulty apart from the inclination of the land, crowning that way the first hill of the stage, in the 5 km.

                        p.text-justify After an easy descent, we get to the base of Mount do Ceo, where the first ramps are on asphalt and, once we have left this behind, we will find the first ascents with an important inclination, even though with some interval rest zones. As we are climbing, the ascent gets softer and we crown that way this mount, to enjoy a spectacular view, first to the south and after to the north, after a very little asphalt stretch.
                        p.text-justify From the top, the vastness of a sea of mountains spreads so far as the eye can see, and over this mount foothills and valleys lay out dense forests among which we can sight some small villages sprinkled by human along the centuries.

                        p.text-justify The descent is very fast, first along a forest track, and then along a traditional path a little more technical. The last stretch, on asphalt, drives us to a valley bottom with little rural villages.

                        p.text-justify A stretch along paths on dirt road and asphalt, with a sequence of short ascents and descents, will bring us closer to the base of the last ascent of the stage, in the 24 km. This point is determined by the medieval bridge of Anceu, that, with its 5 spans hidden among the thicket, marks the beginning of one of the most complicated climbs of The Epic Race.
                        p.text-justify The first ramps are technical, along a traditional path with an interval stretch on asphalt. There isn't loose ground and the inclination is not excessive, but the strength and the skills of the bikers will be decisive. We will finish the ascent along a wide forest track.

                        p.text-justify The last descent has a very fast first kilometre, where we will have to handle the breaks with skill and refine the trace, to face then another 10 kilometres of comfortable descent along a wide forest track over the amazing valley of the River Alén.

                        p.text-justify The last kilometres by the riverside of the River Tea will take us along a funny path almost flat to the end of this stage, in the city of Ponteareas.

                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-6-epic-race-2019-ponte-caldelas-ponteareas-36716222") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa5.html'): button.btn.Button--stages Previous stage
                            .col-sm-6.text-right
                                a(href='etapa7.html'): button.btn.Button--stages Next stage
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug