doctype html
html(lang="es")
    title Stage 3 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role="main")
            .carousel.slide#CarouselStage7(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage7" data-slide-to="0").active
                    li(data-target="#CarouselStage7" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage7-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage7-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage7" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage7" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 3
                        h5.Stage-subtitle.mb-4 Vila de Cruces - Meis
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 77km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 1700m
                            p.mb-0.mt-2.d-block Elevation gain downhill
                            span.pl-2 2100m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify The summits of the North
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level3.jpg")
                        p.text-justify A very rolling stage, in wich is very important to care our legs, because, even though it hardly has technical areas or big ramps, along its 77 kms it has some up-down areas that can deceive ourselves if we are not conservative.

                        p.text-justify We leave Vila de Cruces going up a road to start then to alternate dirt tracks with asphalt lanes, reaching the pass through River Deza over a metal footbridge. At this point we must push our bikes along a 150 mts stretch, because the path has some stepped areas.

                        p.text-justify Once we leave behind this path, we reach the base of the amazing waterfall of River Toxa, that, with its 60 mts of fall height, is one of the most spectacular waterfalls in Galicia.

                        p.text-justify We go on along farming paths and forest tracks, through villages and usually in ascent but without big slopes, to reach the maximum height of the stage (570 mts), in the North area of LIC Brañas de Xestoso.

                        p.text-justify We will face now a very funny descent of almost 9 kilometres where we will go along forest tracks, farming lanes and traditional paths surrounded by villages, creeks, little waterfalls, ancient water mills, petroglyphs, Celts fortifications, chapels and churches dated from the romanesque period to the galician neoclassicism.

                        p.text-justify We are submerged now into a time machine, that drives us along millenia through an amazing and wild landscape that people from these lands have domesticated for centuries.

                        p.text-justify In the 35th kilometre we start the ascent again, 9 kms of soft and comfortable climb that will take us to Mount Cabalar foothills. We are, little by little, gaining height over a valley that extends to the North, beyond the River Ulla, frontier with A Coruña province, giving us an immense horizon, below of which we can see the glitter of many rural cores.

                        p.text-justify Once we have reached the height of 510 mts, we start again a long descent that drives us to River Umia riverbanks, crossing the river passing through its magnificent riparian lands, watered by many rivers and among dense forests.

                        p.text-justify We arrive then, not before climbing some ascent stretches, without big ramps, to Lugar A Barosa, an spectacular area with water mills and waterfalls. We are now in the 66th km, and there are hardly 200 mts more of ascent left to reach our finish in Meis council, that settled in a privileged environment, it is a mosaic of landscapes including crop plains where the “gold” of these lands grows,  the  Alvariño  wine,  and  also  the  mountains  that  represent  amazing  viewpoints  over the famous galician estuaries.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-3-epic-race-2019-vila-de-cruces-meis-36715733") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa2.html'): button.btn.Button--stages Previous stage
                            .col-sm-6.text-right
                                a(href='etapa4.html'): button.btn.Button--stages Next stage
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug