doctype html
html(lang="es")
    title Stage 1 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role="main")
            .carousel.slide#CarouselStage5(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage5" data-slide-to="0").active
                    li(data-target="#CarouselStage5" data-slide-to="1")
                    li(data-target="#CarouselStage5" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage5-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage5-item2
                    .carousel-item.CarouselStage1-item.CarouselStage5-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage5" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage5" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 1
                        h5.Stage-subtitle.mb-4 (Pontevedra) - Moraña
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 70km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 1500m
                            p.mb-0.mt-2.d-block Elevation gain downhill
                            span.pl-2 1400m
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify The adventure begins
                            img.img-fluid.mb-2.w-100(src="../../assets/files/img/level1.jpg")
                            p.text-justify This is a very rolling stage, with very few technical stretches, and it is characterized by long steady steep climbs, but soft.

                            p.text-justify We leave Pontevedra behind, to face the first metres through the spectacular surroundings of River Lérez banks, one of the many gifts that nature gives to the city of Pontevedra and its estuary.

                            p.text-justify In the 9th kilometre, after a short asphalt junction, we start the climb. The first slopes are hard but short and, little by little, they soften, driving us to Mount Coirego foothills, getting this stage maximum height (670 mts) very close to the astronomical observatory.

                            p.text-justify From this point we start the descent, combining lanes, some asphalt stretches and paths, even though by the half of this stretch we will have to face some of the typical traditional galician “corredoiras” with paved surface, that will make us refine the drawn to avoid the rear wheel slips.

                            p.text-justify From this point we will pedal through beautiful mountain villages over Pontevedra county, where the galician people, for hundreds of years, have drawn villages and stone walls on a gorgeous green canvas.

                            p.text-justify We finish the descent crossing the River Lérez over a Roman bridge, where we arrive passing through the beautiful village of Pedre, that surprises us with its groups of “hórreos” and its magnificent state of preservation. A magic place that will make us travel in time.

                            p.text-justify After crossing the river we start the soft climb again, first on asphalt and after along a wide forest track. As we are gaining height the horizon makes wider and the view surprises us with many valleys and mountains from where we can sight the Pontevedra and Arousa estuaries.

                            p.text-justify In the 57th kilometre, we reach the second height of the stage, starting a very fast descent along a track that drives us to the last two hills.

                            p.text-justify Finally we arrive on asphalt to the village of Moraña, that settled among traditional forests and watered by the River Umia and a hundred of creeks and small rivers from the mountains surrounding, it gives us a natural environment that will delight both bikers and companions.
                            a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-1-epic-race-2019-pontevedra-morana-34619235") Track
                            .row
                                .col-sm-6.text-left
                                .col-sm-6.text-right
                                    a(href='etapa2.html'): button.btn.Button--stages Next stage
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug