doctype html
html(lang="es")
    title Epic Race Pontevedra
    include ./_includes/_head.pug
    body.Index
        .container-fluid.Index-container: .row.Index-row
                .col-sm-6.Index-epic
                    a.Index-caption.Index-caption--left.rounded.p-3(href='./es/epic300')
                        .Index-captionBg.p-3.rounded
                            h1.Index-title EPIC RACE 300
                            h5.Index-subtitle 300 km - 8.500 de acumulado positivo aproximado
                            h6.Index-date Límite 28 horas.
                .col-sm-6.Index-half
                    a.Index-caption.Index-caption--right.rounded.p-3(href='./es/epic200')
                        .Index-captionBg.p-3.rounded
                            h1.Index-title EPIC RACE 200 
                            h5.Index-subtitle 200 km - 5500 de acumulado positivo aproximado
                            h6.Index-date Límite 19 horas.
                //- .col-sm-4.Index-small
                //-     a.Index-caption.Index-caption--right.rounded.p-3(href='./es/small')
                //-         .Index-captionBg.p-3.rounded
                //-             h1.Index-title SMALL EPIC RACE 
                //-             h5.Index-subtitle 179 km - 4.000 de acumulado positivo aproximado
                //-             h6.Index-date Límite 15 horas. 30 y 31 de mayo