doctype html
html(lang="es")
    title Categorías 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Categorias
                    .col-sm-9
                        p.text-justify Uma categoria apenas terá prémios se tiver pelo menos 5 concorrentes.
                        ul
                            li.mb-2.text-justify Individual masculino
                            li.mb-2.text-justify Individual femenino
                            li.mb-2.text-justify Dupla masculino
                            li.mb-2.text-justify Dupla femenino
                            li.mb-2.text-justify Dupla mixto
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug