doctype html
html(lang="es")
    title Lista de inscritos 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-12
                        iframe(src="http://www.dorsal1.es/inscritos.php?id=575" width="100%" height="1500" frameborder="0")
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug