doctype html
html(lang="es")
    title Puntos de avituallamiento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-3
                        h3.u-title Puntos de avituallamiento
                    .col-sm-9
                        p.tex-justiy Os participantes terão 8 estações de abastecimento incluindo o da Meta, nos que vão estar localizados os pontos de controle. 
                        p Nos abastecimentos vão encontrar: 
                            ul: li Zona de estacionamento 
                                li Zona de banho/duche
                                li Abastecimento sólido/líquido (para os concorrentes) 
                                li Zona de controle de tempos e ponto de controle 
                        .row.py-4
                            .col-sm-12
                                ul.list-unstyled
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon1.svg" alt="icon1")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapsePontevedra" aria-expanded="false" aria-controls="collapsePontevedra"): h5.mt-0.mb-1 Pontecaldelas
                                            .collapse#collapsePontevedra
                                                p.text-justify Pontevedra é a capital da província e capital das Rias Baixas. O rio  Lerez atravessa a cidade e por isso é conhecida também como a “Cidade do  Lerez” e também como “ Boa Vila”. É uma cidade administrativa,  monumental, turística e de serviços, com uma população de 82549 habitantes.
                                                p.text-justify Em novembro de 2014 foi-lhe concedido o galardão mundial ONU-Habitat, entregado em  Dubai ( Emiratos Árabes Unidos) que a reconhece como uma das cidades européias mais cómodas para viver, especialmente em matéria de qualidade urbana, mobilidade e acessibilidade. Em 2015 foi-lhe concedido pelo mesmo motivo o prêmio de excelência urbana do  Center  for Active  Design na cidade de Nova York e o prêmio Cidade de Mobilidade Inteligente Euro-Chinesa 2015 entregado em Hong Kong, entre outros.
                                                p.text-justify Possui o centro histórico mais importante de Galiza, junto com o de Santiago de  Compostela. Dito capacete antigo foi declarado em sua totalidade Conjunto Histórico-Artístico em 1951 e tem sido qualificado pelo jornal inglês  The  Guardian como “uma magnífica cidade antiga”.
                                                a.Point-url(href="http://www.pontevedra.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.pontevedra.gal
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon3.svg" alt="icon3")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"): h5.mt-0.mb-1 Tui
                                            .collapse#collapseTui
                                                p.text-justify Tui é um município de 17000 habitantes, situado na parte oriental da comarca do Baixo  Miño, na província de  Pontevedra. A partir de 10 de fevereiro de 2012 junto à cidade de  Valença  do Minho (Portugal) formam uma  eurociudad como mostra de cooperação e integração entre ambas cidades separadas tão só por duas pontes que atravessam o rio  Miño. Um destas duas pontes é a Ponte Internacional de  Tui fundado em 1886.
                                                p.text-justify Tui conta com um importante património histórico, tais como a Catedral de Santa María de  Tui, uma das catedrais mais importantes de Galiza. Também é de destacar o Museu e Arquivo Histórico  Diocesano, que foi um antigo hospital de pobres e peregrinos, construído no ano 1756, o Convento e Igreja das  Clarisas é conhecido como convento das  Clarisas ou Encerradas que foi fundado no ano 1524, o Túnel das Freiras  Clarisas se encontra no fundo da rua que leva ao convento das  Clarisas, constituindo um dos rincões mais típicos de  Tui, a Igreja de San Francisco está dotada de biblioteca pública.
                                                p.text-justify O Passeio  Fluvial de  Tui, entre o rio e a antiga muralha  medieval oferece um espaço natural ideal para desfrutar em contacto com a natureza.
                                                p.text-justify Como património natural,  Tui conta com o Monte  Aloioa, que é uma cimeira situada na Serra de  Galiñeiro e declarada parque natural em 1978, com uma superfície de 746 hectares e o ponto mas alto situado a 629 metros de altitude (alto de San  Julián).
                                                p.text-justify Cabe destacar as Festas  Patronales de San  Telmo que começam no Sábado Santo e duram toda a semana até a Segunda-feira de San  Telmo (segunda-feira seguinte ao de  Pascua).
                                                a.Point-url(href="http://www.concellotui.org"): i.fa.fa-link(aria-hidden="true"): span http://www.concellotui.org
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon2.svg" alt="icon2")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"): h5.mt-0.mb-1 Redondela
                                            .collapse#collapseRedondela                                
                                                p.text-justify Redondela é um município situado na província de  Pontevedra e integrado na Área Metropolitana de  Vigo. Conta com 7376 habitantes no núcleo urbano e encontra-se a 13 km de  Vigo, a 20 de  Pontevedra e bem perto do Aeroporto de  Peinador.
                                                p.text-justify Conta com duas  viaductos do comboio, declarados Bem de Interesse Cultural em 1978, que atravessam  Redondela, as duas linhas do “Caminho de  Ferro” são: a de  Ourense e a de  Pontevedra, que  discurre ao longo da costa.
                                                p.text-justify Redondela possui numerosos  yacimientos arqueológicos, sendo os mais antigos do ano 3000 a.C. Um importante Castro encontra-se a uns 336 metros de altitude, conhecido como “ Coto  do Castro”.
                                                p.text-justify Também é de destacar certos lugares de interesse como a Ilha de San  Simón, a  ensenada de San  Simón, a ponte de  Rande.
                                                p.text-justify Redondela conta com várias festas, entre as que destacam; a Festa da Coca, que tem lugar no dia do  Corpus  Christi, foi declarada Festa de Interesse Turístico Galego no 2001, e a Festa do Choco, festa gastronómica que se celebra no mês de maio e também declarada Festa de Interesse Turístico Galego.
                                                a.Point-url(href="http://www.redondela.es"): i.fa.fa-link(aria-hidden="true"): span http://www.redondela.es
                                    li.media
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug
