doctype html
html(lang="es")
    title Reglamento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Regulamento
                    .col-sm-9
                        .Rules#accordion(role="tablist" aria-multiselectable="true")
                            //art.1
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading1(role="tab")
                                    a.Rules-link.mb-0(data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.1 Definição
                            .collapse#collapse1(role="tabpanel" aria-labelledby="heading1"): .card-block 
                                    p.text-justify A  EPIC  RACE  PONTEVEDRA, é uma prova  NON  STOP que se encontra no Calendário da  FGC e na que os participantes deverão percorrer 550 km com 13.000 metros de  desnivel acumulado positivo, por toda a Província de  Pontevedra, já seja de forma individual a em equipas de 2, 3 ou 4 pessoas, podendo no caso de ser equipas, se dar  relevos nos pontos habilitados no percurso. A prova dará início na sexta-feira 25 de mayo às 14:00 horas na praça de Espanha de  Pontevedra e finalizará no mesmo ponto às 17:00 horas como hora limite, isto é, num tempo máximo de 51 horas. Os participantes poderão realizar em caso que assim o desejem a  HALF  EPIC  RACE  PONTEVEDRA, enfrentando à metade do percurso e com um tempo limite de 25 horas, sendo a saída e a chegada no mesmo ponto.
                                    p.text-justify Na  EPIC  RACE  PONTEVEDRA, os participantes terão 8 pontos de parada, onde o passo é obrigatório. Em isto pontos habilitar-se-á zona de  avituallamiento,  duchas, estacionamento para os veículos de assistência. SÓ nestes pontos os participantes poderão receber assistência, FICANDO TOTALMENTE PROIBIDO, receber qualquer tipo de apoio ao longo do percurso. Ademais, nestes pontos é onde os participantes que vão nas categorias de EQUIPA, poderão realizar os apropriados  relevos.
                                    p.text-justify A prova considera-se um REPTO PESSOAL, pelo que se inclui na categoria de PROVA  CICLOTURISTA E realizar-se-á segundo regulamentação técnica e desportiva indicada no presente regulamento. Em caso que não exista alguma norma ou crê dúvida, aplicar-se-á o da Real Federação Espanhola de  Ciclismo ou em último caso o da União  Ciclista Internacional ( UCI).

                            //art.2
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading2(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.2 Inscrições e tarifas
                            .collapse#collapse2(role="tabpanel" aria-labelledby="heading2"): .card-block 
                                    p.text-justify Para poder participar dever-se-á estar em posse de uma licença de  ciclismo em vigor e  expedida por uma federação nacional de  ciclismo que esteja filiada à  UCI. Os participantes que não tenham licença espanhola, deverão contribuir além de sua licença, um certificado de sua Federação Nacional, que acredite que sua seguro tem validade em Espanha. No caso de não estar  federado, poder-se-á tramitar uma licença válida só para a prova, sendo preciso realizar um  abono de 10€ para a  HALF  EPIC  RACE e de 20€ para a  EPIC  RACE, segundo as tarifas estabelecidas pela  FGC.

                                    p.text-justify A  formalización da inscrição dever-se-á realizar na página site oficial: www.epicracepontevedra.com, na que é obrigatório rechear todos os dados que se solicitem no formulário e ter realizado o pagamento dos direitos de inscrição para que a inscrição seja válida.

                                    p.text-justify Os direitos de inscrição incluem:
                                    ul
                                        li: p.text-justify Direito de participação na prova.
                                        li: p.text-justify Dispositivo electrónico para o controle de tempos.
                                        li: p.text-justify Cesión de 1 dispositivo Cessão de 1 dispositivo de rastreamento on-line (Testemunha de Relevo) com  geolocalización. 
                                        li: p.text-justify Serviço médico durante a prova.
                                        li: p.text-justify Avituallamiento líquido e sólido na cada estação de parada.
                                        li: p.text-justify Chaleco conmemorativo do evento 
                                        li: p.text-justify Serviço de  fisioterapia no passo intermediário da prova.
                                        li: p.text-justify Serviço de acesso do veículo de assistência a zona de estacionamento do evento.
                                        li: p.text-justify FESTA FINAL: que celebrar-se-á ao final do evento às 13:30 horas para todos os participantes.
                                    p.text-justify As tarifas de inscrição ao evento são as seguintes
                                    table.table.table-striped.table-responsive
                                        thead: tr
                                                th Inscritos
                                                th Epic Race Individual
                                                th Epic Race Equipos 2-3-4
                                                th Half Epic Race Individual
                                                th Half Epic Race Equipos 2-3-4
                                        tbody
                                            tr
                                                th(scope="row") Do 1 ao 15 de dezembro de 2017 *
                                                td 99€
                                                td 89€
                                                td 79€
                                                td 69€
                                            tr
                                                th(scope="row") Do 16 de dezembro ao 20 de janeiro de 2018
                                                td 109€
                                                td 99€
                                                td 89€
                                                td 79€
                                            tr
                                                th(scope="row") Do 21 de janeiro ao 31 de marzo de 2018
                                                td 129€
                                                td 119€
                                                td 109€
                                                td 99€
                                            tr
                                                th(scope="row") Do 1 de abril ao 15 de maio de 2018
                                                td 139€
                                                td 129€
                                                td 119€
                                                td 109€
                                    small * Este período é reservado para os inscritos na edição anterior. Os participantes que não possuam uma LICENÇA FEDERATIVA devem pagar € 10 por seguro de um dia para o MEIO EPIC RACE e € 20 por um seguro de dois dias para o EPIC RACE (preços estabelecidos pelo FGC)
                                    small As inscrições serão feitas até 15 de maio de 2019 ou cobrirão 300 assentos para o EPIC RACE e 300 assentos para o HALF EPIC RACE.
                                    p.text-justify As inscrições serão feitas até 15 de maio de 2019 ou cobrirão 300 assentos para o EPIC RACE e 300 assentos para o HALF EPIC RACE.
                                    p.text-justify O REGISTRO PODE SER DEVOLVIDO NOS SEGUINTES PRAZOS POR QUALQUER RAZÃO DE CANCELAMENTO:
                                    ul
                                        li 100% DA TAXA DE INSCRIÇÃO: até 19 de fevereiro
                                        li 50% DA TAXA DE INSCRIÇÃO: até 1º de abril
                                        li 25% DA TAXA DE INSCRIÇÃO: até 1 de maio
                                        li 0% DA TAXA DE INSCRIÇÃO: a partir de 2 de maio
                            //art.3
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading3(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.3 Participação
                            .collapse#collapse3(role="tabpanel" aria-labelledby="heading3"): .card-block 
                                    p.text-justify Todos os participantes da  EPIC  RACE  PONTEVEDRA, devem ser maiores de 18 anos ou em caso de ter entre 16 e 18 anos deverão apresentar uma autorização assinada pelo pai e a mãe do menor, dantes do dia de fechamento de inscrições. Os participantes poderão inscrever-se numa das seguintes categorias de equipa: SÓ: Masculino ou Feminino.  DUO: Masculino ou Feminino.  TRIO: Masculino ou Feminino.  CUARTETO: Masculino ou Feminino. MISTO ABSOLUTO: equipas formadas com membros de ambos sexos. Poderão estar formados de 2 a 4 participantes. Para estabelecer qualquer destas ordens de chegada, terão de se ter inscrito um <strong>mínimo de cinco equipas.</strong> 
                                    p.text-justify Estabelece-se um limite de 600 PARTICIPANTES para esta segunda edição da  EPIC  RACE  PONTEVEDRA, entre ambas modalidades:  EPIC  RACE E  HALF  EPIC  RACE.
                                    p.text-justify A cada equipa deve levar um veículo de assistência, incluída a categoria SÓ, e dito veículo, será identificado com  vinilos facilitados pela organização. 
                                    p.text-justify A organização não ajudará os participantes que saírem por qualquer motivo que não seja uma EMERGÊNCIA DE SAÚDE. A assistência técnica será realizada levando o participante até a estação mais próxima para ser atendido pela sua asistencia.

                            //art.4
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading4(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.4 Recolhida de  dorsales
                            .collapse#collapse4(role="tabpanel" aria-labelledby="heading4"): .card-block 
                                    p.text-justify A recolhida de dorsales terá lugar na sexta-feira 29 de mayo em horário de 10:00 a 12:00 horas nas instalações da DIPUTACIÓN DE PONTEVEDRA. Será obrigatório apresentar a licença original e em vigor, para a recolhida de dorsales. A atribuição de dorsales será em função das categorias. A Half Epic race podera recoller tamén o 30 de maio de 9:30 a 11:30 horas.
                                    p.text-justify A organização entregará aos participantes:
                                    ul
                                        li: p.text-justify 1 carteira do corredor com  maillot  conmemorativo 
                                        li: p.text-justify 1 dorsal para as costas por participante.
                                        li: p.text-justify 1 placa para a  bicicleta por participante. 
                                        li: p.text-justify 1 dispositivo electrónico para o controle de tempos por participante.
                                        li: p.text-justify Cessão de 1 dispositivo de rastreamento on-line por equipa, que será a testemunha de relevo. À hora de recolher dito dispositivo, terá que  abonar a quantidade de 50 euros que será devolvida à hora de entregar novamente o dispositivo à organização.
                                        li: p.text-justify Ademais entregar-se-á uma  pulsera  identificativa à cada participante, que deverá levar posto durante todos os dias de prova. Esta  pulsera permitir-lhe-á aceder às áreas habilitadas para os participantes.
                                        li: p.text-justify 1 jogo de vinilos para os veículos de assistência por equipa.
                            //art.5
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading5(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.5 Briefing
                            .collapse#collapse5(role="tabpanel" aria-labelledby="heading5"): .card-block 
                                    p.text-justify Às 12:30 horas do dia 31 de maio, efectuar-se-á um  briefing onde detalhar-se-ão as características da prova. <strong>A assistência ao  briefing é obrigatória</strong>. A não assistência ao mesmo,  exime à organização de qualquer responsabilidade sobre os temas tratados.  
                            //art.6
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading6(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.6 Bicicleta
                            .collapse#collapse6(role="tabpanel" aria-labelledby="heading6"): .card-block 
                                    p.text-justify Poder-se-á participar com aquelas  bicicletas de duas rodas de igual diâmetro, sendo a roda  delantera a directriz e a roda  trasera a motriz; e accionada por um sistema de  pedales que actua sobre uma corrente. A propulsão realizar-se-á exclusivamente pela força das pernas do corredor, num movimento circular, com a ajuda de um  pedalier, e sem ajuda eléctrica ou qualquer outra. Só estão permitidas as  bicicletas de montanha com rodas de um diâmetro de 26, 27.5 ou 29 polegadas. Todos os canos (quadro,  manillar, acoples, etc.) da  bicicleta deverão estar tampados. Recomenda-se levar os repostos necessários para consertar a  bicicleta em caso de avaria. É obrigatório levar uma luz branca, na parte  delantera da  bicicleta, bem como uma luz vermelha na parte  trasera, que deverão se levar acendidas, desde o entardecer até o amanhecer. A critério do comité organizador, todas as  bicicletas que não apresentem os elementos de segurança necessários para a competição não serão autorizadas a tomar a saída.
                            //art.7
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading7(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.7 Equipamento
                            .collapse#collapse7(role="tabpanel" aria-labelledby="heading7"): .card-block 
                                    p.text-justify É obrigatório para todos os corredores:

                                    ul
                                        li: p.text-justify O uso do capacete rígido homologado para  ciclismo durante o  transcurso de toda a prova.
                                        li: p.text-justify O uso de elementos  reflectantes, independentes dos que se possam levar já na  vestimenta de  ciclista, para que os participantes sejam bem visíveis desde o entardecer até o amanhecer.
                                        li: p.text-justify Participar com os  dorsales entregados pela organização devidamente colocados nas costas do corredor e a placa com o número de  dorsal na parte  delantera da  bicicleta, e todos eles sem nenhuma alteração.
                                        li: p.text-justify Por motivos de segurança, levar telefone móvel com bateria suficiente para seu correcto funcionamento durante toda a prova. O número de móvel deverá ser comunicado à organização.
                                        li: p.text-justify Levar a testemunha de relevo (dispositivo de rastreamento on-line).
                                        li: p.text-justify Levar manta térmica.
                                        li: p.text-justify Com independência de que os  avituallamientos sejam completos e contem com sólido e líquido, se recomenda que os participantes portem  avituallamiento com eles mesmos.

                            //art.8
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading8(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.8 Desenvolvimento da prova
                            .collapse#collapse8(role="tabpanel" aria-labelledby="heading8"): .card-block 
                                    p.text-justify A grelha de saída será aberta 30 minutos dantes da hora de saída que está fixada às 14h do dia 31 de maio de 2019 na praça de Espanha da Prefeitura de  Pontevedra pra EPIC RACE e às 12h do dia 1 de junho de 2019 pra HALF EPIC RACE. Durante o percurso estabelecer-se-ão dois tipos de controles:
                                    ol
                                        li: p.text-justify Controle de passagem ( CP): Serão pontos do percurso nos que tomar-se-ão os tempos da cada um dos participantes/equipas. Estes poderão coincidir ou não com os pontos de  avituallamiento/relevo. Ignorar um controle de passagem suporá a exclusão da prova.

                                        li: p.text-justify Ponto de relevo ( PR): Estabelecer-se-ão pontos no percurso, denominados pontos de relevo, onde o corredor da equipa que está a correr, fará entrega da testemunha de relevo (dispositivo de rastreamento on-line) ao membro da equipa que pôr-se-á a correr em seu lugar. O relevo só estará permitido nestes pontos e na zona assinalada como zona de relevo. O membro da equipa considerada como corredor, será aquele que leve a testemunha de relevo. Estabelecer-se-ão pontos de  relevos que coincidirão com as Estações de  avituallamiento. Ignorar um ponto de relevo, ou chegar após a hora máxima fixada pela organização, suporá a exclusão da prova. Qualquer ajuda exterior suporá motivo de penalização.  

                            //art.9
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading9(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse9"     aria-expanded="true" aria-controls="collapse9")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.9 Chegada
                            .collapse#collapse9(role="tabpanel" aria-labelledby="heading9"): .card-block 
                                    p.text-justify A chegada será em  Pontevedra, na praça de Espanha, dando aos participantes um limite máximo de 51h ou 29h para a half epic race.
                            //art.10
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading10(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse10"     aria-expanded="true" aria-controls="collapse10")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.10 Rutómetro
                            .collapse#collapse10(role="tabpanel" aria-labelledby="heading10"): .card-block 
                                    p.text-justify <strong>O percurso não estará  flechado</strong>, é por isso que a organização publicará em sua página site, um  track de  GPS para o rastreamento do percurso. Nele detalhar-se-ão a distância, altitude, tipo de pista, ponto de relevo/estação de  Avituallamiento e hora de fechamento da cada um dos serviços.

                            //art.11
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading11(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.11 Percurso
                            .collapse#collapse11(role="tabpanel" aria-labelledby="heading11"): .card-block 
                                    p.text-justify O percurso é <strong>aberto ao tráfico</strong>. Os participantes devem seguir as indicações das autoridades de tráfico, respeitar as normas de circulação e circular com precaução. É obrigatório seguir o percurso e ordem de passagem fixada pela organização. O tempo máximo para efectuar todo o percurso será de 51 horas. Ademais, devem superar a cada um dos pontos de  avituallamiento/relevo nos tempos máximos estabelecidos pela organização para poder seguir em carreira.

                                    p.text-justify Os participantes não poderão se afastar mais de 500 m do percurso marcado pela organização , podendo ser  descalificados em caso do fazer. Em caso de afastar-se DEVERÃO VOLTAR NO PONTO DE INÍCIO. <strong><u>Se não o realizam, os participantes poderão ser descalificados da prova.</u></strong>
                            //art.12
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading12(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapse12") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.12 Estações de  avituallamiento
                            .collapse#collapse12(role="tabpanel" aria-labelledby="heading12"): .card-block 
                                    p.text-justify As estações de  avituallamiento estarão devidamente  señalizadas durante o percurso. Estas disporão de todo o necessário para cobrir as necessidades de alimentação e  hidratación dos participantes durante a prova. Ademais, nelas contar-se-á com uma zona de  ducha para os que assim o desejem e também uma zona de estacionamento para os veículos autorizados.

                            //art.13
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading13(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true" aria-controls="collapse13") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.13 Trechos  impracticables
                            .collapse#collapse13(role="tabpanel" aria-labelledby="heading13"): .card-block 
                                    p.text-justify O director da prova poderá decidir que um trecho do percurso se converteu em  impracticable e impossível de franquear, e poderá desviar o percurso pelos pontos alternativos previstos pela organização. Em caso que não seja possível, tomar-se-á como tempo de chegada o ponto onde se tenha podido estabelecer o  cronometraje.
                            //art.14
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading14(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="true" aria-controls="collapse14") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.14 Abandono
                            .collapse#collapse14(role="tabpanel" aria-labelledby="heading14"): .card-block 
                                    p.text-justify O abandono de um dos membros da equipa se deve comunicar tão cedo como seja possível à organização. Em caso de abandono de algum dos membros de uma equipa, os outros poderão continuar a prova, devendo manter a categoria de equipa na que se inscreveram. Se o corredor que abandona é o que está a correr, deverá fazer no ponto de relevo, devendo chegar por seus próprios meios e sem ajuda exterior alguma; em caso contrário toda a equipa deverá abandonar a prova

                            //art.15
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading15(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse15"     aria-expanded="true" aria-controls="collapse15") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.15 Odenes de chegada / Categorias
                            .collapse#collapse15(role="tabpanel" aria-labelledby="heading15"): .card-block 
                                    p.text-justify A soma de tempos efectuada pela cada membro de uma equipa em todos os trechos da prova, mais as penalizações de tempo acumuladas, estabelecerá o tempo da equipa. A ordem de chegada da prova estabelecer-se-á, ordenando os tempos das equipas de menor ao maior tempo. Em caso de igualdade a tempos, ficará por diante aquela equipa que tenha feito o último trecho da prova mais rápido. Estabelecer-se-á uma ordem de chegada pela cada uma das categorias participantes, bem como uma ordem  scratch, masculino e outro feminino. Nesta ordem contemplar-se-ão os tempos das equipas masculinas e/ou femininos de todas as categorias participantes, sendo o primeiro, aquele que tenha realizado a prova em menos tempo, independentemente do número de componentes da equipa. Qualquer equipa que oficialmente não tenha completado algum trecho (exclusão, abandono,  descalificación, etc.) não incluir-se-á na ordem de chegada.
                            //art.16
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading16(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse16"     aria-expanded="true" aria-controls="collapse16")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.16 Obsequios / Prêmios
                            .collapse#collapse16(role="tabpanel" aria-labelledby="heading16"): .card-block 
                                    ol
                                        li: p.text-justify Para todos os participantes que acabem a prova, fá-se-lhes-á entrega de uma medalha.
                                        li: p.text-justify Entregar-se-á um troféu aos três primeiros das seguintes categorias: SÓ: Masculino ou Feminino.  DUO: Masculino ou Feminino.  TRIO: Masculino ou Feminino.  CUARTETO: Masculino ou Feminino. MISTO ABSOLUTO 
                                        li: p.text-justify Para optar ao troféu é imperativo assistir à cerimónia de entrega de prêmios. Esta celebrar-se-á às 13.30 horas do domingo 10 de setembro.
                            //art.17
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading17(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="true" aria-controls="collapse17") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.17 Cerimónia de entrega de troféus
                            .collapse#collapse17(role="tabpanel" aria-labelledby="heading17"): .card-block 
                                    p.text-justify A entrega de ditos  obsequios aos melhores tempos está fixada às 13.30 horas do domingo 2 de junho na praça de Espanha da Prefeitura de  Pontevedra. É obrigatória sua assistência vestido com roupa desportiva. A não assistência significa a perda do obsequio apropriado e seu  descalificación. Se a equipa premiada não assiste por estar ainda em prova, fá-se-lhe-á a entrega posteriormente.
                            //art.18
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading18(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="true" aria-controls="collapse18") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.18 Penalizações
                            .collapse#collapse18(role="tabpanel" aria-labelledby="heading18"): .card-block
                                    table.table.table-striped.table-responsive
                                        thead: tr
                                                th 
                                                th Exclusão
                                                th Penalização em tempo
                                                th Não permitir saída
                                        tbody
                                            tr
                                                th(scope="row") Comportamentos violentos entre corredores
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Se sacar o capacete durante a prova
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Não realizar a saída com capacete, placa,  dorsal,  manta térmica, testemunha relevo
                                                td 
                                                td 
                                                td X
                                            tr
                                                th(scope="row") Não levar luzes  delanteras e  traseras desde o  anochecer ao amanhece
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Não passar pelos pontos de  cronometraje segundo a ordem estabelecida pela organização. 
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Não passar pela estação de  avituallamiento  
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Não levar a testemunha de relevo  
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Se separar mais de 500 m do  track marcado  
                                                td 
                                                td 3 horas
                                                td 
                                            tr
                                                th(scope="row") Não respeitar as normas de circulação 
                                                td 
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Atirar qualquer tipo de  envoltorio fora das zonas habilitadas 
                                                td 
                                                td 3 horas
                                                td 
                                            tr
                                                th(scope="row") Não levar os  dorsales na zona estabelecida  
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Receber assistência mecânica durante os diferentes trechos da prova 
                                                td 
                                                td 4 horas
                                                td 
                                            tr
                                                th(scope="row") Receber material de qualquer pessoa externa  
                                                td 
                                                td 4 horas
                                                td 
                                            tr
                                                th(scope="row") Passar pela zona de  avituallamiento fora das horas de controle
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Desvio do percurso estabelecido
                                                td X
                                                td 
                                                td 
                            //art.19
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading19(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="true" aria-controls="collapse19") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.19 Reclamações
                            .collapse#collapse19(role="tabpanel" aria-labelledby="heading19"): .card-block 
                                    p.text-justify Toda a reclamação poderá se realizar por escrito até 30 minutos após se publicar a ordem de chegada final no escritório de Direcção da prova. A direcção da prova guarda-se o direito a sancionar a algum corredor/a que infrinja qualquer das normas anteriormente indicadas se tem  constancia de dita infracção.


                            //art.20
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading20(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="true" aria-controls="collapse20") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.20 Desporto e natureza
                            .collapse#collapse20(role="tabpanel" aria-labelledby="heading20"): .card-block 
                                    p.text-justify Nosso desporto, a  bicicleta de montanha, é uma actividade que se desenvolve na natureza e seu impacto neste meio é uma responsabilidade para todos os participantes e organizadores de provas desportivas. Rogamos que sejam respeitosos com o meio natural pelo que decorre o percurso da prova, prestando atenção ao lixo,  envoltorios, restos de  avituallamientos, circular fora dos  carriles abertos, não tomar atalhos que danifiquem à vegetação, respeitar aos  peatones, ter cuidado com os animais na montanha, não deixar atirado nenhuma troca, etc. Sair do percurso naturalmente delimitado ou invadir uma propriedade privada suporá a exclusão da prova.


                            //art.21
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading21(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="true" aria-controls="collapse21") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.21 Acidentes e perdas
                            .collapse#collapse21(role="tabpanel" aria-labelledby="heading21"): .card-block 
                                    p.text-justify A organização não se faz responsável por nenhum acidente do que pudesse ser causa ou vítima o participante, que deverá estar coberto pelos seguros próprios da prova, como também não se faz solidário das despesas nem das dívidas que pudessem contrair os participantes durante a marcha, nem dos  extravíos ou avarias que pudessem sofrer as  bicicletas ou outro equipamento dos participantes. O participante  exime à organização de responsabilidade por perda ou deterioração de objetos pessoais por qualquer circunstância.


                            //art.22
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading22(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="true" aria-controls="collapse22") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.22 Direito de imagem
                            .collapse#collapse22(role="tabpanel" aria-labelledby="heading22"): .card-block 
                                    p.text-justify A aceitação do presente regulamento implica obrigatoriamente que o participante autoriza à organização da prova  EPIC  RACE  PONTEVEDRA à gravação total ou parcial de sua participação na mesma, presta seu consentimento para que possa ser utilizada sua imagem na promoção e difusão da prova, de todas as formas possíveis (rádio, imprensa, video, foto, dvd, internet, cartazes, meios de comunicação, etc.…), e cede todos os direitos relativos à exploração comercial e publicitária que a organização considere oportuno executar, sem direito por sua vez a receber compensação económica alguma.

                            //art.23
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading23(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="true" aria-controls="collapse23") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.23 Considerações
                            .collapse#collapse23(role="tabpanel" aria-labelledby="heading23"): .card-block 
                                    p.text-justify Todos os participantes devem ser respeitosos com os outros participantes, membros da organização, meios de comunicação e público. A organização reserva-se o direito a alterar ou modificar o presente regulamento em qualquer momento. A  INSCRIPCION NA  EPIC  RACE  PONTEVEDRA Ou NA  HALF  EPIC  RACE  PONTEVEDRA, IMPLICA A ACEITAÇÃO DE DITO REGULAMENTO

                            //art.24
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading24(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="true" aria-controls="collapse24") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.24 Protecção de dados pessoais
                            .collapse#collapse24(role="tabpanel" aria-labelledby="heading24"): .card-block 
                                    p.text-justify A empresa  GLOBALDXT  PONTEVEDRA, garante o pleno cumprimento do regulamento de protecção de dados de carácter pessoal, e assim, de acordo com a Lei Orgânica 15/1999, o assinante fica informado e presta seu consentimento à incorporação de seus dados aos ficheiros automatizados existentes na empresa e ao tratamento dos mesmos para sua utilização em relação com gestões administrativas, comerciais e outras actividades próprias da mesma.
                                    p.text-justify A política de privacidade de GLOBAL  DXT  PONTEVEDRA, assegura-lhe, em todo o caso, o exercício dos direitos de acesso, rectificação, cancelamento e oposição, nos termos estabelecidos na legislação vigente, mediante escrito dirigido a  GLOBALDXT  PONTEVEDRA rua  echegaray nº 20 5º A  Pontevedra, sendo responsável pelo ficheiro, GLOBAL  DXT  PONTEVEDRA S.L com domicílio a estes efeitos na direcção dantes indicada.
                                    p.text-justify O assinante aceita que possam ser cedidos seus dados exclusivamente para aquelas actividades encaminhadas ao correcto funcionamento da gestão e administração interna da empresa GLOBAL  DXT  PONTEVEDRA. Assim mesmo, o assinante aceita que a empresa GLOBAL  DXT  PONTEVEDRA S.L dirija-lhe informação sobre quaisquer produtos, gestões ou serviços que possam comercializar. A aceitação do assinante para que possam ser tratados ou cedidos seus dados na forma estabelecida neste parágrafo, tem sempre carácter  revocable, sem efeitos  retroactivos, conforme ao que dispõem os artigos 6 e 11 da Lei Orgânica 15/1999 de 13 de dezembro.
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug