doctype html
html(lang="es")
    title Tarifas 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Roupa do evento
                    .col-sm-9
                        p Nós apresentamos a camisa oficial do teste, que você terá junto com o seu registro.
                        img.img-fluid.mb-5.w-100(src="../../assets/files/img/maillot-oficial.jpg")
                        p Além disso, você também pode obter uma segunda camisa ou um colete, selecionando-a no momento da inscrição, por € 25 por unidade.
                        .imgs-wrapper
                            img.img-fluid.mb-5.w-100(src="../../assets/files/img/chaleco.jpg")
                            img.img-fluid.mb-5.w-100(src="../../assets/files/img/maillot-opcion-2.jpg")
                        a.color-link(href="../../assets/files/pdf/guia-tallas.pdf" target="_blank"): button.btn.Button--inscription.my-2.my-sm-0(type='submit') Guía de tallas
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug