doctype html
html(lang="es")
    title Categorías 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerGL.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Categorias
                    .col-sm-9
                        p.text-justify  Para que poda facerse unha das categorías e poder optar á entrega de premios, é preciso que se anoten polo menos 5 participantes/equipos en cada unha delas.
                        ul
                            li.mb-2.text-justify Individual masculino
                            li.mb-2.text-justify Individual feminino
                            li.mb-2.text-justify Parellas masculino
                            li.mb-2.text-justify Parellas feminino
                            li.mb-2.text-justify Parellas mixto
                            li.mb-2.text-justify Equipos de tres masculino 
                            li.mb-2.text-justify Equipos de tres feminino
                            li.mb-2.text-justify Equipos de tres mixto
                            li.mb-2.text-justify Equipos de 4 masculino
                            li.mb-2.text-justify Equipos de 4 feminino
                            li.mb-2.text-justify Equipos de 4 mixto
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug