doctype html
html(lang="es")
    title Etapa 6 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerGL.pug
        main(role="main")
            .carousel.slide#CarouselStage2(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage2" data-slide-to="0").active
                    li(data-target="#CarouselStage2" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage2-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage2-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage2" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage2" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 6
                        h5.Stage-subtitle.mb-4 Ponte Caldelas - Ponteareas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 56km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1400m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1500m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify O país dos mil ríos
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level6.jpg")
                        //- p.text-justify Arrancamos com uma primeira ascensão aos montes que separam a cidade de Vigo e sua costa da falha conhecida como Depressão Meridiana que, durante milénios, tem definido a principal via de comunicação entre o norte e o sul da província e no que Redondela tem jogado um papel essencial tanto por via marítima como terrestre.
                        //- p.text-justify Por asfalto primeiro e alternando caminhos e sendas mais adiante, atingimos a máxima cota desta primeira parte da etapa, na que gozamos de umas impressionantes vistas sobre a cidade de Vigo e sua ria.
                        //- p.text-justify A seguir começamos um descenso por caminhos até a presa de Zamáns, ponto no que começamos uma nova ascensão que nos leva pelas impressionantes saias da serra de Ou Galiñeiro, uma das zonas mais emblemáticas dos montes do sudoeste da província de Pontevedra.
                        //- p.text-justify Abandonamos esta serra em descenso para, a seguir, faldear o cara norte do Parque Natural do Monte Aloia (Tui) e continuar pelos magníficos bosques que possui o concello de Gondomar em sua zona sul. Em todo este trecho circulamos por caminhos florestais muito rodadores.
                        //- p.text-justify Chegamos assim ao concello de Baiona, onde começamos o ataque à serra da Groba, no que alternamos duros repechos com algumas zonas de descanso nas que nossas pernas agradecerão se tomar um respiro para voltar de novo ao ónus.
                        //- p.text-justify Rebasado este duro trecho ver-nos-emos recompensados com uma vistas sobre ria-las que atingem até a província da Corunha. Neste ponto ainda temos mais de 30 km por diante, nos que devemos superar os caminhos que nos levam à cota máxima da etapa (584m) e que, em ocasiões, exigirão o melhor de nós para superar algumas zonas de pedras soltas.
                        //- p.text-justify Finalmente começamos um longo descenso por pistas e caminhos e no que ver-nos-emos obrigados a superar também alguma rampa em ascensão.
                        //- p.text-justify Chegamos assim à monumental cidade de Tui, que enclavada na margem do Riu Miño, nos surpreende com um meio arquitectónico, natural, cultural e gastronómico que não devemos deixar de conhecer.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-6-epic-race-2019-ponte-caldelas-ponteareas-36716222") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa5.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa7.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug