doctype html
html(lang="es")
    title Etapa 1 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerGL.pug
        main(role="main")
            .carousel.slide#CarouselStage5(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage5" data-slide-to="0").active
                    li(data-target="#CarouselStage5" data-slide-to="1")
                    li(data-target="#CarouselStage5" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage5-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage5-item2
                    .carousel-item.CarouselStage1-item.CarouselStage5-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage5" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage5" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 1
                        h5.Stage-subtitle.mb-4 (Pontevedra) - Moraña
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 70km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1500m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1400m
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify Comeza a aventura
                            img.img-fluid.mb-2.w-100(src="../../assets/files/img/level1.jpg")
                            //- p.text-justify Esta é uma etapa na que o ciclista deve ser conservador, já que ainda que os dois portos não apresentam especiais complicações técnicas, se alternam zonas de ascensão tendida com algumas rampas de desnivel superior ao 15%, o que pode minar nossas forças face ao último repecho da etapa. É, portanto, uma etapa na que prima a inteligência do ciclista escalador.
                            //- p.text-justify Abandonamos Pontevedra para enfrentar os primeiros metros pelo meio natural da Xunqueira de Alba, um dos múltiplos presentes dos que a natureza tem dotado à cidade.
                            //- p.text-justify Enfrentamos a seguir a primeira ascensão, primeiro por asfalto, até chegar à saia do monte Castrove. As primeiras rampas duras surpreendem-nos com uma superfície de betão que, depois, passará a ser um caminho de terra. Este trecho que se vai suavizando e nos conduz para a cume deste monte que é o teto da etapa (608m).
                            //- p.text-justify Chegando à cimeira umas vistas, que não deixam a ninguém indiferente, nos mostram a ria de pontevedra e, em poucos metros, mudamos a panorámica pela da ria de Arousa, a qual nos chama com um divertido descenso por pistas de terra e erva.
                            //- p.text-justify Desde aqui avançamos uns quilómetros por uma senda que serpentea em plano, seguindo o Rego de San Martiño, que abandonamos para atravessar a localidade de Barrantes. Desde aqui acedemos às margens do rio Umia, pelas que circulamos procurando as laderas do seguinte porto, enquanto contemplamos os viñedos onde cresce o albariño, o ouro líquido destas terras do vale do Salnés
                            //- p.text-justify Chegamos assim as saias do monte Xiabre. A primeira rampa apresenta algo de dureza por sua inclinação, mas em seguida se suaviza, reservando algumas de suas zonas mas difíceis para o último quilómetro, chegando assim aos 565m de altura.
                            //- p.text-justify O descenso volta-se mais acusado a média ladera e, sem excessivas complicações técnicas,salvo alguma zona com pedras soltas pela acção do água, vai-nos levando até a localidade de Caldas de Reis, pela que cruzamos o rio Umia para enfrentar os últimos quilómetros, não sem dantes superar uma última ascensão, que nos presenteia alguma rampa exigente em seu início.
                            //- p.text-justify Finalmente chegamos por asfalto à localidade de Moraña, que enclavada entre bosques tradicionais e regada pelo rio Umia e seus centos de regatos e rios procedentes de seus montes, nos presenteia um meio natural que hara as delícias de corredores e acompanhantes.
                            a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-1-epic-race-2019-pontevedra-morana-34619235") Track
                            .row
                                .col-sm-6.text-left
                                .col-sm-6.text-right
                                    a(href='etapa2.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug