doctype html
html(lang="es")
    title Etapa 7 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerGL.pug
        main(role="main")
            .carousel.slide#CarouselStage3(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage3" data-slide-to="0").active
                    li(data-target="#CarouselStage3" data-slide-to="1")
                    li(data-target="#CarouselStage3" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage3-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage3-item2
                    .carousel-item.CarouselStage1-item.CarouselStage3-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage3" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage3" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 7
                        h5.Stage-subtitle.mb-4 Ponteareas - Redondela
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 76km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1600m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1600m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify Os balcóns do sur
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level7.jpg")
                        //- h5.u-subtitle.mb-2.text-justify Etapa caracterizada por uma primeira metade muito rápida pelas margens dos rios Miño e Tea e uma segunda parte de portos de montanha, na que atingimos cotas próximas aos 900m, na que não existem zonas especialmente técnicas nem inclinadas em ascensão, mas se alguma baixada por caminho florestal com terreno solto. É idônea para ciclistas rodadores mas que devem saber se administrar em subidas tendidas mas muito longas e que devem saber jogar bem com os travões nas baixadas.
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level7.jpg")
                        //- p.text-justify Abandonamos Tui pelo lado do Miño, alternando amplos caminhos com sendas um pouco mais ratoneras. A continuacion circulamos uns quilómetros por asfalto entre povos para chegar ao rio Tea, no que voltamos aos caminhos quase sem inclinação mas com zonas algo reviradas. Em general estes primeiros 40 kms, realizam-se muito rápido e não há lugar para o aburrimiento tanto pelo traçado como pelo meio.
                        //- p.text-justify A partir do km 40 enfrentamos as primeiras rampas, as primeiras são as mais duras mas depois convertem-se numa subida constante sem muita inclinação que vai ganhando cota pelas margens do vale de Alén até atingir o primeiro porto a 846m.
                        //- p.text-justify A seguir inicámos um rápido descenso para o povo da Airoa. Este trecho é por pistas florestais amplas, mas sua inclinação que chega em algum caso ao 18% e alguma zona com pedra solta obrigar-nos-ão a sacar o máximo partido a nossos travões.
                        //- p.text-justify Uma vez superado o descenso e já no povo de Entrerrios, começamos uma nova ascensão com rampas exigentes que se vão suavizando pouco a pouco para, a seguir, enfrentar ora zona de baixada com umas vistas impressionantes da serras de Ou Suido, Ou Cando e os incríveis montes e bosques que possui o concello da Lamba.
                        //- p.text-justify Após a ponte medieval de Liñares começamos uma nova ascensão que, uma vez coroado, nos leva para A Lamba, alternando caminhos de terra e estradas rodeadas dos exuberantes bosques tradicionais deste concello.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-7-epic-race-2019-ponteareas-redondela-36750884") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa6.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa8.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug