doctype html
html(lang="es")
    title Etapa 8 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerGL.pug
        main(role="main")
            .carousel.slide#CarouselStage4(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage4" data-slide-to="0").active
                    li(data-target="#CarouselStage4" data-slide-to="1")
                    li(data-target="#CarouselStage4" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage4-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage4-item2
                    .carousel-item.CarouselStage1-item.CarouselStage4-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage4" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage4" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 8
                        h5.Stage-subtitle.mb-4 Redondela - (Pontevedra)
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 57km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1600m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1600m
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify A conquista do reto
                            img.img-fluid.mb-2.w-100(src="../../assets/files/img/level8.jpg")
                            //- p.text-justify Saímos da Lamba enfrentando uma ascensão de 3 km, que nos leva à cimeira do monte de Ou Ceo (céu em galego) um merecido nome dadas as magníficas panorámicas que nos presenteia do paraíso natural que é este concello.
                            //- p.text-justify A seguir devemos superar um descenso exigente por pistas florestais e caminhos tradicionais com algum trecho no que devemos trabalhar a fundo com os travões.
                            //- p.text-justify Continuamos alternando subidas e baixadas por caminhos tradicionais e pistas florestais que nos deleitassem com sua beleza mas nos que não devemos despistarnos da traçada.
                            //- p.text-justify Chegamos assim à população de Pontecaldelas, na que entramos para abandonar pelas margens do rio Verdugo, procurando as laderas das serras de Pé dá Múa e A Castrelada, pelas que circulamos por caminhos e pistas florestais muito rodadores.
                            //- p.text-justify A seguir enfrentamos outra zona de amplas pistas florestais primeiro em descenso e depois llaneando, procurando a última serra da etapa e da Epic Race, A Fracha, nela transitaremos por caminhos florestais os alternando alguma baixada rápida e divertida que levar-nos-á a desfrutar de umas impressionantes vistas da ria de Vigo e da cidade de Pontevedra e seu privilegiado enclave no centro da ria do mesmo nome.
                            //- p.text-justify Chegamos em descenso ao meio de Pontevedra e acedemos por asfalto ao centro da cidade. É o momento no que seguro que assaltar-nos-ão as emociones produto de todo o vivido ao longo desta Epic Race Pontevedra.
                            //- p.text-justify A meta e a cidade esperam-nos, é o momento de celebrar o ter superado este imenso desafio.
                            a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-8-epic-race-2019-redondela-pontevedra-36716350") Track
                            .row
                                .col-sm-6.text-left
                                    a(href='etapa7.html'): button.btn.Button--stages Etapa anterior
                                .col-sm-6.text-right
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug