.Stage-subtitle {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.Stage-data{
    background-color: #fff;
    color: rgba(174, 228, 181, 1);
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: .95rem;
}

.Stage-data span {
    color: #8e8e8e;
    font-size: 1.3rem;
}

.CarouselStage1-inner {
    height: 50vh;
}

.CarouselStage1-item.active,
.CarouselStage1-item-next,
.CarouselStage1-item-prev {
  display: block;
}

.CarouselStage1-item {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.CarouselStage1-item1 {
    background-image: url("../files/img/carouselStage101.jpg");
}

.CarouselStage1-item2 {
    background-image: url("../files/img/carouselStage102.jpg");
}

.CarouselStage1-item3 {
    background-image: url("../files/img/carouselStage103.jpg");
}

.CarouselStage2-item1 {
    background-image: url("../files/img/carouselStage201.jpg");
}

.CarouselStage2-item2 {
    background-image: url("../files/img/carouselStage202.jpg");
}

.CarouselStage3-item1 {
    background-image: url("../files/img/carouselStage301.jpg");
}

.CarouselStage3-item2 {
    background-image: url("../files/img/carouselStage302.jpg");
}

.CarouselStage3-item3 {
    background-image: url("../files/img/carouselStage303.jpg");
}

.CarouselStage4-item1 {
    background-image: url("../files/img/carouselStage401.jpg");
}

.CarouselStage4-item2 {
    background-image: url("../files/img/carouselStage402.jpg");
}

.CarouselStage4-item3 {
    background-image: url("../files/img/carouselStage403.jpg");
}

.CarouselStage5-item1 {
    background-image: url("../files/img/carouselStage501.jpg");
}

.CarouselStage5-item2 {
    background-image: url("../files/img/carouselStage502.jpg");
}

.CarouselStage5-item3 {
    background-image: url("../files/img/carouselStage503.jpg");
}

.CarouselStage6-item1 {
    background-image: url("../files/img/carouselStage601.jpg");
}

.CarouselStage6-item2 {
    background-image: url("../files/img/carouselStage602.jpg");
}

.CarouselStage6-item3 {
    background-image: url("../files/img/carouselStage603.jpg");
}

.CarouselStage7-item1 {
    background-image: url("../files/img/carouselStage701.jpg");
}

.CarouselStage7-item2 {
    background-image: url("../files/img/carouselStage702.jpg");
}

.CarouselStage8-item1 {
    background-image: url("../files/img/carouselStage801.jpg");
}

.CarouselStage8-item2 {
    background-image: url("../files/img/carouselStage802.jpg");
}

.CarouselStage8-item3 {
    background-image: url("../files/img/carouselStage803.jpg");
}