doctype html
html(lang="es")
    title Etapa 2 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfGL.pug
        main(role="main")
            .carousel.slide#CarouselStage6(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage6" data-slide-to="0").active
                    li(data-target="#CarouselStage6" data-slide-to="1")
                    li(data-target="#CarouselStage6" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage6-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage6-item2
                    .carousel-item.CarouselStage1-item.CarouselStage6-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage6" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage6" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 2
                        h5.Stage-subtitle.mb-4 Ponte Caldelas - Ponteareas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 56km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1400m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1500m
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify O país dos mil ríos
                            img.img-fluid.mb-2.w-100(src="../../assets/files/img/level6.jpg")
                            //- p.text-justify Saímos de Moraña por seus magníficos bosques, procurando o Norte e, depois de cruzar o rio Umia, avançamos até o km 10 por caminhos muito rápidos e com nula ou leve inclinação. A partir deste ponto começamos uma dura ascensión ao monte Xesteiras (703m) com rampas que superam o 15% sobre pista florestal larga que, em algumas zonas apresenta terreno solto. O descenso é muito rápido por caminhos florestais e sendas, nas que não devemos despistarnos do GPS. Uma baixada divertida que fará as delícias dos ciclistas.
                            //- p.text-justify Enfrentamos a seguir um fundo de vale entre aldeias, para atacar a subida ao monte Cabalar. Este monte não apresenta rampas especialmente complicadas, mas se que nos encontramos algumas custas com terreno solto que nos exigem afinar e procurar o tempo todo a traçada mais limpa. O descenso é rápido, divertido e sem excessivas complicações.
                            //- p.text-justify Após um pequeno trecho entre aldeias começamos uma nova ascensão combinando pistas de asfalto, caminhos de terra e caminhos tradicionais, entre carballeiras. Finalmente atingimos a cota máxima da etapa (719m) após uma sucessão de rectas em ligeira ascensão por caminhos muito limpos e rápidos. Estamos no meio natural das Brañas de Xestoso, que nos brindam umas magnificas vistas sobre esta penillanura coberta por um imenso horizonte.
                            //- p.text-justify Descemos por caminhos rápidos e cómodos que nos vão acercando, entre lugares naturais e aldeias, até o monasterio de Carboeiro (século X), ponto no que cruzamos o rio Deza para, a seguir, enfrentar uma última ascensão, passando pelo museu da mineração de Fontao.
                            //- p.text-justify Uma vez acima já só fica enfrentar os últimos quilómetros para chegar a Vila de Cruzes, concello que nos brinda uns fantásticos meios rurais e uma imensa história que afunda suas raices desde os tempos mais pretéritos da prehistoria de Galiza, passando por todas as épocas da história. Um grande desconhecido com muito que presentear.
                            a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-6-epic-race-2019-ponte-caldelas-ponteareas-36716222") Track
                            .row
                                .col-sm-6.text-left
                                    a(href='etapa1.html'): button.btn.Button--stages Etapa anterior
                                .col-sm-6.text-right
                                    a(href='etapa3.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug