doctype html
html(lang="es")
    title Etapa 3 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfGL.pug
        main(role="main")
            .carousel.slide#CarouselStage7(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage7" data-slide-to="0").active
                    li(data-target="#CarouselStage7" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage7-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage7-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage7" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage7" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 3
                        h5.Stage-subtitle.mb-4 Ponteareas - Redondela
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 76km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1600m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1600m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify Os balcóns do sur
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level7.jpg")
                        //- p.text-justify Abandonamos Vila de cruzes por estrada para a seguir começar a alternar caminhos de terra com outros asfaltados e assim chegar ao passo do rio Arnego, que se realiza por uma ponte de madeira.
                        //- p.text-justify Estamos no meio natural do Sobreiral de Arnego, um meio impressionante e o maior alcornocal de Galiza, que se integra no impressionante canhão que forma o rio Arnego em seu discurrir desde seu nascimento no Sur até sua desembocadura no Embalse de Portodemouros, nome que nos fala de antiquísimos mitos que constroem a cultura galega desde tempos inmemoriales.
                        //- p.text-justify Desde o rio começamos um periplo de contínuas subidas e baixadas sem excessiva inclinação e que levar-nos-ão para o sul entre caminhos agrícolas, pistas florestais e aldeias.
                        //- p.text-justify Chegamos assim à Fraga de Catasós, um espaço com alguns dos castaños mais altos e antigos de Europa, ao lado da que transitaremos para, a seguir, percorrer alguns caminhos em ascensão entre prados e aldeias.
                        //- p.text-justify Uma vez superada uma zona que alterna subidas e baixadas curtas, entramos no espaço natural da serra de Ou Candán, ao que chegamos em ligeiro descenso enquanto vislumbramos,ao fundo, a subida que nos espera a seguir, 6 quilómetros de ascensão com uma pendente média de 9% e quase sem descanso.
                        //- p.text-justify Chegamos assim à cume da Epic Race Pontevedra, desde este ponto circulamos pela crista da serra para o sul, chegando a tocar os Montes do Testeiro para, após cruzar o N-541, começar a descer alternando pistas florestais, caminhos tradicionais e alguma zona asfaltada.
                        //- p.text-justify Um último repecho por terreno muito rodador espera-nos dantes de enfrentar umas magníficas corredoiras tradicionais em descenso, chegando assim a Forcarei.
                        //- p.text-justify Este Povo, uma das duas cabeças do concello de Forcarei-Cotobade, encontra-se num balcón natural que conformam os rios Lérez e Do Castro e seus múltiplos regatos e rios tributários. Seus pintorescas aldeias de pedra pintam tons cinzas sobre uma tela verde que é vigiado pelas sierrasque conformam suas inumerablas montes e que, no entanto, não têm podido isolar a este lugar de nenhuma época da história.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-7-epic-race-2019-ponteareas-redondela-36750884") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa2.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa4.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug