doctype html
html(lang="es")
    title Reglamento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerGL.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Preguntas frecuentes
                    .col-sm-9
                        .Rules#accordion(role="tablist" aria-multiselectable="true")
                            //art.1
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading1(role="tab")
                                    a.Rules-link.mb-0(data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Cantos kilómetros ten a proba?
                            .collapse.show#collapse1(role="tabpanel" aria-labelledby="heading1"): .card-block
                                    p.justify-text A epic race conta con 550 km de puro MTB o longo de toda a provincia de Pontevedra e a half epic race de 270 km  
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading2(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Qué acumulado positivo total ten?
                            .collapse#collapse2(role="tabpanel" aria-labelledby="heading2"): .card-block
                                    p.justify-text El total das 4 etapas suma 6.300 m de desnivel acumulado positivo 
                            //art.3
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading3(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Cantas estacións de avituallamento ten a proba? 
                            .collapse#collapse3(role="tabpanel" aria-labelledby="heading3"): .card-block 
                                    p.justify-text Os participantes Terán 4 estacións de avituallamento contando coa Meta, na que se atopan os puntos de control e de paso obrigado. 

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading4(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué límite máximo de horas teño para acabala? 

                            .collapse#collapse4(role="tabpanel" aria-labelledby="heading4"): .card-block
                                     p.justify-text En cada unha das etapas teremos un tempo límite para rematalas. O límite total é de 25 horas, pero é moi importante saber que se non chega o punto de control antes do tempo límite marcado por cada etapa ( os tempos límites iran acumulándose), o corredor/equipo estará fora da proba.  

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading5(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿O percorrido está marcado?

                            .collapse#collapse5(role="tabpanel" aria-labelledby="heading5"): .card-block
                                     p.justify-text O percorrido NON ESTÁ MARCADO. Polo que é preciso utilizar un terminal GPS no que os participantes terán o percorrido facilitado pola organización.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading6(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Podo elegir un percorrido alternativo marcado pola organización? 

                            .collapse#collapse6(role="tabpanel" aria-labelledby="heading6"): .card-block
                                    p.justify-text NON. A organización ten disposto unha zona de control na que se controla o percorrido de cada participante. Aqueles participantes que se separen máis de 500 m do track e non volten o punto do track marcado, serán EXPULSADOS da proba. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading7(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿ Poden axudarme durante o percorrido? 
                            .collapse#collapse7(role="tabpanel" aria-labelledby="heading7"): .card-block 
                                    p.justify-text Está PROHIBIDO, recibir calquera tipo de axuda externa durante o percorrido. Só nos punto de avituallamento poderase recibir axuda. Polo que os participantes terán que chegar polos seus própios métodos ós puntos de control. 
                            
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading8(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué pasa se non se chega ó punto de control? 

                            .collapse#collapse8(role="tabpanel" aria-labelledby="heading8"): .card-block
                                    p.justify-text O equipo/participante quedará fora da competición e polo tanto do control da organización.  
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading9(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse9"     aria-expanded="false" aria-controls="collapse9")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué pasa se un membro do meu equipo abandona? 

                            .collapse#collapse9(role="tabpanel" aria-labelledby="heading9"): .card-block
                                    p.justify-text O resto do equipo poderá estar na proba. A clasificación será a do nº de participantes inscritos de inicio. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading10(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿A proba é aberta ó trafico? 

                            .collapse#collapse10(role="tabpanel" aria-labelledby="heading10"): .card-block
                                    p.justify-text SI, É ASÍ. A proba é aberta ó tráfico polo que é preciso repectar os semáforos, cruces, modo de circulación, etc. A organización non se responsabiliza dos posibles percances que sucedan por non respetar  as normas de circulación, podendo ser expulsados da proba no caso de que se vexa a algún participante cometendo unha infracción. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading11(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿É obrigado levar móbil na proba? 

                            .collapse#collapse11(role="tabpanel" aria-labelledby="heading11"): .card-block
                                    p.justify-text Si, para que a organización teña a posibilidade de poñerse en contacto se sucede algún imprevisto ou algún outro problema. É fundamental que teña batería suficiente. 

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading12(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Qué fago se decido non seguir na proba? 
                            .collapse#collapse12(role="tabpanel" aria-labelledby="heading12"): .card-block
                                    p.justify-text Fundamental que de aviso á organización o antes posible para poder ter controlados a todos os participantes e velar pola súa seguridade. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading13(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Cando podo retirar ó dorsal? 

                            .collapse#collapse13(role="tabpanel" aria-labelledby="heading13"): .card-block 
                                    p.justify-text A entrega de dorsaís realízase o venres en horario de 10:00 a 12:00 horas. E o sábado en horario de 9:30 a 11:00 horas.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading14(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Pode retirar o dorsal algún compañeiro por min? 

                            .collapse#collapse14(role="tabpanel" aria-labelledby="heading14"): .card-block
                                    p.justify-text Sí, sempre que teña DNI e Licencia da federación e os papéis precisos da proba. 

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading15(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse15"     aria-expanded="false" aria-controls="collapse15") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Teño que pagar o seguro federativo? 

                            .collapse#collapse15(role="tabpanel" aria-labelledby="heading15"): .card-block 
                                    p.justify-text SOLO se non tes a licencia Federativa en Vigor. A  federación pon a opción de coller LICENCIA DE DÍA para o evento, que no caso da EPIC RACE será de 20 euros  de na HALF EPIC RACE de 10 euros.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading16(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse16"     aria-expanded="false" aria-controls="collapse16")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Qué hai nas estacións de avituallamento? 

                            .collapse#collapse16(role="tabpanel" aria-labelledby="heading16"): .card-block
                                    ul Nas estacións de avituallamento os participantes disfrutarán de: 
                                        li Zona de aparcamentos 
                                        li Zona de duchas
                                        li Avituallamento sólido/líquido ( para os participantes)
                                        li Zona de control de tempos e punto de control
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading17(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿É obrigado o  breafing de inicio de proba?

                            .collapse#collapse17(role="tabpanel" aria-labelledby="heading17"): .card-block 
                                    p.justify-text SI. É obligatorio posto que darase información primordial para a proba. A hora será facilitada 15 días antes do evento. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading18(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Cómo se traslada os vehículos de punto de control a punto de control?
                            .collapse#collapse18(role="tabpanel" aria-labelledby="heading18"): .card-block
                                    p.justify-text Cada equipo disporá dunha folla de ruta para poder ir os diferentes puntos de control. Na zona de avituallamento SÓ estacionarán os vehículos autorizados.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading19(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿ Éstou obrigado a recoller o trofeo? 

                            .collapse#collapse19(role="tabpanel" aria-labelledby="heading19"): .card-block 
                                    p.justify-text SI. É obligatoiro. O domingo 13:30 entregaranse os trofeos. No caso de que algún participante/equipo que teña trofeo e non chegara todavía, daráselle no momento de entrar en meta.
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug