doctype html
html(lang='es')
    title Half Epic Race Pontevedra
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfGL.pug
        main(role= "main")
            include ../../_includes/_carouselIndexGL.pug
            .u-bgRed
            //- section.IndexFollowRace.py-5.my-5
            //-     .container
            //-         .row
            //-             .col-sm-8.offset-sm-2.text-center
            //-                 h2 Sigue la carrera en directo
            //-                 a(href="https://tracktherace.com/epic-race-pontevedra-2019"): button.btn(type="button") Más información
            section.IndexDescription.py-5.mb-5
                .container
                    .row
                        .col-sm-8
                            article.text-justify
                                h2.u-title O desafio
                                p <strong>Half Epic Race Pontevedra</strong> son 280 km e 6900 metros de desnivel positivo acumulado en formato non stop. Un reto de btt que precisa o mellor dos ciclistas.
                                p Os  participantes enfrentaranse a un percorrido por toda a provincia de Pontevedra, ó longo de todo o día e toda a noita, desafiando os montes e acariciando as Rías Baixas e coñecendo os bosques máis antigos e os pobos máis pintorescos. E todo nun límite de 51 horas.
                                p O percorrido non está marcado, polo que o seguimento da ruta debe facerse cos datos que da o GPS co que os participantes deben orientarse para chegar a Soutelo de Montes, Vila de Cruces, Moraña ePontevedra. 7  Concellos para 8 puntos de transición nos que os participantes disporán de zonas de avituallamento para repor forzas, realizar reparacións e cambiar de compañeiro no caso de facer a proba por equipos, xa que durante o percorrido non poden recibir axuda externa. 
                                p En solitario ou en equipos de dous, tres ou catro persoas, os participantes enfréntanse ó desafío dos sendeiros e pistas que percorren as montañas, os ríos, a costa e as zonas de interés turístico da provincia de Pontevedra
                                p Un reto que pon a proba o mellor de cada ciclista mentras dalle un premio coa inolvidable experiencia do paraíso que regalan as Rías Baixas e os seus montes. 

                        .col-sm-4
                            //- include ../../_includes/_carouselIndex--stagesHalf.pug
                    .row.py-5
                        .col-sm-12.text-center
                            .embed-responsive.embed-responsive-16by9
                                iframe(width="853" height="480" src="https://www.youtube.com/embed/HM8W6T6UsDo" frameborder="0" allowfullscreen)
            include ../../_includes/_promoGL.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug
        //- script(async src="https://tracktherace.com/badges/js?c=b9shK9&l=gl!")
        script(src="../../assets/js/app.js")