doctype html
html(lang="es")
    title Reglamento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Regulamento
                    .col-sm-9
                        .Rules#accordion(role="tablist" aria-multiselectable="true")
                            //art.1
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading1(role="tab")
                                    a.Rules-link.mb-0(data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.1 Definición
                            .collapse#collapse1(role="tabpanel" aria-labelledby="heading1"): .card-block 
                                    p.text-justify A EPIC RACE PONTEVEDRA, é unha proba NON STOP que atopase no Calendario da FGC e na que os participantes deberán percorrer 550 kms, con aproximadamente 14000 metros de desnivel acumulado positivo, por toda a provincia de Pontevedra xa sexa de xeito individual, ou en equipos de 2,3 ou 4 persoas, poidendo no caso de ser equipos, darse relevos nos puntos habilitados no percorrido. No caso da half epic race, a distancia e o acumulado será aproximadamente a metade. A proba dará comezo o venres 31 de maio ás 14:00 horas na praza de España de Pontevedra no caso da EPIC RACE, e o sábado 1 de xuño ás 12:00 horas os participantes na HALF EPIC RACE e rematará no mesmo punto ás 17:00 horas como hora límite, é dicir, nun tempo máximo de 51 horas para os participantes da proba longa e 25 horas para os participantes da proba curta.
                                    p.text-justify Na EPIC RACE PONTEVEDRA os participantes terán 8 puntos de parada, onde o paso é obrigatorio. Nestes puntos habilitarase unha zoa de avituallamento, duchas, aparacamento para os vehículos de asistencia…Soamente nestes puntos os participantes poderán recibir asistencias, QUEDANDO TOTALMENTE PROHIBIDO recibir calquera tipo de apoio ao longo do percorrido. Asemade, nestes puntos é onde os participantes que van nas categorías de EQUIPO poderán realizar os pertinentes relevos. Na HALF EPIC RACE, os servizos serán os mesmos, pero as estacións de parada serán 4 (3 intermedias e unha final).
                                    p.text-justify A proba considerase un RETO PERSOAL, polo que se inclue na categoría de PROBA CICLOTURISTA e realizarase segundo regulamentación técnica e deportiva indicada no presente regulamento. No caso de que non existas alguna norma ou cree dúbida, aplicarase o da Real Federación Española de Ciclismo ou en último caso o da Unión Ciclista Internacional (UCI).

                            //art.2
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading2(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 2 Inscricions, tarifas e devolución de inscrición
                            .collapse#collapse2(role="tabpanel" aria-labelledby="heading2"): .card-block 
                                    p.text-justify Para poder participar deberase estar en posesión dunha licenza de ciclismo en vigor e expedida por unha federación nacional de ciclismo que esté afiliada á U.C.I. Os participantes que non teñan licenza española, deberán achegar asemade da súa licenza, un certificado da súa Federación Nacional, que acredite que o seu seguro ten validez en España. No caso de non estar federado, poderase tramitar unha licenza válida soamente para a proba, sendo preciso realizar un abono de 10 euros para a HALF EPIC RACE e de 20 euros para a EPIC RACE, segundo as tarifas establecidas pola FGC.

                                    p.text-justify A formalización da inscrición deberase realizar na páxina web oficial: www.epicracepontevedra.com na que é obrigatorio rechear todos os datos que se soliciten  no formularioe ter realizado o pagamento dos dereitos de inscrición para que a mesma sexa valida.

                                    p.text-justify Os dereitos de inscrición incluen:
                                    ul
                                        li: p.text-justify Dereito de participación na proba. 
                                        li: p.text-justify Dispositivo electrónico para o control de tempos.
                                        li: p.text-justify Cesión dun dispositivo de seguimento on-line (testemuña de relevo) con xeolocalización.
                                        li: p.text-justify Servizo medico durante a proba.
                                        li: p.text-justify Servizos de socorro e emerxencia no monte con vehículos de extracción
                                        li: p.text-justify Avituallamento liquido e sólido en cada estación de parada.
                                        li: p.text-justify Maillot conmemoratio do evento
                                        li: p.text-justify Servizo mecanicono paso intermedio da proba (Pontevedra)
                                        li: p.text-justify Servizo de masaxe no paso intermedio da proba
                                        li: p.text-justify Servizo de accedo do vehículo de asistencia á zoa de aparcamento do evento
                                        li: p.text-justify FESTA FINAL, que celebrarase ao final do evento a partires das 13:30 horas para todos os participantes.
                                    p.text-justify As tarifas de inscrição ao evento são as seguintes
                                    table.table.table-striped.table-responsive
                                        thead: tr
                                                th Inscritos
                                                th Epic Race Individual
                                                th Epic Race Equipos 2-3-4
                                                th Half Epic Race Individual
                                                th Half Epic Race Equipos 2-3-4
                                        tbody
                                            tr
                                                th(scope="row") Do 1 ao 15 de decembro 2018*1
                                                td 99€
                                                td 89€
                                                td 79€
                                                td 69€
                                            tr
                                                th(scope="row") Do 16 de deciembro ao 20 de xaneiro 2019
                                                td 109€
                                                td 99€
                                                td 89€
                                                td 79€
                                            tr
                                                th(scope="row") Do 21 de xaneiro ao 31 de febreiro de 2019
                                                td 129€
                                                td 119€
                                                td 109€
                                                td 99€
                                            tr
                                                th(scope="row") Del 1 de abril ao 15 de maio de 2109
                                                td 139€
                                                td 129€
                                                td 119€
                                                td 109€
                                    small * *1 este periodo está reservado  para os inscritos na edición anterior. •	 Os participantes que non teñan LICENZA FEDERATIVA deberán aboar 10 € de seguro de día para a HALF EPIC RACE E 20 € de seguro de dous días para a EPIC RACE (prezos fixados pola FGC.
                                    small As inscricions realizaranse ata o 15 de maio de 2019 ou cubrir as 300 prazas para a EPIC RACE e as 300 prazas para a HALF EPIC RACE.
                                    p.text-justify A INSCRICIÓN PODERÁ SER DEOLTA NOS SEGUINTES PRAZOS POR CALQUERA MOTIVO DE ANULACIÓN (EXCEPTUANDO OS GASTOS DE XESTIÓN):
                                    ul
                                        li 100% DA CUOTA DE INSCRICIÓN: Ata O 19 de febreIro
                                        li 50% DA CUOTA DE INSCRICIÓN: Ata ol 1 de abril
                                        li 25% DA CUOTA DE INSCRICIÓN: Ata o 1 de maio
                                        li 0% DA CUOTA DE INSCRICIÓN: a partires do 2 de maio
                            //art.3
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading3(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.3 Participación
                            .collapse#collapse3(role="tabpanel" aria-labelledby="heading3"): .card-block 
                                    p.text-justify Todos os participantes da EPIC RACE PONTEVEDRA, deben ser maiores de 18 anos ou en caso de ter entre 16 e 18 anos, deberán presentar unha autorización asinada polo pai e nai do menor, antes do dia de peche de inscricións. Os participantes poderán inscribirse nunha das seguintes categorías de equipo: CUARTETO Masculino ou Feminino; MIXTO ABSOLUTO equios formados con membros de ambos sexos. Poderán estar formados de 2 a 4 participantes. Para establecer calquera de estas ordes de chegada, haberá que terse inscrito un mínimo de 5 equipos. 
                                    p.text-justify Establecese un límite de 600 participantes para esta terceira edición da EPIC RACE PONTEVEDRA, entre ambas modalidades: EPIC RACE E HALF EPIC RACE.
                                    p.text-justify Cada equipo debe levar un vehículo de asistencia, incluída na categoría SOLO, e dito vehículo, será identificado con vinilos facilitados pola organización. E OBRIGATORIO contar con este vehículo de asistencia que é vital para as asistencias básicas. A organización non asistirá a aqueles participantes que abandonen por calquera motivo que non sexa unha EMERXENCIA SANITARIA. As asistencias técnicas realizaranse levando ao participante á estación máis cercana para poder ser recollido pola sua asistencia.

                            //art.4
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading4(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.4 Recollida de dorsais
                            .collapse#collapse4(role="tabpanel" aria-labelledby="heading4"): .card-block 
                                    p.text-justify A recollida de dorsais terá lugar o venres 31 de maio en horario de 10:00 a 12:00 horas nas instalación da DEPUTACIÓN DE PONTEVEDRA para os participantes da EPIC RACE E HALF EPIC RACE. No caso da Half Epic Race poderán tamén recoller os seus dorsais na zoa de salida o sábado 1 de xuño en horario de 9:30 a 11:00 horas. Será obrigatorio presentar a licenza orixinal e en vigor, para a recollida de dorsais. A asignación de dorsais será en función das categorías.
                                    p.text-justify A organización entregará aos participantes:
                                    ul

                                        li: p.text-justify 1 bolsa do corredor con CHALECO ou MAILLOT  conmemorativo 
                                        li: p.text-justify 1 dorsal para as costas do participante
                                        li: p.text-justify 1 placa para a bicicleta por participante
                                        li: p.text-justify 1 dispositivo electrónico para o control de tempos por participante
                                        li: p.text-justify Cesión dun dispositivo de seguimento on-line por equipo, que será a testemuña do relevo. Á hora de recoller dito dispositivo, terá que deixar den depósito a cantidade de 50 euros que será devolta á hora de entregar novamente o dispositivo á organización.
                                        li: p.text-justify Asemade, entregarase unha pulseira identificativa a cada participante, que deberá levar posta durante os días da proba. Esta pulseira lle permitirá acceder ás áreas habilitadas para os participantes.
                                        li: p.text-justify 1 xogo de vinilos para os vehículos de asistencia por equipo
                                        li: p.text-justify Regalos dos patrocinadores.
                            //art.5
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading5(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.5 Briefing
                            .collapse#collapse5(role="tabpanel" aria-labelledby="heading5"): .card-block 
                                    p.text-justify As 12:30 horas do dia 31 de maio, efecturarase un briefing onde detallaranse as características da proba. A asistencia ao briefing é recomendable, posto que daranse detalles de última hora sobre a proba. Realizarase un video do mesmo que será publicado polos medios que estime a organización.  
                            //art.6
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading6(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.6 Bicicleta
                            .collapse#collapse6(role="tabpanel" aria-labelledby="heading6"): .card-block 
                                    p.text-justify Poderase participar con aquelas bicicletas de dúas rodas de igual diámetro, sendo a roda dianteira a directriz e a roda traseira a motriz, e accionada por un sistema de pedales que actúa sobre unha cadea. A propulsión realizarase exclusivamente pola forza das pernas do corredor, nun movemento circular, coa axuda dun pedalier e sen axuda eléctrica ou calquera outra. Soamente están permitidas as bicicletas de montaña con rodas dun diámetro de 26, 27.5 ou 29 pulgadas. Todos os tubos (cadro, manillar, acoples, etc) da bicicleta deberán estar tapados. Recomendase levar os repostos precisos para reparar a bicicleta en caso de averia. É obrigatorio levar unha luz branca, na parte dianteira da bicicleta, asi como unha luz bermella  na parte traseira, que deberán levarse encendidas dende o atardecer ata o amencer. A criterio do comité organizador, todas as bicicletas que non presenten os elementos de seguridade necesarios para a competición non serán autorizadas a tomar a saída.
                            //art.7
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading7(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.7 Equipamento
                            .collapse#collapse7(role="tabpanel" aria-labelledby="heading7"): .card-block
                                    p.text-justify O uso do casco ríxido homologado para ciclismo durante o transcurso de toda a proba
                                    p.text-justify O uso de elementos reflectantes, independentes dos que se poidas levar xa na vestimenta do ciclista, para que os participantes sexas ben visibles dende o atardecer ata o amencer.
                                    p.text-justify Luz vermella traseira prendida durante toda a proba e luz branca dianteira dende o ocaso ata a saída do sol.
                                    p.text-justify Participar cos dorsais entregados pola organización debidamente colocados nas costas do corredor e a placa co numero de dorsal na parte dianteira da bicicleta, e todos eles sen ningunha alteración. 
                                    p.text-justify Levar testemuña de relevo (dispositivo de seguimento on line)
                                    p.text-justify Levar manta térmica
                                    p.text-justify Con independencia de que os avituallamentos sexan completos e conten con sólidos e liquido, recomendase que os participantes porte avituallamento eles mesmos.

                            //art.8
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading8(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.- 8 Desenrolo da proba 
                            .collapse#collapse8(role="tabpanel" aria-labelledby="heading8"): .card-block 
                                    p.text-justify A parrila de saída abrirase 30 minutos antes da hora de saída fixada ás 14:00 horas do dia 31 de maio de 2019 na Praza de España do Concello de Pontevedra para a EPIC RACE, e as 12:00 horas do 1 de xuño de 2019 para a HALF EPIC RACE. Durante o percorrido estableceranse dous tipos de controis:
                                    ol
                                        li: p.text-justify Contro de paso (CP): Serán puntos do percorrido nos que tomaranse os tempos de cada un dos participantes/equipos. Estes poderán coincidir ou non con puntos de avituallamento/relevo. Omitir un control de paso suporá a exclusión da proba.

                                        li: p.text-justify Punto de relevo (PR): Estableceranse  puntos do percorrido, denominados puntos de relevo, onde o corredor do equipo que esté correndo, fará entrega da testemuña de relevo (dispositivo de seguimento on-line) ao membro do equpo que se podrá a correr no seu lugar. O relevo soamente está permitido nestes puntos e na zoa sinalada como zoa de relego Estableceranse puntos de relevos que concidirán coas estacións de avituallamento. Omitir un punto de relevo, ou chegar despois da hora máxima fixada pola organización, suporá a exclusión da proba. Calquera axuda exterior suporá motivo de penalización.

                            //art.9
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading9(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse9"     aria-expanded="true" aria-controls="collapse9")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.9 Chegada
                            .collapse#collapse9(role="tabpanel" aria-labelledby="heading9"): .card-block 
                                    p.text-justify A chegada será en Pontevedra, na Praza de España, dandolle aos participantes un limite máximo de 51 horas para conseguir rematar a proba (25 horas no caso da HALF EPIC RACE PONTEVEDRA)
                            //art.10
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading10(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse10"     aria-expanded="true" aria-controls="collapse10")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.10 Rutómetro
                            .collapse#collapse10(role="tabpanel" aria-labelledby="heading10"): .card-block 
                                    p.text-justify O percorrido non estará frechado, e é por elo polo que a organización publicará na súa páxima web, un track gps para o seguimento do mesmo. Nel detallaranse a distancia, altitudee, tipo de pista, punto de relevo/estación de avituallamento e hora de peche de daca un dos serivizos.

                            //art.11
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading11(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.11 Percorrido
                            .collapse#collapse11(role="tabpanel" aria-labelledby="heading11"): .card-block 
                                    p.text-justify O percorrido é aberto ao tráfico. Os participantes deberán seguir as indicacións das autoridades de tráfico, respectar as normas de circulación e circular con precaución. É obrigatorio seguir o percorrido e orde de paso fixado pola organización. O tempo máximo para efectuar todo o percorrido será de 51 horas para os participantes da EPIC RACE e 25 horas para os da HALF EPIC RACE. Asemade, deben superar cada un dos puntos de avituallamento/relevo nos tempos máximos establecidos pola organización para poder continuar en carreira.

                                    p.text-justify Os participantes non poderán alonxarse máis de 500 metros do percorrido marcado pola organización, poidendo ser descalificados no caso de facelo No caso de alonxarse, DEBERAN VOLTAR AO PUNTO DE DESVIO. <strong>Se non o realizan, os participantes poderán ser descalificados da proba.</strong>
                            //art.12
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading12(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapse12") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 12 Estacions de avituallamiento
                            .collapse#collapse12(role="tabpanel" aria-labelledby="heading12"): .card-block 
                                    p.text-justify As estacións de avituallamento estarán debidamente sinalizadas durante todo o percorrido. Estas disporán de todo o necesario para cubrir as necesidades de alimentación e hidratación de os participantes durante a proba. Asemade, nelas contarase cunha zoa de ducha para os que así o desexen e tamén unha zoa de aparcamento para os vehículos autorizados.

                            //art.13
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading13(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true" aria-controls="collapse13") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 13 Tramos impracticables 
                            .collapse#collapse13(role="tabpanel" aria-labelledby="heading13"): .card-block 
                                    p.text-justify O director da proba poderá decidir que un tramo do percorrido converteuse en impracticable e imposible de franquear, e poderá desviar o percorrido polos puntos alternativos previstos pola organización. En caso de que non sexa posible, tomarase coma tempo de chegada o punto no que se poidera establecer a cronometraxe.
                            //art.14
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading14(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="true" aria-controls="collapse14") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.14 Abandono
                            .collapse#collapse14(role="tabpanel" aria-labelledby="heading14"): .card-block 
                                    p.text-justify O abando dun dos membros do equipo, debese comunicar tan pronto coma sexa posible á organización. En caso de abandono dalgún dos membros dun equipo, os outros poderán continuar a proba, debendo manter a categoría do equipo na que se inscribiron. Se o corredor que abandoa e o que está correndo, deberá facelo no punto de relevo, debendo chegar polos seus propios medios e sen axuda exterior alguna. En caso contrario todo o equipo deberá abandoar a proba.

                            //art.15
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading15(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse15"     aria-expanded="true" aria-controls="collapse15") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art. 15 Ordes de chegada / Categorías 
                            .collapse#collapse15(role="tabpanel" aria-labelledby="heading15"): .card-block 
                                    p.text-justify A suma de tempos efectuada por cada membro dun equipo en todos os tramos da proba, máis as penalizacións de tempo acumuladas, establecerá o tempo do equipo. A orde de chegada da proba se establecerá ordeando os tempos dos equipos de menos a maior tempo. En caso de igualdade a tempos, quedará por diante aquel equipo que teña feito o último tramo da proba máis rápido. Establecerase unha orde de chegada por cada unha das categorías participantes, así coma unha orde scratch masculino e outro femenino. Nesta orde contemplaranse os tempos dos equipos masculinos e/ou femininos en todas as categorías  participantes, sendo o primeiro, aquel que teña realizada a proba en menos tempo, independentemente do numero de componentes do equipo. Calquera equipo que oficialmente non teña completado algún tramo (exclusión, abandono, descalificación, etc) non se incluirá na orde de chegada.
                            //art.16
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading16(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse16"     aria-expanded="true" aria-controls="collapse16")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.-16 Obsequios/premios
                            .collapse#collapse16(role="tabpanel" aria-labelledby="heading16"): .card-block 
                                    ol
                                        li: p.text-justify Para todos os participantes que acaben a proba, farase entrega dunha medalla
                                        li: p.text-justify Entregarase un OBSEQUIO ESPECIAL aos mellores tempos das seguintes categorías: SOLO: Masculino ou Feminino. DUO: Masculino ou Feminino. TRIO: Masculino ou Feminino. CUARTETO: Masculino ou Feminino. MIXTO ABSOLUTO.

                                        li: p.text-justify Para optar ao OBSEQUIO ESPECIAL é imperativo asistir á cerimonia de final de  proba. Esta celebrarase ás 13:30 horas do domingo 10 de setembro.
                            //art.17
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading17(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="true" aria-controls="collapse17") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 17 Ceremonia de Entrega de Obsequios Especiales
                            .collapse#collapse17(role="tabpanel" aria-labelledby="heading17"): .card-block 
                                    p.text-justify A entrega de ditos obsequios aos mellores tempos, está fixada ás 13:30 horas do domingo 2 de xuño na Praza de España do Concello de Pontevedra. É obrigagoria a súa asistencia vestido de ropa deportiva. Se o equipo premiado non asiste por estar aínda na proba, se lle fará entrega posteriormente.
                            //art.18
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading18(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="true" aria-controls="collapse18") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 18 Penalizacions 
                            .collapse#collapse18(role="tabpanel" aria-labelledby="heading18"): .card-block
                                    table.table.table-striped.table-responsive
                                        thead: tr
                                                th 
                                                th Exclusion
                                                th Penalizacion en tiempo
                                                th Non permitir saida
                                        tbody
                                            tr
                                                th(scope="row") Comportamentos violentos entre corredores
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Sacarse o capacete durante a proba
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Non realizar a saida con capacete, placa, dorsal, manta térmica, testemuña de relevo.
                                                td 
                                                td 
                                                td X
                                            tr
                                                th(scope="row") Non levar luces dianteiras e traseiras dende o anoitecer ao amencer.
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Non pasar polos puntos de cronometraxe segundo a orde establecida pola organización. 
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Non pasar pola estación de avituallamiento
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Non levar a testemuña do relevo 
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Separarse máis de 500 m do track marcado  
                                                td 
                                                td 3 horas
                                                td 
                                            tr
                                                th(scope="row") Non respectar as normas de circulación 
                                                td 
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Tirar calquera tipo de envoltorio fora das zoas habilitadas 
                                                td 
                                                td 3 horas
                                                td 
                                            tr
                                                th(scope="row") Non levar os dorsais na zoa establecida 
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Recibir asistencia mecánica durante os diferentes tramos da proba dunha persoa externa 
                                                td 
                                                td 4 horas
                                                td 
                                            tr
                                                th(scope="row") Recibir material de cualquera persoa externa  
                                                td 
                                                td 4 horas
                                                td 
                                            tr
                                                th(scope="row") Pasar pola zoa de avituallamiento fóra das horas de control
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Desvío do percorrido establecido
                                                td X
                                                td 
                                                td 
                            //art.19
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading19(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="true" aria-controls="collapse19") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.19 Reclamacions
                            .collapse#collapse19(role="tabpanel" aria-labelledby="heading19"): .card-block 
                                    p.text-justify Toda reclamación poderá realizarse por escrito ata 30 minutos despois de publicarse a orde de chegada final na oficina de Dirección da proba. A dirección da proba gardarese o dereito a sancionar a algún corredor/a que infrinxa calquera das normas anteriormente indicadas se ten constancia de dita infracción.


                            //art.20
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading20(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="true" aria-controls="collapse20") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 20 Deporte e natureza 
                            .collapse#collapse20(role="tabpanel" aria-labelledby="heading20"): .card-block 
                                    p.text-justify Noso deporte, a bicicleta de montaña, é unha actividade que desenrolase na natureza e o seu impacto neste entorno é unha responsabilidade para todos os participantes e organizadores de probas de portivas. Pregamos que sexan respectuosos co entorno natural polo que transcorre o percorrido da proba, prestando atención ao lixo, envoltorios, restos de avituallamentos, circular fóra dos carris abertos, non tomar atallos que danen a vexetación, respectar aos peons, ter coidado cos animais na montaña, non deixar tirado ningún recambio, etc. Salirse do percorrido naturalmente delimitado ou invadir unha propiedade privada supondrá  a exclusión da proba.


                            //art.21
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading21(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="true" aria-controls="collapse21") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art. 21. Accidentes  e pérdas
                            .collapse#collapse21(role="tabpanel" aria-labelledby="heading21"): .card-block 
                                    p.text-justify A organización non se fai responsable de ningún accidente do que poidera ser causa ou victima o participante, que deberá estar cuberto polos seguros da proba, como tampouco se fai solidario dos gastos, nin das débedas que poideran contraer os participantes durante a marcha, nin dos extravíos ou averías que poidesen sufrir as bicicletas ou outro equipamento dos participantes. O participante exime á organización de responsabilidade por pérdida ou deterioro de obxectos persoais por calquera circunstancia.


                            //art.22
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading22(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="true" aria-controls="collapse22") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art. 22.   Dereito de imaxe
                            .collapse#collapse22(role="tabpanel" aria-labelledby="heading22"): .card-block 
                                    p.text-justify A aceptación do presente regulamento implica obrigatoriamente que o participante autoriza a organización da proba EPIC RACE PONTEVEDRA a grabación total ou parcial da súa participación na mesma, presta o seu consentimento para que poida ser utilizada a súa imaxe na promoción e difusión da proba, de todas as formas posibles (radio, prensa, video, foto, dvd, internet, carteis, medios de comunicación, etc…) e cede todos os dereitos relativos á explotación comercial e publicitaria que a organización considere oportuno executar, sen dereito pola súa parte a recibir compensación económica algunha.

                            //art.23
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading23(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="true" aria-controls="collapse23") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.-23 Consideracions 
                            .collapse#collapse23(role="tabpanel" aria-labelledby="heading23"): .card-block 
                                    p.text-justify Todos os participantes deben ser respectuosos con outros participantes, membros da organización, medios de comunicación e público. A organización reservase o dereito a alterar ou modificar o presente regulamento en calquera momento. A INSCRIPCION NA EPIC RACE PONTEVEDRA OU NA HALF EPIC RACE PONTEVEDRA, IMPLICA A ACEPTACIÓN DE DITO REGULAMENTO.

                            //art.24
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading24(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="true" aria-controls="collapse24") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art. 24.    Protección de datos persoais
                            .collapse#collapse24(role="tabpanel" aria-labelledby="heading24"): .card-block 
                                    p.text-justify A empresa GLOBALDXG PONTEVEDRA, garante o pleno cumprimento da normativa de protección de datos de carácter persoal, e así, dacordo coa Lei Orgánica 15/1999, o asinante queda informado e presta o seu consentimento á incorporación dos seus datos aos ficheiros automatizados existentes na empresa e ao tratamento dos mesmos para a súa utilización en relación con xestións administrativas, comerciais e outras actividades propias da mesma.
                                    p.text-justify A política de privacidade de GLOBAL DXT PONTEVEDRA, lle asegura, en todo caso, o exercicio dos dereitos de acceso, rectificación, cancelación e oposición, nos térmos establecidos na lexislación vixente, mediante escrito dirixido a GLOBAL DXT PONTEVEDRA na rúa Echegaray 20-5º A Pontevedra, sendo responsable do ficheiro GLOBAL DXT PONTEVEDRA, SL con domicilio a estos efectos no enderezo antes indicado.
                                    p.text-justify O asinante acepta que poidan ser cedidos os seus datos exclusivamente para aquelas actividades encaminadas ao correcto funcionamento da xestión e administración interna da empresa GLOBAL DXT PONTEVEDRA. Asemade, o asinante acepta que a empresa GLOBAL DXT PONTEVEDRA S.L. lle dirixa información sobre calesquera productos, xestions ou servizos que poidan comercializar. A aceptación do asinante para que poidan ser tratados ou cedidos os seus datos na forma establecida neste parágrafo, ten sempre carácter revocable, sen efectos retroactivos, consonte ao que dispon os arts. 6 e 11 da Lei Organica 15/1999 de 13 de decembro.
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug