doctype html
html(lang="es")
    title Tarifas 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Tarifas
                    .col-sm-9
                        .Prices.p-4.rounded
                            table.table.table-striped.table-responsive
                                thead: tr
                                        th Inscritos
                                        th Epic Race Individual
                                        th Epic Race Equipos 2-3-4
                                        th Half Epic Race Individual
                                        th Half Epic Race Equipos 2-3-4
                                tbody
                                    tr
                                        th(scope="row") Do 1 ao 15 de decembro 2018*1
                                        td 99€
                                        td 89€
                                        td 79€
                                        td 69€
                                    tr
                                        th(scope="row") Do 16 de decembro ao 20 de xaneiro 2019
                                        td 109€
                                        td 99€
                                        td 89€
                                        td 79€
                                    tr
                                        th(scope="row") Do 21 de xaneiro ao 31 de febreiro de 2019
                                        td 129€
                                        td 119€
                                        td 109€
                                        td 99€
                                    tr
                                        th(scope="row") Del 1 de abril ao 15 de maio de 2109
                                        td 139€
                                        td 129€
                                        td 119€
                                        td 109€
                            small * *1 este periodo está reservado  para os inscritos na edición anterior. •	 Os participantes que non teñan LICENZA FEDERATIVA deberán aboar 10 € de seguro de día para a HALF EPIC RACE E 20 € de seguro de dous días para a EPIC RACE (prezos fixados pola FGC.
                            small As inscricions realizaranse ata o 15 de maio de 2019 ou cubrir as 300 prazas para a EPIC RACE e as 300 prazas para a HALF EPIC RACE.
                            p.text-justify A INSCRICIÓN PODERÁ SER DEOLTA NOS SEGUINTES PRAZOS POR CALQUERA MOTIVO DE ANULACIÓN (EXCEPTUANDO OS GASTOS DE XESTIÓN):
                            ul
                                li 100% DA CUOTA DE INSCRICIÓN: Ata O 19 de febreIro
                                li 50% DA CUOTA DE INSCRICIÓN: Ata ol 1 de abril
                                li 25% DA CUOTA DE INSCRICIÓN: Ata o 1 de maio
                                li 0% DA CUOTA DE INSCRICIÓN: a partires do 2 de maio
                        .Include.py-5
                            h5 ¿Qué inclúe a inscripción?
                            ul
                                li.text-justify Posibilidade de participar no percorrido de 550 km  con límite de 51 horas na EPIC RACE e de 270 km con límite 24 horas na HALF EPIC RACE.
                                li.text-justify Maillot conmemorativo do evento da marca Ottobosley.
                                li.text-justify Pegatinas identificativas para os vehículos de asistencia 
                                li.text-justify Seguro de accidentes
                                li.text-justify GPS de control de situación. Este GPS permite realizar seguimento en vivo de todos os participantes así como velar pola súa seguridade o ter opción de chamada de emerxencia.
                                li.text-justify Dorsal con Chip para control en zonas de paso
                                li.text-justify 8 puntos de avituallamento sólido e liquido para os participantes (4 en caso da half EPIC RACE)
                                li.text-justify Servicio de masaxe na estación de Pontevedra como punto intermedio
                                li.text-justify Servicio de duchas en cada punto de avituallamento
                                li.text-justify Servicio de asistencia sanitaria
                                li.text-justify Zona de aparcamento exclusivo para os vehículos de asistencia, en cada estación
                                li.text-justify Detalle finisher para os que finalicen o reto 
                                li.text-justify Trofeos para os tres primeiros clasificados masculinos y femininos de cada categoría
                                li.text-justify Festa final de proba. Unha festa para os participantes a partir das 13:30 do domingo
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug