.carouselCaption.text-center
    //-.carouselCaption-pic
    .carouselCaption-title.pt-4
        p.mb-0 31 de mayo y 1-2 de junio
        h4.mb-0.text-center Não fiques sem dorsal
        p.mb-0 Inscripções a partir de 1 de dezembro
    .carouselCaption-clock.text-center.p-4
        .clockContainer.d-inline-block#clockContainer
            .rounded.d-inline-block
                span.d-inline-block.days
                div.carouselCaption-text Días
            .rounded.d-inline-block
                span.d-inline-block.hours
                div.carouselCaption-text Horas
            .rounded.d-inline-block
                span.d-inline-block.minutes
                div.carouselCaption-text Minutos
            .rounded.d-inline-block
                span.d-inline-block.seconds
                div.carouselCaption-text Segundos
    .carouselCaption-footer



