//- _carouselIndexHalf.pug
.carousel.slide#CarouselIndex.CarouselIndex(data-ride="carousel")
    //- ol.carousel-indicators
        //- li(data-target="#CarouselIndex" data-slide-to="0").active
        //- li(data-target="#CarouselIndex" data-slide-to="1")
        //- li(data-target="#CarouselIndex" data-slide-to="2")
    .carousel-inner.CarouselIndex-inner(role="listbox")
        .carousel-item.CarouselIndex-item.CarouselIndex-item1.active
        .carousel-item.CarouselIndex-item.CarouselIndex-item2
        .carousel-item.CarouselIndex-item.CarouselIndex-item3
    a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselIndex" role="button" data-slide="prev")
        i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
        span.sr-only Previus
    a.carousel-control-next.CarouselIndex-control--right(href="#CarouselIndex" role="button" data-slide="next")
        i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
        span.sr-only Next
    include ./_carouselCaptionGL.pug
