.carouselCaption.text-center
    //-.carouselCaption-pic
    .carouselCaption-title.pt-4
        p.mb-0 31 de maio e 1-2 de xuño
        h4.mb-0.text-center Non te quedes sen dorsal.
        p.mb-0 Inscripcións a partir do 1 de decembro.
    .carouselCaption-clock.text-center.p-4
        .clockContainer.d-inline-block#clockContainer
            .rounded.d-inline-block
                span.d-inline-block.days
                div.carouselCaption-text Días
            .rounded.d-inline-block
                span.d-inline-block.hours
                div.carouselCaption-text Horas
            .rounded.d-inline-block
                span.d-inline-block.minutes
                div.carouselCaption-text Minutos
            .rounded.d-inline-block
                span.d-inline-block.seconds
                div.carouselCaption-text Segundos
    .carouselCaption-footer