//- carouselIndex--stages
.carousel.slide.CarouselIndex--stages.rounded#carouselIndex--stages(data-ride="carousel")
    mixin stage(image, title, stage, distance, description, href)
        .carousel-item.CarouselIndex--stages-item.align-items-center&attributes(attributes)
            figure.figure.CarouselIndex--stages-figure
                img.mx-auto.d-block.img-fluid.rounded-circle.CarouselIndex--stages-img.my-3(src=image)
                figcaption
                    h4.CarouselIndex--stages-title.text-center=title 
                    h5.CarouselIndex--stages-stage.text-center.my-0=stage
                    p.text-center: small.CarouselIndex--stages-distance=distance
    .carousel-inner.CarouselIndex--stages-inner(role="listbox")
        +stage('../../assets/files/img/stage5.jpg', 'Stage 1', '(Pontevedra) - Moraña', 'DISTANCIA: 70km | DES. POSITIVO: 1500m | DES.NEGATIVO: 1400m','etapa1.html')(class='active')
        +stage('../../assets/files/img/stage6.jpg', 'Stage 2', 'Moraña - Vila de Cruces', 'DISTANCIA: 75km | DES.POSITIVO: 2050m | DES.NEGATIVO: 1750m', 'etapa2.html')
        +stage('../../assets/files/img/stage7.jpg', 'Stage 3', 'Vila de Cruces - Meis', 'DISTANCIA: 77km | DES.POSITIVO: 1700m | DES.NEGATIVO: 2100m','etapa3.html')
        +stage('../../assets/files/img/stage8.jpg', 'Stage 4', 'Meis - Pontevedra', 'DISTANCIA: 56km | DES.POSITIVO: 1350m | DES.NEGATIVO: 1400m', 'etapa4.html')
        +stage('../../assets/files/img/stage1.jpg', 'Stage 5', 'Pontevedra - Ponte Caldelas', 'DISTANCIA: 71km | DES.POSITIVO: 1950m | DES.NEGATIVO: 1650m', 'etapa5.html')
        +stage('../../assets/files/img/stage2.jpg', 'Stage 6', 'Ponte Caldelas - Ponteareas', 'DISTANCIA: 56km | DES.POSITIVO: 1400m | DES.NEGATIVO: 1500m','etapa6.html')
        +stage('../../assets/files/img/stage3.jpg', 'Stage 7', 'Ponteareas - Redondela', 'DISTANCIA: 76km | DES.POSITIVO: 1600m | DES.NEGATIVO: 1600m', 'etapa7.html')
        +stage('../../assets/files/img/stage4.jpg', 'Stage 8', 'Redondela - (Pontevedra)', 'DISTANCIA: 57km | DES.POSITIVO: 1600m | DES.NEGATIVO: 1600m', 'etapa8.html')
    a.carousel-control-prev(href="#carouselIndex--stages" role="button" data-slide="prev")
        span.carousel-control-prev-icon(area-hidden="true")
    a.carousel-control-next(href="#carouselIndex--stages" role="button" data-slide="next")
        span.carousel-control-next-icon(area-hidden="true")
