.carouselCaption.text-center
    //-.carouselCaption-pic
    .carouselCaption-title.pt-4
        p.mb-0 May 31 and June 1-2
        h4.mb-0.text-center Don't miss your number
        p.mb-0 Registrations from december 1
    .carouselCaption-clock.text-center.p-4
        .clockContainer.d-inline-block#clockContainer
            .rounded.d-inline-block
                span.d-inline-block.days
                div.carouselCaption-text Days
            .rounded.d-inline-block
                span.d-inline-block.hours
                div.carouselCaption-text Hours
            .rounded.d-inline-block
                span.d-inline-block.minutes
                div.carouselCaption-text Minutes
            .rounded.d-inline-block
                span.d-inline-block.seconds
                div.carouselCaption-text Seconds
    .carouselCaption-footer



