//- footer
footer.Footer.bg-inverse
    .Footer-primary.py-5
        .container-fluid: .row
                .col-md-3.Footer-address.text-center
                    h5.Footer-title.mb-3 Contacto
                    address
                        strong Globaldxt S.L.
                        p c/ Echegaray 20, 5º A, 36002 Pontevedra
                        a.d-inline-block.mt-3.Footer-address-link(href="tel:0034693798053") T. 693 798 053
                        br
                        a.d-inline-block.Footer-address-link(href="mailto:") E. cimadevila@globaldxt.com
                        br
                        ul.social-links.list-unstyled.list-inline
                            li.list-inline-item.p-2: a.Footer-address-link(href="https://twitter.com/global_dxt ", target="'_blank'")
                                    i.fab.fa-twitter
                            li.list-inline-item.p-2: a.Footer-address-link(href="https://www.facebook.com/epicracepontevedra/", target="'_blank'")
                                    i.fab.fa-facebook-f
                            li.list-inline-item.p-2: a.Footer-address-link(href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q", target="'_blank'")
                                    i.fab.fa-youtube
                            li.list-inline-item.p-2: a.Footer-address-link(href="https://www.instagram.com/globaldxt/", target="'_blank'")
                                    i.fab.fa-instagram
                .col-md-9
                    .row.mb-4
                        .col-md-4
                            h6.Footer-title Organizador
                            img.img-fluid.Footer-org(src="../../assets/files/img/globaldxt.png")
                        .col-md-8
                            h6.Footer-title Patrocinadores
                            img.img-fluid.Footer-partner(src="../../assets/files/img/powerade.png")
                    .row
                        .col-md-12
                            h6.Footer-title Colaboradores institucionales
                        .col-md-2.text-center
                            a(href="http://www.depo.gal", target='_blank')
                                img.img-fluid.Footer-shield(src="../../assets/files/img/diputacion.svg" alt="Diputación")
                        .col-md-2.text-center
                            a(href="http://deportepo.blogspot.com/", target='_blank')
                                img.img-fluid.Footer-shield(src="../../assets/files/img/concelleria.svg" alt="Concelleria de deportes")
                        .col-sm-2.col-md-1.text-center.col-shield
                            a(href="http://www.pontevedra.gal", target='_blank')
                                img.img-fluid.Footer-shield(src="../../assets/files/img/pontevedra.svg" alt="Pontevedra")
                        .col-sm-2.col-md-1.text-center.col-shield
                            a(href="http://www.mos.es", target='_blank')
                                img.img-fluid.Footer-shield(src="../../assets/files/img/mos.svg" alt="Mos")
                        .col-sm-2.col-md-1.text-center.col-shield
                            a(href="", target='_blank')
                                img.img-fluid.Footer-shield(src="../../assets/files/img/portas.svg" alt="Portas")
                        .col-sm-2.col-md-1.text-center.col-shield
                            a(href="http://concellodemondariz.com/", target='_blank')
                                img.img-fluid.Footer-shield(src="../../assets/files/img/mondariz.svg" alt="Mondariz")
                        .col-sm-2.col-md-1.text-center.col-shield
                            a(href="http://www.morana.org", target='_blank')
                                img.img-fluid.Footer-shield(src="../../assets/files/img/morana.svg" alt="Moraña")
                        .col-sm-2.col-md-1.text-center.col-shield
                            a(href="https://concellodalama.com/", target='_blank')
                                img.img-fluid.Footer-shield(src="../../assets/files/img/alama.svg" alt="A Lama")
    .Footer-secondary.m-0.py-2.text-center
        .container: .row: .col-sm-12
                    small © 2017 Copyright Globaldxt S.L.

