//- header
header.Header
    // Inscription section
    .collapse.Inscription.py-4#Inscription
        .container.rounded.py-4.align-items-center: .row
                .col-sm-4
                    h5.u-title.mb-0.text-justify Únete al reto
                    p Inscripciones abiertas a partir del 15 de febrero de 2021
                .col-sm-8
                    .row
                        .col-sm-6
                            a(href='epicindividual.html'): button.mb-2.text-center.btn.Button--inscriptionLink Epic Race individual
                        .col-sm-6
                            a(href='epicequipos2.html'): button.mb-2.text-center.btn.Button--inscriptionLink Epic Race Equipos 2
                    .row
                        .col-sm-6
                            a(href='epicequipos3.html'): button.mb-2.text-center.btn.Button--inscriptionLink Epic Race Equipos 3
                        .col-sm-6
                            a(href='epicequipos4.html'): button.mb-2.text-center.btn.Button--inscriptionLink Epic Race Equipos 4
    // Inscripted section
    .collapse.Inscription.py-4#Inscripted
        .container.rounded.py-4.align-items-center: .row
                .col-sm-4
                    p Comprueba si tu inscripción fue tramitada correctamente
                .col-sm-8
                    .row
                        .col-sm-6
                            a(href='inscritos-epic-individual.html'): button.mb-2.text-center.btn.Button--inscriptionLink Epic Race individual
                        .col-sm-6
                            a(href='inscritos-epic-equipos2.html'): button.mb-2.text-center.btn.Button--inscriptionLink Epic Race Equipos 2
                    .row
                        .col-sm-6
                            a(href='inscritos-epic-equipos3.html'): button.mb-2.text-center.btn.Button--inscriptionLink Epic Race Equipos 3
                        .col-sm-6
                            a(href='inscritos-epic-equipos4.html'): button.mb-2.text-center.btn.Button--inscriptionLink Epic Race Equipos 4
 
    nav.navbar.navbar-toggleable-md.px-4
        button.navbar-toggler.navbar-toggler-right.mt-4(type='button' data-toggle='collapse' data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.dark-blue-text
                i.fas.fa-bars.fa-1x
        a.navbar-brand(href='index.html')
            img(src='../../assets/files/img/newlogo.jpeg' width='80' alt='logo')

        .collapse.navbar-collapse.justify-content-center#navbarSupportedContent
            ul.navbar-nav
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#navbarDropdownPrueba(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") La Prueba
                    .dropdown-menu.bg-inverse(aria-labelledby="navbarDropdownPrueba")
                        a.dropdown-item(href="categorias.html") Categorías
                        a.dropdown-item(href="tarifas.html") Tarifas
                        a.dropdown-item(href="puntos.html") Puntos de avituallamiento
                li.nav-item: a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2(href="#collapseStages" data-toggle="collapse" aria-expanded="false" aria-controls="collapseStages") Etapas
                //- li.nav-item: a.disabled.nav-link.text-uppercase.Header-link.mx-2 Etapas
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#navbarDropdownParticipantes(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Participantes
                    .dropdown-menu.bg-inverse(aria-labelledby="navbarDropdownParticipantes")
                        a.dropdown-item(href="faqs.html") Preguntas Frecuentes
                        //- a.dropdown-item(href="../../assets/files/pdf/informacion-epic.pdf") Información
                        //- a.dropdown-item(href="../../assets/files/pdf/ficha-medica.pdf") Ficha médica
                        //- a.dropdown-item(href="../../assets/files/pdf/mapa-epic.pdf") Mapa 
                li.nav-item: a.nav-link.text-uppercase.Header-link.mx-2(href='reglamento.html') Reglamento
                //- li.nav-item.dropdown
                //-     a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#navbarDropdownPatrocinadores(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Multimedia
                //-     .dropdown-menu.bg-inverse(aria-labelledby="navbarDropdownPatrocinadores")
                //-         a.dropdown-item.disabled(href="") Fotos
                //-         a.dropdown-item.disabled(href="") Vídeo
                li.nav-item: a.nav-link.text-uppercase.Header-link.mx-2(href='multimedia.html') Multimedia
                //- li.nav-item: a.nav-link.text-uppercase.Header-link.mx-2(href='embajadores.html') Embajadores
                li.nav-item: a.nav-link.text-uppercase.Header-link.mx-2(href='alojamiento.html') Alojamiento
                //- li.nav-item: a.nav-link.text-uppercase.Header-link.mx-2(href='ropa-evento.html') Ropa Evento
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#nuestraPruebas(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Nuestra pruebas
                    .dropdown-menu.bg-inverse(aria-labelledby="nuestraPruebas")
                        form.accordion#accordionExample
                            p.dropdown-item(data-target='#pruebasGlobal' data-toggle="collapse" aria-expanded="false" aria-controls="pruebasGlobal" style="cursor:pointer") Pruebas Globaldxt
                            .collapse#pruebasGlobal(data-parent="#accordionExample" style="background-color:rgba(0,0,0,0.5")
                                a.dropdown-item(target='_blank' href="//pontevedra4picos.com") 4 Picos Bike
                                a.dropdown-item(target='_blank' href="//pontevedra4picosroad.com") 4 Picos Road
                                a.dropdown-item(target='_blank' href="//costaatlanticamtbtour.com") Costa Atlántica MTB Tour
                                a.dropdown-item(href style="color: rgba(255,255,255,0.5)") BTTroita Pontecaldelas
                            p.dropdown-item(data-target='#pruebasAmigas' data-toggle="collapse" aria-expanded="false" aria-controls="pruebasAmigas" style="cursor:pointer") Pruebas Amigas
                            .collapse#pruebasAmigas(data-parent="#accordionExample" style="background-color:rgba(0,0,0,0.5")
                                a.dropdown-item(target='_blank' href="//www.algarvebikechallenge.com/")  Algarve bike challenge
                                a.dropdown-item(target='_blank' href="//www.mountainquest.pt") Mountainquest
                                a.dropdown-item(target='_blank' href="//www.dourobikerace.com/es/dbr/") Douro Bike Race
                                a.dropdown-item(target='_blank' href="//www.power-race.es/pages/web/portada") Power Race León
                //- li.nav-item.dropdown
                //-     a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#ropa(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Ropa
                //-     .dropdown-menu.bg-inverse(aria-labelledby="ropa")
                //-         //- a.disabled.dropdown-item Ropa Evento
                //-         a.dropdown-item(target='_blank' href="https://eventos.emesports.es/inscripcion/tienda-global-copia/inscripcion_datos/?lang=es") Tienda Global DXT
                //- li.nav-item: a.disabled.nav-link.text-uppercase.Header-link.mx-2(href='alojamiento.html') Alojamiento
        .inscription-wrapper
            a.color-link(href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2021/participantes/"): button.btn.Button--inscripted.my-2.my-sm-0(type='submit') Inscritos
            a.color-link(href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2021/inscripcion_datos/"): button.btn.Button--inscription.my-2.my-sm-0(type='submit') Inscripción
            //- a.color-link(href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2021/participantes/" data-toggle="collapse" aria-expanded="false" aria-controls="Inscripted"): button.btn.Button--inscripted.my-2.my-sm-0(type='submit') Inscritos
            //- a.color-link(href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2021/inscripcion_datos/" data-toggle="collapse" aria-expanded="false" aria-controls="Inscription"): button.btn.Button--inscription.my-2.my-sm-0(type='submit') Inscripción
        //- nav.nav.navbar-lang
        //-     li.nav-item
        //-         a.nav-link.is-active Español
        //-     li.nav-item
        //-         a.nav-link(href="../../gl/epic300/index.html") Gallego
        //-     li.nav-item
        //-         a.nav-link(href="../../pt/epic300/index.html") Portugués
        //-     li.nav-item
        //-         a.nav-link(href="../../en/epic300/index.html") Inglés

    // Stages section
    section.Stages
        .collapse#collapseStages
            .container
                mixin stage(href, img, title, stage)
                    .col-sm-3
                        a.Figure-link(href=href)
                            figure.figure.Figure.m-0
                                img.figure-img.Figure-img.img-fluid.rounded.m-0(src=img)
                                figcaption.figure-caption.Figure-caption
                                    h4.Figure-title.m-0=title
                                    p.Figure-text.m-0=stage
                                    .Figure-arrow
                                        i.fa.fa-angle-right(aria-hidden="true")
                .row.py-3
                    +stage('etapa1.html','../../assets/files/img/stage5.jpg','Etapa 1','(Pontevedra) - A Lama')
                    +stage('etapa2.html','../../assets/files/img/stage6.jpg','Etapa 2','A Lama - Mondariz')
                    +stage('etapa3.html','../../assets/files/img/stage7.jpg','Etapa 3','Mondariz - Mos')
                    +stage('etapa4.html','../../assets/files/img/stage8.jpg','Etapa 4','Mos - Pontevedra')
                .row.py-3
                    +stage('etapa5.html','../../assets/files/img/stage1.jpg','Etapa 5','Pontevedra - Portas')
                    +stage('etapa6.html','../../assets/files/img/stage2.jpg','Etapa 6','Portas - Moraña')
                    +stage('etapa7.html','../../assets/files/img/stage3.jpg','Etapa 7','Moraña - Pontevedra')