//- headerHalf
header.Header
    // Inscription section
    .collapse.Inscription.py-4#Inscription
        .container.rounded.py-4.align-items-center: .row
                .col-sm-4
                    h5.u-title.mb-0.text-justify Únete al reto
                    p Inscripciones abiertas a partir del 15 de febrero de 2021
                .col-sm-8
                    .row
                        .col-sm-6
                            a(href='halfindividual.html'): button.mb-2.text-center.btn.Button--inscriptionLink Half Epic Race individual
                        .col-sm-6
                            a(href='halfequipos2.html'): button.mb-2.text-center.btn.Button--inscriptionLink Half Epic Race Equipos 2
                    .row
                        .col-sm-6
                            a(href='halfequipos3.html'): button.mb-2.text-center.btn.Button--inscriptionLink Half Epic Race Equipos 3
                        .col-sm-6
                            a(href='halfequipos4.html'): button.mb-2.text-center.btn.Button--inscriptionLink Half Epic Race Equipos 4
    // Inscripted section
    .collapse.Inscription.py-4#Inscripted
        .container.rounded.py-4.align-items-center: .row
                .col-sm-4
                    p Comprueba si tu inscripción fue tramitada correctamente
                .col-sm-8
                    .row
                        .col-sm-6
                            a(href='inscritos-half-individual.html'): button.mb-2.text-center.btn.Button--inscriptionLink Half Epic Race individual
                        .col-sm-6
                            a(href='inscritos-half-equipos2.html'): button.mb-2.text-center.btn.Button--inscriptionLink Half Epic Race Equipos 2
                    .row
                        .col-sm-6
                            a(href='inscritos-half-equipos3.html'): button.mb-2.text-center.btn.Button--inscriptionLink Half Epic Race Equipos 3
                        .col-sm-6
                            a(href='inscritos-half-equipos4.html'): button.mb-2.text-center.btn.Button--inscriptionLink Half Epic Race Equipos 4
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.px-4
        button.navbar-toggler.navbar-toggler-right.mt-4(type='button' data-toggle='collapse' data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        a.navbar-brand(href='index.html')
            img(src='../../../assets/files/img/logo.svg' width='80' alt='logo')

        .collapse.navbar-collapse.justify-content-center#navbarSupportedContent
            ul.navbar-nav
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#navbarDropdownPrueba(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") The Race
                    .dropdown-menu.bg-inverse(aria-labelledby="navbarDropdownPrueba")
                        a.dropdown-item(href="categories.html") Categories
                        a.dropdown-item(href="rates.html") Rates
                        a.dropdown-item(href="points.html") Refreshment points
                li.nav-item: a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2(href="#collapseStages" data-toggle="collapse" aria-expanded="false" aria-controls="collapseStages") Stages
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#navbarDropdownParticipantes(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Participants
                    .dropdown-menu.bg-inverse(aria-labelledby="navbarDropdownParticipantes")
                        a.dropdown-item(href="../../assets/files/pdf/informacion-epic.pdf") Información
                        a.dropdown-item(href="../../assets/files/pdf/ficha-medica.pdf") Ficha médica
                        a.dropdown-item(href="../../assets/files/pdf/mapa-epic.pdf") Mapa 
                li.nav-item: a.nav-link.text-uppercase.Header-link.mx-2(href='regulations.html') Regulations
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#navbarDropdownPatrocinadores(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Multimedia
                    .dropdown-menu.bg-inverse(aria-labelledby="navbarDropdownPatrocinadores")
                        a.dropdown-item.disabled(href="") Photos
                        a.dropdown-item.disabled(href="") Video
                //- li.nav-item: a.nav-link.text-uppercase.Header-link.mx-2(href='ambassadors.html') Ambassadors
                //- li.nav-item: a.nav-link.text-uppercase.Header-link.mx-2(href='event-clothing.html') Event Clothing
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#navbarDropdownPatrocinadores(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Globaldxt Races
                    .dropdown-menu.bg-inverse(aria-labelledby="navbarDropdownPatrocinadores")
                        a.dropdown-item(target='_blank' href="//pontevedra4picos.com") 4 Picos Bike
                        a.dropdown-item(target='_blank' href="//pontevedra4picosroad.com") 4 Picos Road
                        a.dropdown-item(target='_blank' href="//costaatlanticamtbtour.com") Costa Atlántica MTB Tour
                        a.dropdown-item(href style="color: rgba(255,255,255,0.5)") BTTroita Pontecaldelas
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-uppercase.Header-link.mx-2#navbarDropdownPatrocinadores(href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Firendly Races
                    .dropdown-menu.bg-inverse(aria-labelledby="navbarDropdownPatrocinadores")
                        a.dropdown-item(target='_blank' href="//www.algarvebikechallenge.com/")  Algarve bike challenge
                        a.dropdown-item(target='_blank' href="//www.mountainquest.pt") Mountainquest
                        a.dropdown-item(target='_blank' href="//www.dourobikerace.com/es/dbr/") Douro Bike Race
        .inscription-wrapper
            a.color-link(href="https://www.avaibooksports.com/inscripcion/participantes.php?id=8096"):  button.btn.Button--inscripted.my-2.my-sm-0(type='submit') Inscribed
            a.color-link(href="https://www.avaibooksports.com/inscripcion/inscripcion_datos.php?id=8096&lang=es" target="_blank"): button.btn.Button--inscription.my-2.my-sm-0(type='submit')  Inscription
            //- a.color-link(href="#Inscription" data-toggle="collapse" aria-expanded="false" aria-controls="Inscription"): button.btn.Button--inscription.my-2.my-sm-0(type='submit') Inscripción
        //- nav.nav.navbar-lang
        //-     li.nav-item
        //-         a.nav-link.is-active English
        //-     li.nav-item
        //-         a.nav-link(href="../../gl/epic200/index.html") Galicia
        //-     li.nav-item
        //-         a.nav-link(href="../../pt/epic200/index.html") Portuguese
        //-     li.nav-item
        //-         a.nav-link(href="../../es/epic200/index.html") Spanish

    // Stages section
    section.Stages.bg-faded
        .collapse#collapseStages
            .container
                .row
                mixin stage(href, img, title, stage)
                    .col-sm-3
                        a.Figure-link(href=href)
                            figure.figure.Figure.m-0
                                img.figure-img.Figure-img.img-fluid.rounded.m-0(src=img)
                                figcaption.figure-caption.Figure-caption
                                    h4.Figure-title.m-0=title
                                    p.Figure-text.m-0=stage
                                    .Figure-arrow
                                        i.fa.fa-angle-right(aria-hidden="true")
                .row.py-3
                    +stage('stage1.html','../../assets/files/img/stage5.jpg','Stage 1','Pontevedra - Ponte Caldelas')
                    +stage('stage2.html','../../assets/files/img/stage6.jpg','Stage 2','Ponte Caldelas - Ponteareas')
                    +stage('stage3.html','../../assets/files/img/stage7.jpg','Stage 3','Ponteareas - Redondela')
                    +stage('stage4.html','../../assets/files/img/stage8.jpg','Stage 4','Redondela - (Pontevedra)')
