//- head
head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='../../assets/css/main.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon" type="image/png" href="../../assets/files/img/favicon.png")
    <link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> 
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
