//- promo
section.IndexPromo.py-5.mb-5
    .container: .row.align-items-center
                .col-sm-8
                    .IndexPromo-text
                        h3.IndexPromo-title.mx-2 Únete al reto
                        h4.IndexPromo-subtitle.mx-2 Inscripciones abiertas a partir del 15 de febrero de 2021
