//- promo
section.IndexPromo.py-5.mb-5
    .container: .row.align-items-center
                .col-sm-8
                    .IndexPromo-text
                        h3.IndexPromo-title.mx-2 Únete ó reto
                        h4.IndexPromo-subtitle.mx-2 Inscricións abertas a partir do 1 de decembro