//- promo
section.IndexPromo.py-5.mb-5
    .container: .row.align-items-center
                .col-sm-8
                    .IndexPromo-text
                        h3.IndexPromo-title.mx-2 Join the challenge
                        h4.IndexPromo-subtitle.mx-2 Registration opened from December 1