//- turn
section.Turn.pt-5
    .container-fluid: .row
            .col-sm-6.Turn-bg.Turn-bg--epic
                .Turn-caption.Turn-caption--left
                    h3.Turn-title Epic Race 300
                    a(href="../epic300"): button.btn.Button--turn(type="button") Más información
            .col-sm-6.Turn-bg.Turn-bg--half
                .Turn-caption.Turn-caption--right
                    h3.Turn-title Epic Race 200
                    a(href="../epic200"): button.btn.Button--turn(type="button") Más información
            //- .col-sm-4.Turn-bg.Turn-bg--small
            //-     .Turn-caption.Turn-caption--right
            //-         h3.Turn-title Small Epic Race
            //-         a(href="../small"): button.btn.Button--turn(type="button") Más información