//- turn
section.Turn.pt-5
    .container-fluid: .row
            .col-sm-6.Turn-bg.Turn-bg--epic
                .Turn-caption.Turn-caption--left.text-right
                    h3.Turn-title Epic Race
                    a(href="../epic"): button.btn.Button--turn(type="button") More info
            .col-sm-6.Turn-bg.Turn-bg--half
                .Turn-caption.Turn-caption--right
                    h3.Turn-title Half Epic Race
                    a(href="../half"): button.btn.Button--turn(type="button") More info