doctype html
html(lang="es")
    title Categorías 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerSmall.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Categorías
                    .col-sm-9.my-5
                        ul
                            li.mb-2.text-justify Individual masculino
                            li.mb-2.text-justify Individual femenino
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug