doctype html
html(lang="es")
    title Embajadores 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerSmall.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Embajadores
                    .col-sm-9
                        p.text-justify ¿Quieres ser embajador de las pruebas GlobalDXT?
                        p.text-justify Estamos buscando personas activas, relacionadas con el deporte de las dos ruedas y que quieran vincularse a las pruebas que organizamos. Estas personas podrán asistir de forma gratuíta a nuestras pruebas, tener ropa de las mismas y otras contraprestaciones.
                        p.text-jutify ¿Estás interesado o conoces a alguien que pueda estarlo? Envíanos a cimadevila@globaldxt.com tu currículum con los siguientes datos:
                        ul
                            li.mb-2.text-justify Nombre y apellidos
                            li.mb-2.text-justify Edad
                            li.mb-2.text-justify Teléfono de contacto
                            li.mb-2.text-justify Email
                            li.mb-2.text-justify Redes sociales en las que te mueves y su enlace
                            li.mb-2.text-justify Número de seguidores en las redes sociales
                            li.mb-2.text-justify Pruebas en las que has participado en 2018
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug