doctype html
html(lang="es")
    title Etapa 2 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerSmall.pug
        main(role="main")
            .carousel.slide#CarouselStage6(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage6" data-slide-to="0").active
                    li(data-target="#CarouselStage6" data-slide-to="1")
                    li(data-target="#CarouselStage6" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage6-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage6-item2
                    .carousel-item.CarouselStage1-item.CarouselStage6-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage6" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage6" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 2
                        h5.Stage-subtitle.mb-4 Moraña - Portas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 53km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1100m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1250m
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify Las montañas del interior
                            img.img-fluid.mb-2.w-100(src="../../assets/files/img/level2small.jpg")
                            p.text-justify Dos puertos definen esta etapa. El primero con una especial dureza, por la inclinación de sus rampas, que en algún caso supera el 15%, o bien por el estado de algunos caminos. El segundo, cómodo tendido y rápido. Una etapa cómoda sin grandes complicaciones técnicas.
                            p.text-justify Salimos de Moraña por sus magníficos bosques, buscando el Norte y, tras cruzar el rio Umia, avanzamos por sus márgenes hasta el km 7, por caminos muy rápidos y con leve inclinación.
                            p.text-justify A partir de este punto comenzamos la ascensión al monte de Castro Sebil, llegando a los 467m de cota.
                            p.text-justify Con un primer tramo por camino, luego 2 Km de asfalto y finalmente sobre pista forestal ancha que, en algunas zonas presenta terreno suelto. Sin llegar a hacer cumbre, y luego de un corto descenso y un pequeño ascenso a las faldas del Monte Cabalar (alcanzando los 488m de cota), comenzamos un descenso de 5 km rápidos, que comienzan entre preciosas carballeiras y nos acercan a un fondo de valle entre aldeas. La primera parte por sendas y la segunda alternando asfalto y grava nos acercan a los piés del último monte de la etapa, el Xesteiras.
                            p.text-justify En el Km 21 comenzamos la ascensión a las faldas del monte Xesteiras sobre pista forestal ancha que, cómoda y muy rápida. Sin llegar a hacer cumbre (llegando a una altura de 501m) comienza el descenso, muy rápido por caminos forestales y sendas, en las que no debemos despistarnos del GPS. Una bajada divertida que hará las delicias de los ciclistas.
                            p.text-justify Llegamos así, no sin antes superar algunos tramos de ascenso sin grandes rampas, al concello de Portas , que enclavado en un entorno privilegiado, es un mosaico de paisajes donde crece el oro de estas tierras, el Albariño.
                            //- a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-2-epic-race-2019-morana-vila-de-cruces-36679898") Track
                            .row
                                .col-sm-6.text-left
                                    a(href='etapa1.html'): button.btn.Button--stages Etapa anterior
                                .col-sm-6.text-right
                                    a(href='etapa3.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug