doctype html
html(lang="es")
    title Etapa 1 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerSmall.pug
        main(role="main")
            .carousel.slide#CarouselStage5(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage5" data-slide-to="0").active
                    li(data-target="#CarouselStage5" data-slide-to="1")
                    li(data-target="#CarouselStage5" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage5-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage5-item2
                    .carousel-item.CarouselStage1-item.CarouselStage5-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage5" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage5" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 1
                        h5.Stage-subtitle.mb-4 Pontevedra - Moraña
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 72km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1500m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1400m
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify Comienza la aventura
                            img.img-fluid.mb-2.w-100(src="../../assets/files/img/level1small.jpg")
                            p.text-justify Esta es una etapa muy rodadora, en la que apenas hay tramos técnicos y que se caracteriza por los largos tramos de subida continua pero muy tendida.
                            p.text-justify Abandonamos Pontevedra, para enfrentar los primeros metros por el espectacular entorno de la ribera del río Lérez, uno de los múltiples regalos con los que la naturaleza regala a la ciudad de Pontevedra y a su ría.
                            p.text-justify En el Km 9, después de un pequeño enlace por asfalto, comenzamos el ascenso. Las primeras rampas son duras pero cortas y, poco a poco, se van suavizando, conduciéndonos hasta las faldas del Monte Coirego, alcanzando muy cerca del observatorio astronómico la cota máxima de la etapa (670m)
                            p.text-justify Desde el punto anterior comenzamos a descender combinando caminos, algún tramo de asfalto y sendas, aunque a mitad de este tramo debemos superar alguna de las típicas corredoiras tradicionales con firmes empedrados, que nos harán afinar la trazada para que la rueda trasera no patine. Pedaleamos, en este punto por bellísimas aldeas de la montaña pontevedresa, donde los gallegos, durante cientos de años, han dibujado pueblos y muros de piedra sobre un impresionante lienzo verde.
                            p.text-justify Acabamos el descenso cruzando el río Lérez sobre un puente de origen romano y al que llegamos atravesando la magnífica aldea de Pedre, sorprendente por sus agrupaciones de hórreos y su magnífico estado de conservación. Un lugar mágico que nos traslada en el tiempo.
                            p.text-justify Después de cruzar el río comenzamos de nuevo un ascenso tendido, primero por asfalto y luego por pista forestal ancha. A medida que vamos ganando cota los horizontes se agrandan y nuestra vista se sorprende con multitud de valles y montañas desde los que llegamos a divisar las rías de Pontevedra y Arousa.
                            p.text-justify En el Km 57 alcanzamos la segunda cima de la etapa, comenzando un rapidísimo descenso por pista que nos acerca a las dos últimas colinas.
                            p.text-justify Finalmente llegamos por asfalto a la localidad de Moraña, que enclavada entre bosques tradicionales y regada por el río Umia y los cientos de regatos y ríos que proceden de sus montes, nos regala un entorno natural que hará las delicias de corredores y acompañantes.
                            //- a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-1-epic-race-2019-pontevedra-morana-34619235") Track
                            .row
                                .col-sm-6.text-left
                                .col-sm-6.text-right
                                    a(href='etapa2.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug