doctype html
html(lang='es')
    title Epic Race Pontevedra
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerSmall.pug
        main(role= "main")
            include ../../_includes/_carouselIndex.pug
            .u-bgRed
            //- section.IndexFollowRace.py-5.my-5
            //-     .container
            //-         .row
            //-             .col-sm-8.offset-sm-2.text-center
            //-                 h2 Sigue la carrera en directo
            //-                 a(href="https://tracktherace.com/epic-race-pontevedra-2019"): button.btn(type="button") Más información
            section.IndexDescription.py-5.mb-5
                .container 
                    .row
                        .col-sm-8
                            article.text-justify
                                h2.u-title El reto
                                p <strong>Small Epic Race Pontevedra</strong>  son 179 km y aproximadamente 4.000 metros de desnivel positivo acumulado en formato non stop. Un reto de btt que exige lo mejor de los ciclistas.
                                p Los participantes se enfrentan a un recorrido por la provincia de Pontevedra, a lo largo del día y de la noche, desafiando los montes, acariciando las Rías Baixas y conociendo los bosques más antiguos y los pueblos más pintorescos. Todo ello con un límite de 15 horas.
                                p Un reto que pone a prueba lo mejor de cada ciclista mientras le premia con una experiencia inolvidable a través del paraíso que regalan las Rías Baixas y sus montes.

                        .col-sm-4
                            //- include ../../_includes/_carouselIndex--stages.pug
                    .row.py-5
                        .col-sm-12.text-center
                            .embed-responsive.embed-responsive-16by9
                                iframe(width="853" height="480" src="https://www.youtube.com/embed/RNDUyKA5Pwc" frameborder="0" allowfullscreen)
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug
        //- script(async src="https://tracktherace.com/badges/js?c=b9shK9")
        script(src="../../assets/js/app.js")