doctype html
html(lang="es")
    title Tarifas 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerSmall.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Tarifas
                    .col-sm-9
                        .Prices.p-4.rounded
                            table.Prices-table.table.table-bordered.table-responsive
                                thead: tr.mb-3
                                        th Inscritos
                                        th Epic Race Individual
                                        th Epic Race Equipos 2-3-4
                                        th Half Epic Race Individual
                                        th Half Epic Race Equipos 2
                                        th Small Epic Race
                                tbody
                                    tr.mb-3
                                        th(scope="row") Del 1 al 3 de diciembre 2019 *
                                        td 99€
                                        td 89€
                                        td 79€
                                        td 69€
                                        td 59€ (del 27 al 29 de diciembre)
                                    tr.mb-3
                                        th(scope="row") Del 4 de diciembre de 2019 al 31 de enero 2020
                                        td 109€
                                        td 99€
                                        td 89€
                                        td 79€
                                        td 69€ (a partir del 30 de diciembre)
                                    tr.mb-3
                                        th(scope="row") Del 1 de febrero al 31 de marzo 2020
                                        td 129€
                                        td 119€
                                        td 109€
                                        td 99€
                                        td 85€
                                    tr.mb-3
                                        th(scope="row") Del 1 de abril al 14 de mayo 2020
                                        td 139€
                                        td 129€
                                        td 119€
                                        td 109€
                                        td 95€
                            small * Este periodo está reservado  para los inscritos en la edición anterior
                            small Los participantes que no tengan LICENCIA FEDERATIVA deberán abonar <strong>10 € de seguro</strong> de día para la HALF EPIC RACE y <strong>20 € de seguro</strong> de dos días para la EPIC RACE (precios fijados por la FGC)
                            p.text-justify Las inscripciones se realizarán hasta el 14 de mayo de 2020 o cubrir las 200 plazas para la EPIC RACE, las 200 plazas para la HALF EPIC RACE y las 200 para la SMALL EPIC RACE.
                            p.text-justify LA INSCRIPCIÓN PODRÁ SER DEVUELTA EN LOS SIGUIENTES PLAZOS POR CUALQUIER MOTIVO DE ANULACIÓN:
                            ul
                                li 	100% DE LA CUOTA DE INSCRIPCIÓN: hasta el 19 de febrero
                                li 50% DE LA CUOTA DE INSCRIPCIÓN: hasta el 1 de abril
                                li 25% DE LA CUOTA DE INSCRIPCIÓN: hasta el 1 de mayo
                                li 0% DE LA CUOTA DE INSCRIPCIÓN: a partir del 2 de mayo
                            p.text-justify <strong>NO SE REALIZARÁ NINGUN TIPO DE DEVOLUCION DE DINERO DE LAS INDICADA MAS ARRIBA, SEA CUAL SEA LA CAUSA DE ANULACIÓN ( aunque sea por causa médica)</strong>
                        .Include.py-5
                            h5 ¿Qué incluye la inscripción?
                            ul
                                li.text-justify Posibilidad de participar en el recorrido de 550 km con límite 51 horas en la EPIC RACE Y de 270 km con límite 24 horas en HALF EPIC RACE.
                                li.text-justiy Chaleco conmemorativo del evento de la marca Ottobosley.
                                li.text-justiy Pegatinas identificativas para los vehículos de asistencia 
                                li.text-justiy Seguro de accidentes
                                li.text-justiy GPS de control de situación. Este GPS permite realizar seguimiento en vivo de todos los participantes así como vela por su seguridad al tener la opción de llamada de emergencia.
                                li.text-justify Dorsal con Chip para control en zonas de paso
                                li.text-justify 8 puntos de avituallamiento sólido liquido para los participantes (4 en caso de la half EPIC RACE)
                                li.text-justify Servicio de masaje
                                li.text-justify Servicio de duchas en cada punto de avituallamiento
                                li.text-justify Servicio de asistencia sanitaria
                                li.text-justify Zona de aparcamiento exclusivo para os vehículos de asistencia, en cada estación
                                li.text-justify Detalle finisher para los que finalicen el reto 
                                li.text-justify Trofeos  para los tres primeros clasificados masculinos y femeninos de cada categoría
                                li.text-justify <strong>Fiesta final de prueba</strong>. Una fiesta para los participantes a partir de las 13:30 del domingo
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug