doctype html
html(lang="es")
    title Etapa 3 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .carousel.slide#CarouselStage7(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage7" data-slide-to="0").active
                    li(data-target="#CarouselStage7" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage7-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage7-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage7" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage7" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 3
                        h5.Stage-subtitle.mb-4 Mondariz - Mos
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 47km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1250m
                            p.mb-0.mt-2.d-block Cota máxima
                            span.pl-2 580m
                            p.mb-0.mt-2.d-block Terreno técnico
                            span.pl-2 15%
                            p.mb-0.mt-2.d-block Terreno grava o tierra
                            span.pl-2 69%
                            p.mb-0.mt-2.d-block Asflato
                            span.pl-2 16%
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify Los Valles del sur
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level3.jpg")
                        include:markdown-it ../etapas/etapa3.md
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/31.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/32.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/33.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/34.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/35.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/36.jpg")
                        .row
                            .col-sm-6.text-left
                                a(href='etapa2.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa4.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug