doctype html
html(lang="es")
    title Reglamento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalf.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Preguntas frecuentes
                    .col-sm-9
                        .Rules#accordion(role="tablist" aria-multiselectable="true")
                            //art.1
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading1(role="tab")
                                    a.Rules-link.mb-0(data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Cuántos kilómetros tiene la prueba?
                            .collapse.show#collapse1(role="tabpanel" aria-labelledby="heading1"): .card-block
                                    p.justify-text La half epic race cuenta con 200 km de puro MTB, a lo largo de toda la Provincia de Pontevedra 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading2(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué acumulado positivo total tiene?
                            .collapse#collapse2(role="tabpanel" aria-labelledby="heading2"): .card-block
                                    p.justify-text El total de las 4 etapas suma 5500 m de desnivel acumulado positivo 
                            //art.3
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading3(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Cuántas estaciones de avituallamiento tiene la prueba?
                            .collapse#collapse3(role="tabpanel" aria-labelledby="heading3"): .card-block 
                                    p.justify-text Los participantes tendrán 4 estaciones de avituallamiento contando con la meta, en la que se encuentran los puntos de control de obligado paso.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading4(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué límite máximo de horas tengo para acabarla?
                            .collapse#collapse4(role="tabpanel" aria-labelledby="heading4"): .card-block
                                     p.justify-text En cada una de las etapas habrá un tiempo limite para acabarlas. El límite total será de 19 horas, pero es muy importante saber que si no llega al punto de control antes del tiempo límite marcado por la etapa ( tiempos límite que se irán acumulando) se estará fuera de la prueba.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading5(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Está el recorrido flechado?
                            .collapse#collapse5(role="tabpanel" aria-labelledby="heading5"): .card-block
                                     p.justify-text El recorido NO ESTÁ FLECHADO, por lo que es preciso usar un terminal GPS en el que los participantes tendrán el recorrido facilitado por la organización.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading6(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Puedo elegir un recorrido alternativo al marcado por la organización?
                            .collapse#collapse6(role="tabpanel" aria-labelledby="heading6"): .card-block
                                    p.justify-text NO. La organización tiene dispuesto una zona de control en la que se controla el recorrido de cada participante. Aquellos participantes que se separen más de 500 metros del track y no vuelvan al track marcado, serán EXPULSADOS de la prueba.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading7(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Pueden ayudarme durante el recorrido?
                            .collapse#collapse7(role="tabpanel" aria-labelledby="heading7"): .card-block 
                                    p.justify-text Está PROHIBIDO, recibir cualquier tipo de ayuda externa durante el recorido. Solo en los puntos de avituallamiento se podrá recibir ayuda. Por lo que los participantes deberán llegar por sus propios medios a dichos puntos de control.
                            
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading8(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué pasa si no llego al punto de control?
                            .collapse#collapse8(role="tabpanel" aria-labelledby="heading8"): .card-block
                                    p.justify-text El equipo/participante quedará fuera de competición y por lo tanto del control de la organización.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading9(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse9"     aria-expanded="false" aria-controls="collapse9")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué pasa si un miembro de mi equipo abandona?
                            .collapse#collapse9(role="tabpanel" aria-labelledby="heading9"): .card-block
                                    p.justify-text El resto del equipo podrá estar en carrera. La clasificación será la del nº de participantes inscritos de inicio.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading10(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse10"     aria-expanded="false" aria-controls="collapse10")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿La prueba es abierta al tráfico?
                            .collapse#collapse10(role="tabpanel" aria-labelledby="heading10"): .card-block
                                    p.justify-text SI, ASI ES. La prueba está abierta al tráfico por lo que se deberá respetar semáforos, cruces, modo de circulación, etc. La organización no se responsabiliza de los posibles percances acaecidos por no respetar la circulacón y sus normas, pudiendo ser expulsados de la prueba en caso de que se vea a algún participantes cometiendo una infracción. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading11(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Es obligatorio llevar móvil en la prueba?
                            .collapse#collapse11(role="tabpanel" aria-labelledby="heading11"): .card-block
                                    p.justify-text Sí, para que la organización pueda ponerse en contacto si surge algún imprevisto o hay algún problema. Importante que tenga batería suficiente.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading12(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Qué hago si no decido seguir en la prueba?
                            .collapse#collapse12(role="tabpanel" aria-labelledby="heading12"): .card-block
                                    p.justify-text Fundamental que de aviso a la organización lo antes posible para poder tener controlados a todos los participantes y velar por su seguridad.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading13(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Cuándo puedo retirar el dorsal?
                            .collapse#collapse13(role="tabpanel" aria-labelledby="heading13"): .card-block 
                                    p.justify-text La recogida de dorsales tendrá lugar el viernes 4 de junio en horario de 17 a 21 horas en las instalaciones del PAZO DE CONGRESOS E EXPOSICIONS DE PONTEVEDR A (R/ Alexandre Bóveda) u en otro lugar determinado por la organización, para los participantes de la EPIC RACE 300 , y EPIC RACE 200. Los participantes, también podrán recoger sus dorsales en la zona de salida el sábado 5 de junio en horario de 7:00 a 8:15 horas . Será obligatorio presentar la licencia original y en vigor, para la recogida de dorsales. La asignación de dorsales será en función de las categorías.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading14(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Puede retirar el dorsal algún compañero por mí?
                            .collapse#collapse14(role="tabpanel" aria-labelledby="heading14"): .card-block
                                    p.justify-text Sí, siempre que tenga DNI y Licencia de la federación, y los papeles que se deben tener cubiertos para la prueba.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading15(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse15"     aria-expanded="false" aria-controls="collapse15") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Tengo que pagar el seguro federativo?
                            .collapse#collapse15(role="tabpanel" aria-labelledby="heading15"): .card-block 
                                    p.justify-text SOLO si no tienes la licencia Federativa en Vigor. La federación pone da la opción de LICENCIA DE DÍA para el evento, que en caso de la EPIC RACE 300 será de 20 euros y en la EPIC RACE 200 de 10 euros.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading16(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse16"     aria-expanded="false" aria-controls="collapse16")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Qué hay en las estaciones de avituallamiento?
                            .collapse#collapse16(role="tabpanel" aria-labelledby="heading16"): .card-block
                                    ul En las estaciones de avituallamiento se dispondrá de:
                                        li Zona de aparcamientos
                                        li Zona de duchas
                                        li Avituallamiento sólido/líquido ( para los participantes)
                                        li Zona de masaje en estaciones por determinar

                                        li Zona de control de tiempos y punto de control
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading17(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Es obligatorio el breafing de inicio de prueba?
                            .collapse#collapse17(role="tabpanel" aria-labelledby="heading17"): .card-block 
                                    p.justify-text SI. Es obligatorio puesto que se dará información primordial para la prueba. La hora del breafing se informará a los participantes 15 días antes del evento.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading18(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Cómo se traslada los vehículos de punto de control a punto de control?
                            .collapse#collapse18(role="tabpanel" aria-labelledby="heading18"): .card-block
                                    p.justify-text Cada equipo dispondrá de una hoja de ruta para poder ir a los diferentes puntos de control. En la zona de avituallamientos SOLO estacionarán los vehículos autorizados.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading19(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Es obligatorio recoger el trofeo si lo gano?
                            .collapse#collapse19(role="tabpanel" aria-labelledby="heading19"): .card-block 
                                    p.justify-text SI. Es obligatorio. El Domingo a las 13:30 horas se entregarán los trofeos. En caso de que algún participante/equipo que merezca trofeo no hubiese entrado aun, se le dará en el momento de su entrada en meta.
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug