doctype html
html(lang="es")
    title Multimedia 
    include ../../_includes/_head.pug
    body
      include ../../_includes/_headerHalf.pug
      main(role="main")
          .u-bgRed
          .container.py-5: .row
                  .col-sm-3
                      h3.u-title Multimedia
                  .col-sm-9
                    .row
                      .col-sm-12(style="margin-bottom: 40px")
                        .embed-responsive.embed-responsive-16by9
                          iframe(width="853" height="480" src="https://www.youtube.com/embed/HM8W6T6UsDo" frameborder="0" allowfullscreen)
          include ../../_includes/_promo.pug
          include ../../_includes/_turn.pug
      include ../../_includes/_footer.pug