doctype html
html(lang="es")
    title Puntos de avituallamiento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalf.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-3
                        h3.u-title Puntos de avituallamiento
                    .col-sm-9
                        p.tex-justify En la EPIC RACE 200, los servicios serán los mismos que en la EPIC RACE 300 pero las estaciones de parada serán 4 ( 3 intermedias y final). 
                        p En las estaciones de avituallamiento se dispondrá de:
                            ul: li Zona de aparcamiento
                                li Zona de duchas
                                li Avituallamiento sólido/líquido (para los participantes)
                                li Zona de control de tiempos y punto de control
                        .row.py-4
                            .col-sm-12
                                //- ul.list-unstyled
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon1.svg" alt="icon1")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapsePontevedra" aria-expanded="false" aria-controls="collapsePontevedra"): h5.mt-0.mb-1 Pontecaldelas
                                //-             .collapse#collapsePontevedra
                                //-                 p.text-justify Pontevedra es la capital de la provincia y capital de las Rías Baixas. El río Lerez atraviesa la ciudad y por ello es conocida también como la “Ciudad del Lerez” y también como “Boa Vila”. Es una ciudad administrativa, monumental, turística y de servicios, con una población de 82549 habitantes.
                                //-                 p.text-justify En noviembre de 2014 le fue concedido el galardón mundial ONU-Hábitat, entregado en Dubai (Emiratos Árabes Unidos) que la reconoce como una de las ciudades europeas más cómodas para vivir, especialmente en materia de calidad urbana, movilidad y accesibilidad. En 2015 le fue concedido por el mismo motivo el premio de excelencia urbana del Center for Active Design en la ciudad de Nueva York y el premio Ciudad de Movilidad Inteligente Euro-China 2015 entregado en Hong Kong, entre otros.
                                //-                 p.text-justify Posee el centro histórico más importante de Galicia, junto con el de Santiago de Compostela. Dicho casco antiguo fue declarado en su totalidad Conjunto Histórico-Artístico en 1951 y ha sido calificado por el periódico inglés The Guardian como “una magnífica ciudad antigua”.
                                //-                 a.Point-url(href="http://www.pontevedra.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.pontevedra.gal
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon3.svg" alt="icon3")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"): h5.mt-0.mb-1 Tui
                                //-             .collapse#collapseTui
                                //-                 p.text-justify Tui es un municipio de 17000 habitantes, situado en la parte oriental de la comarca del Bajo Miño, en la provincia de Pontevedra. A partir del 10 de febrero de 2012 junto a la ciudad de Valença do Minho (Portugal) forman una eurociudad como muestra de cooperación e integración entre ambas ciudades separadas tan solo por dos puentes que atraviesan el río Miño. Uno de estos dos puentes es el Puente Internacional de Tui fundado en 1886.
                                //-                 p.text-justify Tui cuenta con un importante patrimonio histórico, tales como la Catedral de Santa María de Tui, una de la catedrales más importantes de Galicia. También es de destacar el Museo y Archivo Histórico Diocesano, que fue un antiguo hospital de pobres y peregrinos, construido en el año 1756, el Convento e Iglesia de las Clarisas es conocido como convento de las Clarisas o Encerradas que fue fundado en el año 1524, el Túnel de las Monjas Clarisas se encuentra en el fondo de la calle que lleva al convento de las Clarisas, constituyendo uno de los rincones más típicos de Tui, la Iglesia de San Francisco está dotada de biblioteca pública.
                                //-                 p.text-justify El Paseo Fluvial de Tui, entre el río y la antigua muralla medieval ofrece un espacio natural ideal para disfrutar en contacto con la naturaleza.
                                //-                 p.text-justify Como patrimonio natural, Tui cuenta con el Monte Aloioa, que es una cumbre situada en la Sierra de Galiñeiro y declarada parque natural en 1978, con una superficie de 746 hectáreas y el punto mas alto situado a 629 metros de altitud (alto de San Julián).
                                //-                 p.text-justify Cabe destacar las Fiestas Patronales de San Telmo que comienzan el Sábado Santo y duran toda la semana hasta el Lunes de San Telmo (lunes siguiente al de Pascua).
                                //-                 a.Point-url(href="http://www.concellotui.org"): i.fa.fa-link(aria-hidden="true"): span http://www.concellotui.org
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon2.svg" alt="icon2")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"): h5.mt-0.mb-1 Redondela
                                //-             .collapse#collapseRedondela                                
                                //-                 p.text-justify Redondela es un municipio situado en la provincia de Pontevedra e integrado en el Área Metropolitana de Vigo.  Cuenta con 7376 habitantes en el núcleo urbano y se encuentra a 13 km de Vigo, a 20 de Pontevedra y muy cerca del Aeropuerto de Peinador.
                                //-                 p.text-justify Cuenta con dos viaductos del tren, declarados Bien de Interés Cultural en 1978, que atraviesan Redondela, las dos líneas del “Camino de Ferro” son: la de Ourense y la de Pontevedra, que discurre a lo largo de la costa. 
                                //-                 p.text-justify Redondela posee numerosos yacimientos arqueológicos, siendo los más antiguos del año 3000 a.C. Un importante Castro se encuentra a unos 336 metros de altitud, conocido como “Coto do Castro”.
                                //-                 p.text-justify También es de destacar ciertos lugares de interés como la Isla de San Simón, la ensenada de San Simón, el puente de Rande.
                                //-                 p.text-justify Redondela cuenta con varias fiestas, entre las que destacan; la Fiesta de la Coca, que tiene lugar el día del Corpus Christi, fue declarada Fiesta de Interés Turístico Gallego en el 2001, y la Fiesta del Choco, fiesta gastronómica que se celebra en el mes de mayo y también declarada Fiesta de Interés Turístico Gallego.
                                //-                 a.Point-url(href="http://www.redondela.es"): i.fa.fa-link(aria-hidden="true"): span http://www.redondela.es
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug
