doctype html
html(lang="es")
    title Reglamento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalf.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Reglamento
                    .col-sm-9
                        .Rules#accordion(role="tablist" aria-multiselectable="true")
                            //art.1
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading1(role="tab")
                                    a.Rules-link.mb-0(data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.1 Definición
                            .collapse#collapse1(role="tabpanel" aria-labelledby="heading1"): .card-block 
                                p.text-justify La EPIC RACE PONTEVEDRA 300, es una prueba NON STOP que se encuentra en el Calendario de la FGC y en la que los participantes deberán recorrer 300 km con aproximadamente 8.500 metros de desnivel acumulado positivo aproximado, por toda la Provincia de Pontevedra, ya sea de forma individual a en equipos de 2 o 3 personas, pudiendo en el caso de ser equipos, darse relevos en los puntos habilitados en el recorrido. En el caso de la EPIC RACE PONTEVEDRA 200 la distancia y el acumulado será aproximadamente de 200 kms y 5550 mts de desnivel positivo aproximado. La EPIC RACE 200 es una nueva categoría en la que los participantes recorrerán en SOLITARIO o en PAREJAS la distancia de 200 kms. con la opción a tres paradas. La prueba dará inicio el sábado 5 de junio a las 8:00 horas con todos los participantes de las dos modalidades, en el Pazo de Congresos de Pontevedra u otro recinto a determinar por la organización y finalizará en el mismo punto a las 12 horas del domingo 6 de junio como hora límite, es decir, en un tiempo máximo de 28 horas para los participantes de la Prueba larga y 18 horas para los participantes de la prueba corta.

                                p.text-justify En la EPIC RACE PONTEVEDRA 300, los participantes tendrán 5 puntos de parada, donde el paso es obligatorio. En estos puntos se habilitará zona de avituallamiento, duchas, aparcamiento para los vehículos de asistencia. SOLO en estos puntos los participantes podrán recibir asistencia, QUEDANDO TOTALMENTE PROHIBIDO, recibir cualquier tipo de apoyo a lo largo del recorrido. Además, en estos puntos es donde los participantes que van en las categorías de EQUIPO, podrán realizar los pertinentes relevos. En la EPIC RACE 200, los servicios serán los mismos pero las estaciones de parada serán 3. Esta prueba se realiza en formato INDIVIDUAL o por PAREJAS.

                                p.text-justify La prueba se considera un RETO PERSONAL, por lo que se incluye en la categoría de PRUEBA CICLOTURISTA Y se realizará según reglamentación técnica y deportiva indicada en el presente reglamento. En caso que no exista alguna norma o cree duda, se aplicará el de la Federación Galega de Ciclismo.

                            //art.2
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading2(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.2 Inscripciones y tarifas
                            .collapse#collapse2(role="tabpanel" aria-labelledby="heading2"): .card-block 
                                    p.text-justify Para poder participar se deberá estar en posesión de una licencia de ciclismo en vigor y expedida por una federación nacional de ciclismo que esté afiliada a la UCI. Los participantes que no tengan licencia española, deberán aportar además de su licencia, un certificado de su Federación Nacional, que acredite que su seguro tiene validez en España. En el caso de no estar federado, se podrá tramitar una licencia válida sólo para la prueba, siendo preciso realizar un abono de 20€ para la EPIC RACE 300 y 10€ para la EPIC RACE 200, según las tarifas establecidas por la FGC.
                                    p.text-justify OBLIGATORIA ENTREGA DE LA CLAÚSULA COVID Y FORMULARIO DECLARACIÓN RESPONSABLE POR PARTE DE CADA PARTICIPANTE
                                    p.text-justify La formalización de la inscripción se deberá realizar en la página web oficial: www.epicracepontevedra.com, en la que es obligatorio rellenar todos los datos que se soliciten en el formulario y haber realizado el pago de los derechos de inscripción para que la inscripción sea válida.
                                    p.text-justify Los derechos de inscripción incluyen:
                                    ul
                                        li: p.text-justify Derecho de participación en la prueba.  
                                        li: p.text-justify Dispositivo electrónico para el control de tiempos. 
                                        li: p.text-justify Cesión de 1 dispositivo de seguimiento on-line (Testigo de Relevo) con geolocalización (solo epic race 300). 
                                        li: p.text-justify Servicio médico durante la prueba. 
                                        li: p.text-justify Servicios de socorro y emergencia en monte con vehículos de extracción 
                                        li: p.text-justify Avituallamiento líquido y sólido en cada estación de parada. 
                                        li: p.text-justify Maillot conmemorativo del evento u otra prenda a determinar por la organización
                                        li: p.text-justify Servicio mecánico en el paso intermedio (Pontevedra) de la prueba. 
                                        li: p.text-justify Servicio de masaje en el paso intermedio de la prueba. 
                                        li: p.text-justify Servicio de acceso del vehículo de asistencia a zona de aparcamiento del evento.
                                        li: p.text-justify Servicio de duchas (si la situación sanitaria en el día de la prueba lo permite)
                                        li: p.text-justify Servicio de masaje (si la situación sanitaria en el dia de la prueba lo permite)
                                        li: p.text-justify Fiesta-party final (si la situación sanitaria en el día de la prueba lo permite)
                                    p.text-justify Las tarifas de inscripción al evento son las siguientes  ( LAS TARIFAS INDICADAS SON POR PARTICIPANTE).
                                        table.d-lg-table.d-xl-table.Prices-table.table.table-bordered.table-responsive
                                            thead: tr.mb-3
                                                    th Inscritos
                                                    th Epic Race Individual 300kms
                                                    th Epic Race Equipos 2 300kms
                                                    th Epic Race Equipos 3 300kms
                                                    th Epic Race 200 Individual
                                                    th Epic Race 200 Parejas
                                            tbody
                                                tr.mb-3
                                                    th(scope="row") Del 1 al 100 incritos
                                                    td 79€ (sudadera edición especial Epic incluida)
                                                    td 69€ (sudadera edición especial Epic incluida)
                                                    td 59€ (sudadera edición especial Epic incluida)
                                                    td 59€ (sudadera edición especial Epic incluida)
                                                    td 54€ (sudadera edición especial Epic incluida)
                                                tr.mb-3
                                                    th(scope="row") Del 101 inscrito al 200 inscrito
                                                    td 89€ (sudadera edición especial Epic incluida)
                                                    td 79€ (sudadera edición especial Epic incluida)
                                                    td 69€ (sudadera edición especial Epic incluida)
                                                    td 69€ (sudadera edición especial Epic incluida)
                                                    td 64€ (sudadera edición especial Epic incluida)
                                                tr.mb-3
                                                    th(scope="row") Del 201 al 400 inscrito
                                                    td 99€ (sudadera edición especial Epic incluida)
                                                    td 89€ (sudadera edición especial Epic incluida)
                                                    td 79€ (sudadera edición especial Epic incluida)
                                                    td 79€ (sudadera edición especial Epic incluida)
                                                    td 74€ (sudadera edición especial Epic incluida)
                                        p Los participantes que no tengan LICENCIA FEDERATIVA deberán abonar <strong>10 € de seguro</strong> de día para la EPIC RACE 200 y <strong>20 € de seguro</strong> de dos días para la EPIC RACE 300 (precios fijados por la FGC)
                                        p.text-justify Las inscripciones se realizarán hasta el 23 de mayo de 2021 o cubrir las 200 plazas para la EPIC RACE 300 y las 200 plazas para la EPIC RACE 200.
                                        p.text-justify LA INSCRIPCIÓN PODRÁ SER DEVUELTA EN LOS SIGUIENTES PLAZOS POR CUALQUIER MOTIVO DE ANULACIÓN (menos 2 euros de gastos de gestión):
                                        ul
                                            li 100% DE LA CUOTA DE INSCRIPCIÓN: hasta el 31 de marzo
                                            li 50% DE LA CUOTA DE INSCRIPCIÓN: del 1 al 30 de abril
                                            li 25% DE LA CUOTA DE INSCRIPCIÓN: del 1 al 15 de mayo
                                            li 0% DE LA CUOTA DE INSCRIPCIÓN: a partir del 16 de mayo
                                        p.text-justify <strong>NO SE REALIZARÁ NINGUN TIPO DE DEVOLUCION DE DINERO DE LAS INDICADA MAS ARRIBA, SEA CUAL SEA LA CAUSA DE ANULACIÓN ( aunque sea por causa médica)</strong>
                                        p.text-justify <strong>En caso de aplazamiento por causas de fuerza mayor, la organización ofrecerá la posibilidad de traspasar las inscripciones a la nueva fecha de celebración que determine, a no ser que el participante solicite expresamente la devolución del importe . Para ello , deberán indicarlo a través del correo soporte@emesports.es con un máximo de 10 días después del anuncio del cambio de fecha en redes sociales y con el envío de un correo electrónico personalizado.</strong>
                                        p.text-justify Posteriormente a esa fecha se aplicarían los plazos previstos en este reglamento en el artículo 2. Para cualquier otra cosa, tenemos el correo globaldxt@gmail.com a disposición de los participantes.
                            //art.3
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading3(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.3 Participación
                            .collapse#collapse3(role="tabpanel" aria-labelledby="heading3"): .card-block 
                                    p.text-justify  Todos los participantes de la EPIC RACE PONTEVEDRA 300 y 200, deben ser mayores de 18 años o en caso de tener entre 16 y 18 años deberán presentar una autorización firmada por el padre y la madre del menor, antes del día de cierre de inscripciones. Los participantes podrán inscribirse en una de las siguientes categorías de equipo: SOLO: Masculino o Femenino. DUO: Masculino o Femenino. TRIO: Masculino o Femenino (solo en epic race 300). MIXTO ABSOLUTO: equipos formados con miembros de ambos sexos. Podrán estar formados de 2 a 3 participantes. Para establecer cualquiera de estos órdenes de llegada, habrán de haberse inscrito un mínimo de cinco equipos. 
                                    p.text-justify Los participantes serán informados a su debido tiempo, de cuál será la zona de salida de la prueba y de la forma de efectuar la misma, que estará condicionada a la situación sanitaria del momento, i(nformación que se hará llegar a su correo personal y se publicará en redes sociales)
                                    p.text-justify Se establece un límite de 200 PARTICIPANTES en la EPIC RACE 300, de otros 200 en la EPIC RACE 200.
                                    p.text-justify Cada equipo debe llevar un vehículo de asistencia OBLIGATORIO, incluida la categoría SOLO, y dicho vehículo, será identificado con vinilos facilitados por la organización. ES OBLIGATORIO contar con este vehículo de asistencia que es vital para las asistencias básicas. La organización no asistirá a aquellos participantes que abandonen por cualquier motivo que no sea un EMERGENCIA SANITARIA. Las asistencias técnicas serán realizadas llevando al participante a la estación más cercana para poder ser recogido por su asistencia. Solo en el caso de la EPIC RACE 200, se permite no llevar vehículo de asistencia, aunque se recomienda contar con el.

                            //art.4
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading4(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.4 Recogida de dorsales
                            .collapse#collapse4(role="tabpanel" aria-labelledby="heading4"): .card-block 
                                    p.text-justify La recogida de dorsales tendrá lugar el viernes 4 de junio en horario de 17 a 21 horas en las instalaciones del PAZO DE CONGRESOS E EXPOSICIONS DE PONTEVEDR A (R/ Alexandre Bóveda) u en otro lugar determinado por la organización, para los participantes de la EPIC RACE 300 , y EPIC RACE 200. Los participantes, también podrán recoger sus dorsales en la zona de salida el sábado 5 de junio en horario de 7:00 a 8:15 horas . Será obligatorio presentar la licencia original y en vigor, para la recogida de dorsales. La asignación de dorsales será en función de las categorías.
                                    p.text-justify La organización entregará a los participantes:
                                    ul
                                        li: p.text-justify 1 bolsa del corredor con  SUDADERA EDICIÓN ESPECIAL EPIC RACE u otra prenda por determinar.
                                        li: p.text-justify 1 placa para la bicicleta por participante. 
                                        li: p.text-justify 1 dispositivo electrónico para el control de tiempos por participante. 
                                        li: p.text-justify Cesión de 1 dispositivo de seguimiento on-line por equipo, que será el testigo de relevo.
                                        li: p.text-justify 1 juego de vinilos para los vehículos de asistencia por equipo. 
                                        li: p.text-justify Regalos de los patrocinadores
                            //art.5
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading5(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.5 Briefing
                            .collapse#collapse5(role="tabpanel" aria-labelledby="heading5"): .card-block 
                                    p.text-justify Se realizará un briefing virtual a través de un video que se enviará a los participantes y se colgará en el grupo de TELEGRAM habilitado para dar la información a los mismos. 
                            //art.6
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading6(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.6 Bicicleta
                            .collapse#collapse6(role="tabpanel" aria-labelledby="heading6"): .card-block 
                                    p.text-justify Se podrá participar con aquellas bicicletas de dos ruedas de igual diámetro, siendo la rueda delantera la directriz y la rueda trasera la motriz; y accionada por un sistema de pedales que actúa sobre una cadena. La propulsión se realizará exclusivamente por la fuerza de las piernas del corredor, en un movimiento circular, con la ayuda de un pedalier, y sin ayuda eléctrica o cualquier otra. Sólo están permitidas las bicicletas de montaña con ruedas de un diámetro de 26, 27.5 ó 29 pulgadas. Todos los tubos (cuadro, manillar, acoples, etc.) de la bicicleta deberán estar tapados. Se recomienda llevar los repuestos necesarios para reparar la bicicleta en caso de avería. Es obligatorio llevar una luz blanca, en la parte delantera de la bicicleta, así como una luz roja en la parte trasera, que deberán llevarse encendidas, desde el atardecer hasta el amanecer. A criterio del comité organizador, todas las bicicletas que no presenten los elementos de seguridad necesarios para la competición no serán autorizadas a tomar la salida.
                                    p.text-justify Las bicicletas eléctricas que participen lo harán fuera de la clasificación general de la prueba y lo harán en MODO AVENTURA con todos los servicios que tienen las otras bicicletas pero sin salir en las clasificaciones.
                            //art.7
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading7(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.7 Equipamiento
                            .collapse#collapse7(role="tabpanel" aria-labelledby="heading7"): .card-block 
                                    p.text-justify Es obligatorio para todos los corredores:
                                    ul
                                        li: p.text-justify El uso del casco rígido homologado para ciclismo durante el transcurso de toda la prueba.  
                                        li: p.text-justify El uso de elementos reflectantes, independientes de los que se puedan llevar ya en la vestimenta de ciclista, para que los participantes sean bien visibles desde el atardecer hasta el amanecer. 
                                        li: p.text-justify Luz roja trasera encendida durante toda la prueba y luz blanca delantera desde el ocaso hasta la salida del sol.
                                        li: p.text-justify Participar con los  dorsales entregados por la organización debidamente colocados en la espalda del corredor y la placa con el número de dorsal en la parte delantera de la bicicleta, y todos ellos sin ninguna alteración.
                                        li: p.text-justify Por motivos de seguridad, llevar teléfono móvil con batería suficiente para su correcto funcionamiento durante toda la prueba. El número de móvil deberá ser comunicado a la organización.
                                        li: p.text-justify Llevar el testigo de relevo (dispositivo de seguimiento on-line) previamente desinfectado.
                                        li: p.text-justify Llevar manta térmica.
                                        li: p.text-justify Con independencia de que los avituallamientos sean completos y cuenten con sólido y líquido, se recomienda que los participantes porten avituallamiento con ellos mismos.

                            //art.8
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading8(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.8 Desarrollo de la prueba
                            .collapse#collapse8(role="tabpanel" aria-labelledby="heading8"): .card-block 
                                    p.text-justify En su momento se informará a todos los participantes de cómo se efectuará la salida de todos los participantes, con horarios y zona de salida y que estará adaptada a la situación sanitaria del momento
                                    p.text-justify Durante el recorrido se establecerán dos tipos de controles:
                                    ol
                                        li: p.text-justify Control de paso (CP): Serán puntos del recorrido en los que se tomarán los tiempos de cada uno de los participantes/equipos. Estos podrán coincidir o no con los puntos de avituallamiento/relevo. Omitir un control de paso supondrá la exclusión de la prueba.
                                        li: p.text-justify Punto de relevo (PR): Se establecerán puntos en el recorrido, denominados puntos de relevo, donde el corredor del equipo que está corriendo, hará entrega del testigo de relevo (dispositivo de seguimiento on-line) al miembro del equipo que se pondrá a correr en su lugar. El relevo solo estará permitido en estos puntos y en la zona señalada como zona de relevo. El miembro del equipo considerado como corredor, será aquel que lleve el testigo de relevo. Se establecerán puntos de relevos que coincidirán con las Estaciones de avituallamiento. Omitir un punto de relevo, o llegar después de la hora máxima fijada por la organización, supondrá la exclusión de la prueba. Cualquier ayuda exterior supondrá motivo de penalización. 

                            //art.9
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading9(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse9"     aria-expanded="true" aria-controls="collapse9")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.9 Llegada
                            .collapse#collapse9(role="tabpanel" aria-labelledby="heading9"): .card-block 
                                    p.text-justify La llegada será en Pontevedra, en la misma zona de salida (Pazo de Congresos de Pontevedra u otra localización indicada por la organización), dándose a los participantes un límite máximo de 28 horas para lograrlo (18 horas en el caso de la EPIC RACE 200).
                            //art.10
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading10(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse10"     aria-expanded="true" aria-controls="collapse10")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.10 Rutómetro
                            .collapse#collapse10(role="tabpanel" aria-labelledby="heading10"): .card-block 
                                    p.text-justify El recorrido no estará flechado, es por ello que la organización publicará en su página web, un track de GPS para el seguimiento del recorrido. En él se detallarán la distancia, altitud, tipo de pista, punto de relevo/estación de Avituallamiento y hora de cierre de cada uno de los servicios. El track se entregará a los participantes una semana antes de la prueba. 
                            //art.11
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading11(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.11 Recorrido
                            .collapse#collapse11(role="tabpanel" aria-labelledby="heading11"): .card-block 
                                    p.text-justify  El recorrido es abierto al tráfico. Los participantes deben seguir las indicaciones de las autoridades de tráfico, respetar las normas de circulación y circular con precaución. Es obligatorio seguir el recorrido y orden de paso fijado por la organización. Habrá que realizarlo en el tiempo máximo establecido. Además, deben superar cada uno de los puntos de avituallamiento/relevo en los tiempos máximos determinados por la organización para poder seguir en carrera. Estos tiempos de paso serán entregados a los participantes vía correo electrónico un mes antes del inicio de la prueba.
                                    p.text-justify Los participantes no podrán alejarse más de 500 m del recorrido marcado por la organización, pudiendo ser descalificados en caso de hacerlo. En caso de alejarse DEBERÁN VOLVER AL PUNTO DE INICIO. Si no lo realizan, los participantes podrán ser descalificados de la prueba
                            //art.12
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading12(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapse12") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.12 Estaciones de avituallamiento
                            .collapse#collapse12(role="tabpanel" aria-labelledby="heading12"): .card-block 
                                    p.text-justify  Las estaciones de avituallamiento estarán debidamente señalizadas durante el recorrido. Éstas dispondrán de todo lo necesario para cubrir las necesidades de alimentación e hidratación de los participantes durante la prueba. No estará habilitada ninguna zona de duchas en caso de alarma sanitaria por protocolo anti covid, (excepto si la situación ya está normalizada el dia de la prueba y no existe impedimento por parte de las autoridades competentes) ; si se dispondrá de una zona de aparcamiento para los vehículos autorizados.
                            //art.13
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading13(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true" aria-controls="collapse13") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.13 Tramos impracticables
                            .collapse#collapse13(role="tabpanel" aria-labelledby="heading13"): .card-block 
                                    p.text-justify El director de la prueba podrá decidir que un tramo del recorrido se ha convertido en impracticable e imposible de franquear, y podrá desviar el recorrido por los puntos alternativos previstos por la organización. En caso de que no sea posible, se tomará como tiempo de llegada el punto donde se haya podido establecer el cronometraje. 
                            //art.14
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading14(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="true" aria-controls="collapse14") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.14 Abandono
                            .collapse#collapse14(role="tabpanel" aria-labelledby="heading14"): .card-block 
                                    p.text-justify El abandono de uno de los miembros del equipo se debe comunicar tan pronto como sea posible a la organización. En caso de abandono de alguno de los miembros de un equipo, los otros podrán continuar la prueba, debiendo mantener la categoría de equipo en la que se inscribieron. Si el corredor que abandona es el que está corriendo, deberá hacerlo en el punto de relevo, debiendo llegar por sus propios medios y sin ayuda exterior alguna; en caso contrario todo el equipo deberá abandonar la prueba. 
                            //art.15
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading15(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse15"     aria-expanded="true" aria-controls="collapse15") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.15 Ordenes de llegada / Categorías
                            .collapse#collapse15(role="tabpanel" aria-labelledby="heading15"): .card-block 
                                    p.text-justify La suma de tiempos efectuada por cada miembro de un equipo en todos los tramos de la prueba, más las penalizaciones de tiempo acumuladas, establecerá el tiempo del equipo. El orden de llegada de la prueba se establecerá, ordenando los tiempos de los equipos de menor al mayor tiempo. En caso de igualdad a tiempos, quedará por delante aquel equipo que haya hecho el último tramo de la prueba más rápido. Se establecerá un orden de llegada por cada una de las categorías participantes, así como un orden scratch, masculino y otro femenino. En este orden se contemplarán los tiempos de los equipos masculinos y/o femeninos de todas las categorías participantes, siendo el primero, aquel que haya realizado la prueba en menos tiempo, independientemente del número de componentes del equipo. Cualquier equipo que oficialmente no haya completado algún tramo (exclusión, abandono, descalificación, etc.) no se incluirá en el orden de llegada.
                            //art.16
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading16(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse16"     aria-expanded="true" aria-controls="collapse16")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.16 Obsequios / Premios
                            .collapse#collapse16(role="tabpanel" aria-labelledby="heading16"): .card-block 
                                    ol
                                        li: p.text-justify 16.1 Para todos los participantes que acaben la prueba, se les hará entrega de una medalla.  
                                        li: p.text-justify 16.2 Se entregará un  OBSEQUIO ESPECIAL a los Mejores Tiempos de las siguientes categorías: SOLO: Masculino o Femenino. DUO: Masculino o Femenino. TRIO: Masculino o Femenino. MIXTO ABSOLUTO  
                                        li: p.text-justify 16.3 Para optar al OBSEQUIO ESPECIAL es imperativo asistir a la ceremonia de  final de prueba . Esta se celebrará a las 13.00 horas del domingo 6 de junio. Dicha ceremonia se realizará sin público asistente y con los participantes premiados respetando la distancia interpersonal de 1.5 metros y en grupos nunca superiores a 25 personas incluido el staff organizativo.
                            //art.17
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading17(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="true" aria-controls="collapse17") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.17 Ceremonia de entrega de Obsequios Especiales
                            .collapse#collapse17(role="tabpanel" aria-labelledby="heading17"): .card-block 
                                    p.text-justify La entrega de dichos obsequios a los mejores tiempos está fijada a las 13:00 horas del domingo 6 de junio en el Pazo de Congresos de Pontevedra u otro recinto determinado por la organización. Es obligatoria su asistencia vestido con ropa deportiva. La no asistencia significa la  pérdida del obsequio pertinente y su descalificación. Si el equipo premiado no asiste por estar aun en prueba, se le hará la entrega posteriormente. Al palco solamente podrán subir los participantes que reciben los premios manteniendo en todo momento la distancia interpersonal y usando mascarilla de forma obligatoria. Estarán el tiempo mínimo indispensable y se les entregará el premio previamente desinfectado en caso de continuar las restricciones por Covid.
                                    p.text-justify En caso de estar normalizada la situación sanitaria, se realizará una fiesta-party para todos los participantes.
                            //art.18
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading18(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="true" aria-controls="collapse18") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.18 Penalizaciones
                            .collapse#collapse18(role="tabpanel" aria-labelledby="heading18"): .card-block
                                    p.text-justify Las penalizaciones serán determinadas por la dirección de carrera, una vez se hayan constatado fehacientemente, bien por el testimonio de un oficial de la prueba, bien por pruebas fotográficas y/o video. 
                                    table.table.table-striped.table-responsive
                                        thead: tr
                                                th 
                                                th Exclusión
                                                th Penalización en tiempo
                                                th No permitir salida
                                        tbody
                                            tr
                                                th(scope="row") Comportamientos violentos entre corredores
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Sacarse el casco durante la prueba
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") No realizar la salida con casco, placa, dorsal, manta térmica, testigo relevo
                                                td 
                                                td 
                                                td X
                                            tr
                                                th(scope="row") No llevar luces delanteras y traseras desde el anochecer al amanecer
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") No pasar por los puntos de cronometraje según el orden establecido por la organización. 
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") No pasar por la estación de avituallamiento  
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") No llevar el testigo de relevo  
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Separarse más de 500 m del track marcado  
                                                td 
                                                td 2 horas
                                                td 
                                            tr
                                                th(scope="row") No respetar las normas de circulación  
                                                td 
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Tirar cualquier tipo de envoltorio fuera de las zonas habilitadas  
                                                td 
                                                td 3 horas
                                                td 
                                            tr
                                                th(scope="row") No llevar los dorsales en la zona establecida  
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Recibir asistencia mecánica durante los diferentes tramos de la prueba de una persona externa
                                                td 
                                                td 4 horas
                                                td 
                                            tr
                                                th(scope="row") Recibir material de cualquier persona externa  
                                                td 
                                                td 4 horas
                                                td 
                                            tr
                                                th(scope="row") Pasar por la zona de avituallamiento fuera de las horas de control
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Desvío del recorrido establecido
                                                td X
                                                td 
                                                td 
                            //art.19
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading19(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="true" aria-controls="collapse19") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.19 Reclamaciones
                            .collapse#collapse19(role="tabpanel" aria-labelledby="heading19"): .card-block 
                                    p.text-justify Toda reclamación podrá realizarse por escrito hasta 30 minutos después de publicarse el orden de llegada final en la oficina de Dirección de la prueba. La dirección de la prueba se guarda el derecho a sancionar a algún corredor/a que infrinja cualquiera de las normas anteriormente indicadas si tiene constancia de dicha infracción.

                            //art.20
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading20(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="true" aria-controls="collapse20") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.20 Deporte y naturaleza
                            .collapse#collapse20(role="tabpanel" aria-labelledby="heading20"): .card-block 
                                    p.text-justify Nuestro deporte, la bicicleta de montaña, es una actividad que se desarrolla en la naturaleza y su impacto en este entorno es una responsabilidad para todos los participantes y organizadores de pruebas deportivas. Rogamos que sean respetuosos con el entorno natural por el que transcurre el recorrido de la prueba, prestando atención a la basura, envoltorios, restos de avituallamientos, circular fuera de los carriles abiertos, no tomar atajos que dañen a la vegetación, respetar a los peatones, tener cuidado con los animales en la montaña, no dejar tirado ningún recambio, etc. Salirse del recorrido naturalmente delimitado o invadir una propiedad privada supondrá la exclusión de la prueba. 
                            //art.21
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading21(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="true" aria-controls="collapse21") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.21 Accidentes y pérdidas
                            .collapse#collapse21(role="tabpanel" aria-labelledby="heading21"): .card-block 
                                    p.text-justify La organización no se hace responsable de ningún accidente del que pudiera ser causa o víctima el participante, que deberá estar cubierto por los seguros propios de la prueba, como tampoco se hace solidario de los gastos ni de las deudas que pudieran contraer los participantes durante la marcha, ni de los extravíos o averías que pudiesen sufrir las bicicletas u otro equipamiento de los participantes. El participante exime a la organización de responsabilidad por pérdida o deterioro de objetos personales por cualquier circunstancia.
                            //art.22
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading22(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="true" aria-controls="collapse22") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.22 Derecho de imagen
                            .collapse#collapse22(role="tabpanel" aria-labelledby="heading22"): .card-block 
                                    p.text-justify La aceptación del presente reglamento implica obligatoriamente que el participante autoriza a la organización de la prueba EPIC RACE PONTEVEDRA a la grabación total o parcial de su participación en la misma, presta su consentimiento para que pueda ser utilizada su imagen en la promoción y difusión de la prueba, de todas las formas posibles (radio, prensa, video, foto, dvd, internet, carteles, medios de comunicación, etc.…), y cede todos los derechos relativos a la explotación comercial y publicitaria que la organización considere oportuno ejecutar, sin derecho por su parte a recibir compensación económica alguna.
                            //art.23
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading23(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="true" aria-controls="collapse23") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.23 Consideraciones
                            .collapse#collapse23(role="tabpanel" aria-labelledby="heading23"): .card-block 
                                    p.text-justify Todos los participantes deben ser respetuosos con los otros participantes, miembros de la organización, medios de comunicación y público. La organización se reserva el derecho a alterar o modificar el presente reglamento en cualquier momento. LA INSCRIPCION EN LA EPIC RACE PONTEVEDRA, EN LA HALF EPIC RACE PONTEVEDRA O EN LA SMALL EPIC RACE , IMPLICA LA ACEPTACIÓN DE DICHO REGLAMENTO.
                            //art.24
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading24(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="true" aria-controls="collapse24") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.24 Protección de datos personales
                            .collapse#collapse24(role="tabpanel" aria-labelledby="heading24"): .card-block 
                                p.text-justify La empresa GLOBALDXT PONTEVEDRA, garantiza el pleno cumplimiento de la normativa de protección de datos de carácter personal, y así, de acuerdo con la Ley Orgánica 15/1999, el firmante queda informado y presta su consentimiento a la incorporación de sus datos a los ficheros automatizados existentes en la empresa y al tratamiento de los mismos para su utilización en relación con gestiones administrativas, comerciales y otras actividades propias de la misma. 
                                p.text-justify La política de privacidad de GLOBAL DXT PONTEVEDRA, le asegura, en todo caso, el ejercicio de los derechos de acceso, rectificación, cancelación y oposición, en los términos establecidos en la legislación vigente, mediante escrito dirigido a GLOBALDXT PONTEVEDRA calle echegaray nº 20 5º A Pontevedra, siendo responsable del fichero, GLOBAL DXT PONTEVEDRA S.L con domicilio a estos efectos en la dirección antes indicada. 
                                p.text-justify El firmante acepta que puedan ser cedidos sus datos exclusivamente para aquellas actividades encaminadas al correcto funcionamiento de la gestión y administración interna de La empresa GLOBAL DXT PONTEVEDRA. Asimismo, el firmante acepta que la empresa GLOBAL DXT PONTEVEDRA S.L le dirija información sobre cualesquiera productos, gestiones o servicios que puedan comercializar. Acepta también que sus datos puedan ser cedidos a terceras empresas colaboradoras con el evento deportivo para envía de información/publicidad por parte de estas empresas. La aceptación del firmante para que puedan ser tratados o cedidos sus datos en la forma establecida en este párrafo, tiene siempre carácter revocable, sin efectos retroactivos, conforme a lo que disponen los artículos 6 y 11 de la Ley Orgánica 15/1999 de 13 de diciembre. 
                            //Normativa basica de la prueba
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading25(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="true" aria-controls="collapse25") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Normativa básica de la prueba
                            .collapse#collapse25(role="tabpanel" aria-labelledby="heading25"): .card-block 
                                ul
                                    li: p.text-justify Todo participante a la hora de realizar la inscripción, ACEPTA las normas redactadas en el presente reglamento, en cada uno de sus articulados
                                    li: p.text-justify Todo participante es consciente de que la Pontevedra 4 Picos Road, es una prueba que está bajo el amparo y normativa de la Federación Gallega de Ciclismo, y por tanto deberá cumplirse toda norma establecida por dicha federación, independientemente de lo indicado en el presente reglamento
                                    li: p.text-justify Todo participante asume que en la actual situación, la normativa sanitaria y los protocolos necesarios para la celebración de la prueba, podrán variar con respecto a la fecha en la que realice la inscripción; y ACEPTA dichos cambios reglamentarios impuestos por las autoridades competentes para poder llevarse a cabo la prueba.
                                    li: p.text-justify Los participantes en la prueba, estarán también sujetos a la normativa sanitaria vigente en el momento de la celebración de la misma. Las variaciones en esta normativa, se consideran NO RESPONSABILIDAD DE LA ORGANIZACIÓN, y por tanto NO son un MOTIVO de ANULACIÓN DE INSCRIPCIÓN por parte del participante, salvo en los puntos indicados en el artículo 2 de inscripciones y anulaciones.
                            //Derecho de admision
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading26(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="true" aria-controls="collapse26") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Derecho de admisión
                            .collapse#collapse26(role="tabpanel" aria-labelledby="heading26"): .card-block 
                                p.text-justify La organización, se reserva el derecho de admisión de personas a la prueba por las razones que la organización estime oportunas en el momento de la inscripción. 
 
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug