doctype html
html(lang="es")
    title Tarifas 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Ropa del evento
                    .col-sm-9
                        //- h3 Próximamente
                        p Te presentamos el maillot oficial de la prueba, que tendrás junto con tu inscripción.
                        img.img-fluid.mb-5.w-100(src="../../assets/files/img/maillot2020.jpg")
                        //- a.color-link(href="../../assets/files/pdf/guia-tallas.pdf" target="_blank"): button.btn.Button--inscription.my-2.my-sm-0(type='submit') Guía de tallas
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug