doctype html
html(lang="es")
    title Embajadores 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Embajadores
                    .col-sm-9
                        p.text-justify Do you want to be an ambassador for the GlobalDXT races?
                        p.text-justify We are looking for active people, related to the two wheels sport and who want to be linked to the races we organize. These people may attend our racesmfree of charge, have their clothes and other considerations.
                        p.text-jutify Are you interested or do you know someone who may be? Send us your resume to cimadevila@globaldxt.com with the following information:
                        ul
                            li.mb-2.text-justify Name and surname
                            li.mb-2.text-justify Age
                            li.mb-2.text-justify Telephone contact
                            li.mb-2.text-justify E-mail
                            li.mb-2.text-justify Social networks in which you participate and their links
                            li.mb-2.text-justify Number of followers in social networks
                            li.mb-2.text-justify Races in which you participated in 2018

            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug