doctype html
html(lang="es")
    title Categories 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Categories
                    .col-sm-9
                        p.text-justify  In order to be able to carry out each category and opt to the trophy delivery, it is necessary that at least 5 participants / teams inscribe in each of them.
                        ul
                            li.mb-2.text-justify Male individual
                            li.mb-2.text-justify Female individual
                            li.mb-2.text-justify Male couples
                            li.mb-2.text-justify Female couples
                            li.mb-2.text-justify Mixed couples
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug