doctype html
html(lang="es")
    title Event clothing 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Eventh clothing
                    .col-sm-9
                        p We present the official jersey of the race, which you will have along with your registration.
                        img.img-fluid.mb-5.w-100(src="../../assets/files/img/maillot-oficial.jpg")
                        p In addition, you can also get a second jersey or a vest, selecting it at the time of registration, with a cost of 25€ per unit. 
                        .imgs-wrapper
                            img.img-fluid.mb-5.w-100(src="../../assets/files/img/chaleco.jpg")
                            img.img-fluid.mb-5.w-100(src="../../assets/files/img/maillot-opcion-2.jpg")
                        a.color-link(href="../../assets/files/pdf/guia-tallas.pdf" target="_blank"): button.btn.Button--inscription.my-2.my-sm-0(type='submit') Size guide
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug