doctype html
html(lang="es")
    title Frequently asked questions 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Frequently asked questions
                    .col-sm-9
                        .Rules#accordion(role="tablist" aria-multiselectable="true")
                            //art.1
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading1(role="tab")
                                    a.Rules-link.mb-0(data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 How many kilometers does the race have?
                            .collapse.show#collapse1(role="tabpanel" aria-labelledby="heading1"): .card-block
                                    p.justify-text The epic race has 270 km of pure MTB, throughout the Province of Pontevedra
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading2(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  What cumulative elevation gain does it have?
                            .collapse#collapse2(role="tabpanel" aria-labelledby="heading2"): .card-block
                                    p.justify-text The sum of the 8 stages has 6,300 m of cumulative elevation gain
                            //art.3
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading3(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2   How many refreshment points does the race have?
                            .collapse#collapse3(role="tabpanel" aria-labelledby="heading3"): .card-block 
                                    p.justify-text The participants will have 8 refreshment stations including the Finish Line, in which the control points of forced passage are found.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading4(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2   What maximum limit of hours do I have to finish it?

                            .collapse#collapse4(role="tabpanel" aria-labelledby="heading4"): .card-block
                                     p.justify-text In each of the stages there will be a time limit to finish them. The total limit will be 51 hours, but it is very important to know that if you do not reach the control point before the time limit marked by the stage (time limits that will accumulate) you will be out of the challenge.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading5(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Is the route marked?

                            .collapse#collapse5(role="tabpanel" aria-labelledby="heading5"): .card-block
                                     p.justify-text The route is NOT MARKED, so it is necessary to use a GPS terminal in which participants will have the route facilitated by the organization.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading6(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Can I choose an alternative route to that marked by the organization?

                            .collapse#collapse6(role="tabpanel" aria-labelledby="heading6"): .card-block
                                    p.justify-text NO, YOU CANNOT. The organization has a control area in place to control the route of each participant. Those participants who separate more than 500 meters from the track and do not return to the marked track, will be EXPELLED from the race. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading7(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Can I be helped during the route?
                            .collapse#collapse7(role="tabpanel" aria-labelledby="heading7"): .card-block 
                                    p.justify-text It is PROHIBITED to receive any type of external help during the race. Help can be received only at the refreshment points. Therefore, participants must arrive at the mentioned control points by their own means.
                            
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading8(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  What happens if I do not reach the control point?

                            .collapse#collapse8(role="tabpanel" aria-labelledby="heading8"): .card-block
                                    p.justify-text The team / participant will be out of competition and therefore out of the control of the organization.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading9(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse9"     aria-expanded="false" aria-controls="collapse9")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  What happens if a member of my team leaves?

                            .collapse#collapse9(role="tabpanel" aria-labelledby="heading9"): .card-block
                                    p.justify-text The rest of the team may remain in the race. The classification will be that of the number of participants registered at the start of the race.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading10(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Is the race open to traffic?

                            .collapse#collapse10(role="tabpanel" aria-labelledby="heading10"): .card-block
                                    p.justify-text YES IT IS. The race is open to traffic so participants must respect traffic lights, crossings, circulation mode, etc. The organization is not responsible for possible incidents due to not respecting the circulation and its rules, and a participant may be expelled from the event if seen committing an infraction.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading11(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Is it mandatory to take a mobile phone in the test?

                            .collapse#collapse11(role="tabpanel" aria-labelledby="heading11"): .card-block
                                    p.justify-text Yes, so that the organization can get in touch if there is any unforeseen issue or there is a problem. It is important that you have enough battery. 

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading12(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 What do I do if I decide not to continue in the test?
                            .collapse#collapse12(role="tabpanel" aria-labelledby="heading12"): .card-block
                                    p.justify-text It is essencial to notify the organization as soon as possible in order to have control over all participants and ensure their safety.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading13(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 When can I collect the number?

                            .collapse#collapse13(role="tabpanel" aria-labelledby="heading13"): .card-block 
                                    p.justify-text The delivery of numbers will be made on Thursday from 08:00 hours to 12:00 hours.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading14(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Can a team mate collect the number for me?

                            .collapse#collapse14(role="tabpanel" aria-labelledby="heading14"): .card-block
                                    p.justify-text Yes, as long as you have ID card and a Federation License, and the forms that must be filled in for the race.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading15(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse15"     aria-expanded="false" aria-controls="collapse15") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Do I have to pay for federation insurance?

                            .collapse#collapse15(role="tabpanel" aria-labelledby="heading15"): .card-block 
                                    p.justify-text ONLY if you do not have a valid Federation License. The Federation gives the option of DAY LICENSE for the event, which in case of EPIC RACE will be 20 euros and in the HALF EPIC RACE 10 euros.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading16(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse16"     aria-expanded="false" aria-controls="collapse16")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 What's in the refreshment points?

                            .collapse#collapse16(role="tabpanel" aria-labelledby="heading16"): .card-block
                                    ul At the refreshment stations, the following will be available: 
                                        li Parking area
                                        li Shower area
                                        li Solid / liquid refreshment (for participants)
                                        li Massage area in stations to be determined
                                        li Time control zone and control point
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading17(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Is the briefing at the beginning of the race mandatory?

                            .collapse#collapse17(role="tabpanel" aria-labelledby="heading17"): .card-block 
                                    p.justify-text YES. It is mandatory since you will be given essential information for the race. The time of the briefing will be informed to the participants 15 days before the event.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading18(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 How do vehicles go from control point to control point?
                            .collapse#collapse18(role="tabpanel" aria-labelledby="heading18"): .card-block
                                    p.justify-text Each team will have a roadmap to go to the different control points. Only authorized vehicles will park in the refreshment area.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading19(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Is it mandatory to collect the trophy if I win it?

                            .collapse#collapse19(role="tabpanel" aria-labelledby="heading19"): .card-block 
                                    p.justify-text YES IT IS. It is mandatory. On Sunday at 1:30 p.m. trophies will be given. In the event that a participant / team that deserves a trophy has not yet arrived, it will be given at the time of crossing the finish line.
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug


        