doctype html
html(lang="es")
    title Refreshment points 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-3
                        h3.u-title Refreshment points
                    .col-sm-9
                        p.tex-justiy Participants will have 8 refreshment stations including the Finish Line, in which the control points of forced passage are found. At the refreshment stations, the following will be available:
                            ul: li Parking area 
                                li Shower area
                                li Solid / liquid refreshment (for participants) 
                                li Time control zone and control point
                        .row.py-4
                            .col-sm-12
                                ul.list-unstyled
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon5.svg" alt="icon4")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseLama" aria-expanded="false" aria-controls="collapseLama"): h5.mt-0.mb-1 Pontecaldelas
                                            .collapse#collapseLama
                                                p.text-justify Lama is an interior town in the northwest of the province of Pontevedra, with 2587 inhabitants, located 31 km from Pontevedra and 50 km from Vigo.
                                                p.text-justify The lands of La Lama were inhabited since prehistory, and there are archaeological remains of the megalithic cultures from 4000 to 2000 BC, as the tumuli of Portela da Cruz, O Seixo, O Suído, and in Antas. From the Bronze Age a sword of Argaric type of the year 1500 BC was found in La Lama, and in Verducido and in the Castro de Gaxate several bronze axes. Of this age are the rock engravings in Chan do Campo, Outeiro Seixiño, Val do Gato, and A Laxa das Puzas (Verducido).
                                                p.text-justify Belonging to the Culture of the Castros (forts) there are three identified: Monte do Castro in Gaxate, Monte do Castro in A Lama, and Xende.
                                                p.text-justify The municipality of A Lama belongs to the Natura 2000 network and is considered a natural area of high ecological value at European level on the conservation of natural habitat, wildlife and wild flora.
                                                p.text-justify The Cando mountain range has its highest point in the mountain of Seixo with 900m of altitude.The Suido mountain range is the natural limit with Orense and its highest point is El Coto da Puza, with 1035m high. This mountain has a great ecological value and it is one of the few areas of Galicia where we wolves can still be seen. From the high Suido we can observe the three rías (estuaries): Pontevedra, Vigo and Villagarcía de Arousa. With good weather from the mountain of O Seixo you can see the estuaries of Pontevedra and Vigo.
                                                p.text-justify The most important festivities of A Lama are the Pilgrimage of the Holy Christ of Xende, the Pilgrimage of the Virgin of the Hermits, the feast of the wine of the Pelete and the gastronomic feast of Codillo.
                                                a.Point-url(href="http://www.concellodalama.com"): i.fa.fa-link(aria-hidden="true"): span http://www.concellodalama.com
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon6.svg" alt="icon3")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"): h5.mt-0.mb-1 Tui
                                            .collapse#collapseTui
                                                p.text-justify Tui is a town of 17,000 inhabitants, located in the eastern part of the district of Bajo Miño, in the province of Pontevedra. Since February 10, 2012, together with the city of Valença do Minho (Portugal), they form a euro-city as a sign of cooperation and integration between the two cities separated only by two bridges that cross the river Miño. One of these two bridges is the Tui International Bridge founded in 1886.
                                                p.text-justify Tui has an important historical heritage, such as the Cathedral of Santa María de Tui, one of the most important cathedrals in Galicia. It is also worth noting the Diocesan Museum and Historical Archive, which was an old hospital for the poor and pilgrims, built in 1756; the Convent and Church of the Clarisses, which were founded in the year 1524; the Tunnel of the Clarisse Nuns, which is at the end of the street that leads to the convent of the Clarisses, constituting one of the most typical corners of Tui; and the Church of San Francisco, equipped with a public library.
                                                p.text-justify The Fluvial Walk of Tui, between the river and the old medieval wall, offers an ideal natural space to enjoy nature.
                                                p.text-justify As a natural heritage, Tui has Monte Aloia, which is a summit located in the Galiñeiro mountain range and declared a natural park in 1978, with an area of 746 hectares and the highest point located at 629 meters of altitude (high of San Julián ).
                                                p.text-justify It is worth noting the San Telmo Patron Saint Festivities that begin on Holy Saturday and last all week until Monday of San Telmo (Monday after Easter).
                                                a.Point-url(href="http://www.concellotui.org"): i.fa.fa-link(aria-hidden="true"): span http://www.concellotui.org
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon7.svg" alt="icon2")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"): h5.mt-0.mb-1 Redondela
                                            .collapse#collapseRedondela                                
                                                p.text-justify Redondela is a town located in the province of Pontevedra and integrated into the Metropolitan Area of Vigo. It has 7376 inhabitants in the urban center and it is 13 km from Vigo, 20 from Pontevedra and very close to Peinador Airport.
                                                p.text-justify It has two train viaducts, declared of Cultural Interest in 1978, that cross Redondela, the two lines of the "Camino de Ferro" are: that of Ourense and that of Pontevedra, which runs along the coast.
                                                p.text-justify Redondela has numerous archaeological sites, being the oldest in 3000 BC. An important fort is located about 336 meters above sea level, known as "Coto do Castro".
                                                p.text-justify It is also worth noting certain places of interest such as the Island of San Simón, the cove of San Simón and the bridge of Rande.
                                                p.text-justify Redondela has several festivities, among which stand out: the Fiesta de la Coca, which takes place on the day of Corpus Christi, was declared a Festival of Galician Tourist Interest in 2001, and the Fiesta del Choco, a gastronomic festival celebrated in May and also declared a Festival of Galician Tourist Interest.
                                                a.Point-url(href="http://www.redondela.es"): i.fa.fa-link(aria-hidden="true"): span http://www.redondela.es
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug
