doctype html
html(lang="es")
    title Regulations 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Regulations
                    .col-sm-9
                        .Rules#accordion(role="tablist" aria-multiselectable="true")
                            //art.1
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading1(role="tab")
                                    a.Rules-link.mb-0(data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.1 Definition
                            .collapse#collapse1(role="tabpanel" aria-labelledby="heading1"): .card-block 
                                    p.text-justify EPIC RACE PONTEVEDRA, is a NON STOP test that can be found in the GCF Calendar and in which participants must cycle 550 km with approximately 14,000 meters of cumulative elevation gain, throughout the Province of Pontevedra, either individually or in teams of 2, 3 or 4 people, being able in the case of being teams, to give relays in the points enabled in the course. In the case of the Half Epic Race the distance and the cumulative will be approximately half. The test will start on Friday, May 31 at 2:00 p.m. in Plaza de España in Pontevedra in the case of the EPIC RACE and on Saturday, June 1 at 12:00 p.m. in the case of participants in the HALF EPIC RACE and will end at the same point at 5:00 p.m. as the cut-off time, that is, in a maximum time of 51 hours for the long race participants and of 29 for those of the short race. 
                                    p.text-justify In EPIC RACE PONTEVEDRA, participants will have 8 stopping points, where passage is mandatory. In these areas, refreshment points, showers and parking for assistance vehicles will be enabled. ONLY in these points the participants will be able to receive assistance, BEING TOTALLY PROHIBITED to receive any kind of support along the way. In addition, in these points is where the participants that go in the TEAM categories, will be able to carry out the pertinent relays. In the HALF EPIC RACE, the services will be the same but the stop stations will be 4 (3 intermediate and finish line).
                                    p.text-justify The test is considered a PERSONAL CHALLENGE, so it is included in the CICLOTURIST RACE category and will be carried out according to the technical and sports rules indicated in these regulations. In case that there is no rule or a doubt exists about one, the Royal Spanish Cycling Federation or, in the last case, that of the International Cycling Union (ICU) will apply.

                            //art.2
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading2(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 2 Registration and fees
                            .collapse#collapse2(role="tabpanel" aria-labelledby="heading2"): .card-block 
                                    p.text-justify To participate, you must be in possession of a valid cycling license issued by a national cycling federation that is affiliated with the ICU. Participants who do not have a Spanish license must provide, in addition to their license, a certificate from their National Federation that proves that their insurance is valid in Spain. In the case of not being federated, a valid license can be processed only for the race, being necessary to make a payment of 10€ for the HALF EPIC RACE and 20€ for the EPIC RACE, according to the rates established by the GCF.

                                    p.text-justify The formalization of the registration must be made on the official website: www.epicracepontevedra.com, in which it is mandatory to fill in all the information requested in the form and have made the payment of  the registration fees for the registration to be valid

                                    p.text-justify Registration fees include:
                                    ul
                                        li: p.text-justify Right to participate in the test.
                                        li: p.text-justify Electronic device for time control.
                                        li: p.text-justify Transfer of 1 on-line monitoring device (Relay Baton) with geolocation.
                                        li: p.text-justify Medical service during the test.
                                        li: p.text-justify SOS and emergency services in the forest with extraction vehicles
                                        li: p.text-justify Liquid and solid refreshment at each stop station.
                                        li: p.text-justify Commemorative event jersey
                                        li: p.text-justify Mechanical service in the halfway point (Pontevedra) of the race.
                                        li: p.text-justify Massage service in the halfway point of the race.
                                        li: p.text-justify Access for the assistance vehicle to the parking area of the event.
                                        li: p.text-justify FINAL PARTY: to be held at the end of the event at 1:30 p.m. for all participants.

                                    p.text-justify The registration fees for the event are as follow
                                    table.table.table-striped.table-responsive
                                        thead: tr
                                                th Inscribed
                                                th Epic Race Individual
                                                th Epic Race Teams equipos 2-3-4
                                                th Half Epic Race Individual
                                                th Half Epic Race Teams 2-3-4
                                        tbody
                                            tr
                                                th(scope="row") From December 1 to December 15, 2018*
                                                td 99€
                                                td 89€
                                                td 79€
                                                td 69€
                                            tr
                                                th(scope="row") From December 16, 2018 to January 20, 2019
                                                td 109€
                                                td 99€
                                                td 89€
                                                td 79€
                                            tr
                                                th(scope="row") From January 21 to March 31, 2019
                                                td 129€
                                                td 119€
                                                td 109€
                                                td 99€
                                            tr
                                                th(scope="row") From April 1 to May 15, 2109
                                                td 139€
                                                td 129€
                                                td 119€
                                                td 109€
                                    small * This period is reserved for those registered in the previous edition. Participants who do not have a FEDERAL LICENSE must pay  a € 10 one day insurance for the HALF EPIC RACE and a € 20 two-day insurance for the EPIC RACE (prices set by the Galician Cycling Federation)
                                    small The inscriptions will be made until May 15, 2019 or until the 300 places for the EPIC RACE and the 300 places for the HALF EPIC RACE are covered.
                                    p.text-justify REGISTRATION MAY BE REFUNDED IN THE FOLLOWING DEADLINES FOR ANY REASON OF CANCELLATION:
                                    ul
                                        li 100% OF THE REGISTRATION FEE: until February 19  
                                        li 50% OF THE REGISTRATION FEE: until April 1   
                                        li 25% OF THE REGISTRATION FEE: until May 1 
                                        li 0% OF THE REGISTRATION FEE: as of May 2
                            //art.3
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading3(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.3 Participation
                            .collapse#collapse3(role="tabpanel" aria-labelledby="heading3"): .card-block 
                                    p.text-justify All EPIC RACE PONTEVEDRA participants must be over 18 years old or, in case they are between 16 and 18 years old, they must present an authorization signed by the father and mother of the minor, before the closing date of inscriptions. Participants may enroll in one of the following team categories: INDIVIDUAL: Male or Female. DUO: Male or Female. TRIO: Male or Female. QUARTET: Male or Female. ABSOLUTE MIXED: teams formed with members of both sexes. They can be formed from 2 to 4 participants. To establish any of these orders of arrival, a minimum of five teams must have registered.
                                    p.text-justify A limit of 600 PARTICIPANTS is established for this third edition of the EPIC RACE PONTEVEDRA, between both modalities: EPIC RACE AND HALF EPIC RACE.
                                    p.text-justify Each team must carry an assistance vehicle, including the INDIVIDUAL category, and the mentioned vehicle will be identified with vinyls provided by the organization. IT IS MANDATORY to have this assistance vehicle vital for basic assistance. The organization will not assist those participants who leave for any reason other than a HEALTH EMERGENCY. Technical assistance will be carried out by taking the participant to the nearest station to be picked up by their assistance.

                            //art.4
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading4(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.4 Collection of numbers
                            .collapse#collapse4(role="tabpanel" aria-labelledby="heading4"): .card-block 
                                    p.text-justify The collection of numbers will take place on Friday May 31 from 10:00 to 12:00 hours at the facilities of the DIPUTACIÓN DE PONTEVEDRA for participants of the EPIC RACE AND HALF EPIC RACE. The latter will also be able to pick up their numbers in the starting area on Saturday, June 1st, from 9:30 am to 11:00 am. It will be compulsory to present the original and valid license for the collection of numbers. The assigment of numbers will be based on the categories.
                                    p.text-justify The organization will deliver to the participants:
                                    ul
                                        li: p.text-justfy 1 cyclist bag with a commemorative vest or jersey
                                        li: p.text-justfy 1 race number per participant.
                                        li: p.text-justfy 1 plate for the bicycle per participant.
                                        li: p.text-justfy 1 electronic device for time control per participant.
                                        li: p.text-justfy Assignment of 1 online tracking device per team, which will be the relay baton. At the time of collecting the device, you will have to pay the amount of 50 €, which will be refunded at the time of returning the device to the organization.
                                        li: p.text-justfy In addition, an identification bracelet will be given to each participant, which must be worn during all the race days. This bracelet will allow you to access the areas enabled for the participants.
                                        li: p.text-justfy 1 set of vinyls for the team assistance vehicles.
                                        li: p.text-justfy Gifts from sponsors

                            //art.5
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading5(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.5 Briefing
                            .collapse#collapse5(role="tabpanel" aria-labelledby="heading5"): .card-block 
                                    p.text-justify At 12:30 hours on May 31, there will be a briefing where the characteristics of the race will be detailed. The assistance to the briefing is recommendable, since last minute details about the race will be given. A video will be made of it and published by the media considered by the organization.
                            //art.6
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading6(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.6 Bicycle
                            .collapse#collapse6(role="tabpanel" aria-labelledby="heading6"): .card-block 
                                    p.text-justify You can participate with bicycles with two wheels of the same diameter, with the front wheel being the guide and the rear wheel the motor; and operated by a system of pedals that acts on a chain. The propulsion will be done exclusively by the strength of the legs of the cyclist, in a circular movement, with the help of a bottom bracket, and without electric or any other help. Only mountain bikes with a diameter of 26, 27.5 or 29 inches are allowed. All tubes (frame, handlebars, couplings, etc.) of the bicycle must be covered. It is recommended to take the necessary spare parts to repair the bicycle in case of breakdown. It is mandatory to carry a white light, on the front of the bicycle, as well as a red light on the back, which must be worn on, from dusk until dawn. At the discretion of the organizing committee, all bicycles that do not present the necessary security elements for the competition will not be authorized to take the start.
                            //art.7
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading7(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.7 Equipment
                            .collapse#collapse7(role="tabpanel" aria-labelledby="heading7"): .card-block
                                    p.text-justify The use of the rigid helmet approved for cycling during the course of the entire race.
                                    p.text-justify The use of reflective elements, independent of those that can be worn in the cyclist clothing, so that participants are well visible from dusk to dawn.
                                    p.text-justify Rear red light on during the entire test and white front light from sunset to sunrise.
                                    p.text-justify Participate with the numbers delivered by the organization duly placed on the back of the cyclist and the number plate on the front of the bike, and all of them without any alteration.
                                    p.text-justify Carry the relay baton (on-line tracking device).
                                    p.text-justify Bring thermal blanket.
                                    p.text-justify Regardless of the fact that the refreshments are complete and have solid and liquid, it is recommended that the participants carry supplies with themselves.


                            //art.8
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading8(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.- 8 Development of the test 
                            .collapse#collapse8(role="tabpanel" aria-labelledby="heading8"): .card-block 
                                    p.text-justify The starting line will be opened 30 minutes before the departure time, which is set at 2:00 pm on May 31, 2019 in the Plaza de España of the Pontevedra City Hall for the EPIC RACE, and at 12:00 pm on June, 2019 for the HALF EPIC RACE. During the route, two types of controls will be established:
                                    ol
                                        li: p.text-justify Control of passage (CP): Points of the route in which the times of each one of the participants / teams will be taken. These may or may not coincide with the refreshment / relay points. Omitting a passage control will suppose the exclusion of the test.

                                        li: p.text-justify Relay Point (PR): Points will be established along the route, called relay points, where the cyclist of the team that is running will deliver the relay baton (on-line tracking device) to the team member who will continue in the race. Relay will only be allowed at these points and in the area designated as a relay area. The team member considered as a runner will be the one who carries the relay baton. Relay points will be established that will coincide with the refreshment stations. Omitting a relay point, or arriving after the maximum time set by the organization, will mean the exclusion of the test. Any outside help will be considered a cause for penalty.

                            //art.9
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading9(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse9"     aria-expanded="true" aria-controls="collapse9")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Art.9 Arrival
                            .collapse#collapse9(role="tabpanel" aria-labelledby="heading9"): .card-block 
                                    p.text-justify The arrival will be in Pontevedra, in Plaza de España, giving the participants a maximum limit of 51 hours to achieve it (29 in the case of the HALF EPIC RACE PONTEVEDRA).
                            //art.10
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading10(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse10"     aria-expanded="true" aria-controls="collapse10")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.10 Rutometer
                            .collapse#collapse10(role="tabpanel" aria-labelledby="heading10"): .card-block 
                                    p.text-justify The route will not be marked, that is why the organization will publish on its website, a GPS track to follow the route. It will detail the distance, altitude, track type, relay point / refreshment station and closing time of each service.

                            //art.11
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading11(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.11 Route
                            .collapse#collapse11(role="tabpanel" aria-labelledby="heading11"): .card-block 
                                    p.text-justify The route is open to traffic. Participants must follow the directions of the traffic authorities, respect traffic regulations and circulate with caution. It is mandatory to follow the route and order of passage set by the organization. The maximum time to complete the entire journey will be 51 hours for the participants of the EPIC RACE and 29 for those of the HALF EPIC RACE. In addition, they must overcome each of the refreshment / relay points in the maximum times established by the organization to be able to continue in the race.

                                    p.text-justify Participants may not distance more than 500 m away from the route marked by the organization, and may be disqualified if they do so. In case of moving away, the participant MUST RETURN TO THE START POINT. If they fail to do so, participants may be disqualified from the race
                            //art.12
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading12(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapse12") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 12 Refreshment stations
                            .collapse#collapse12(role="tabpanel" aria-labelledby="heading12"): .card-block 
                                    p.text-justify The refreshment stations will be duly marked during the route. They will have everything necessary to cover the feeding and hydration needs of the participants during the race. In addition, they will have a shower area for those who wish so, and also a parking area for authorized vehicles.

                            //art.13
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading13(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true" aria-controls="collapse13") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 13 Impracticable sections 
                            .collapse#collapse13(role="tabpanel" aria-labelledby="heading13"): .card-block 
                                    p.text-justify The race director may decide that a section of the course has become impassable and impossible to cross, and may divert the course through the alternative points provided by the organization. In case it is not possible, the point where the timing has been established will be taken as the arrival time.
                            //art.14
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading14(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="true" aria-controls="collapse14") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.14 Abandonment
                            .collapse#collapse14(role="tabpanel" aria-labelledby="heading14"): .card-block 
                                    p.text-justify The abandonment of one of the team members should be communicated as soon as possible to the organization. In case of abandonment of any of the members of a team, the others may continue the test, maintaining the category of team in which they signed up. If the runner who leaves is the one that is running, he must do so at the relay point, having to arrive by his own means and without any outside help; otherwise the entire team must abandon the test.

                            //art.15
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading15(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse15"     aria-expanded="true" aria-controls="collapse15") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art. 15 Order of arrival / Categories 
                            .collapse#collapse15(role="tabpanel" aria-labelledby="heading15"): .card-block 
                                    p.text-justify The sum of times made by each member of a team in all the stages of the race, plus the accumulated time penalties, will establish the time of the team. The order of arrival of the test will be established, ordering the times of the teams from the shortest to the longest time. In case of equality of times, the team that has made the fastest last stage of the race will be ahead. An order of arrival will be established for each of the participating categories, as well as a scratch order, male and female. Following this order, the times of the male and / or female teams of all the participating categories will be contemplated, being the first one, that who has completed the race in the shortest time, independently of the number of the team components.
                            //art.16
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading16(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse16"     aria-expanded="true" aria-controls="collapse16")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.-16 Gifts / Prizes
                            .collapse#collapse16(role="tabpanel" aria-labelledby="heading16"): .card-block 
                                    ol
                                        li: p.text-justify All participants who finish the test will receive a medal.
                                        li: p.text-justify A SPECIAL GIFT will be delivered to the Best Times of the following categories: INDIVIDUAL: Male or Female. DUO: Male or Female. TRIO: Male or Female. QUARTET: Male or Female. ABSOLUTE MIX
                                        li: p.text-justify To aim for the SPECIAL GIFT it is imperative to attend the closing ceremony. This will be held at 13.30 on Sunday, September 10.

                            //art.17
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading17(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="true" aria-controls="collapse17") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 17 Special Gift Ceremony
                            .collapse#collapse17(role="tabpanel" aria-labelledby="heading17"): .card-block 
                                    p.text-justify The delivery of these gifts to the best times is fixed at 1.30 pm on Sunday, June 2 in the Plaza de España of the Pontevedra City Hall. Your attendance is mandatory, dressed in sports clothes. Non-attendance means the loss of the relevant gift and disqualification. If the winning team does not attend because it is still in test, the delivery will be made later.
                            //art.18
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading18(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="true" aria-controls="collapse18") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 18 Penalties 
                            .collapse#collapse18(role="tabpanel" aria-labelledby="heading18"): .card-block
                                    p.text-justify The penalties will be determined by the race direction, once they have been verified irrefutably, either by the testimony of a race offical, or by photographic and / or video evidence.
                                    table.table.table-striped.table-responsive
                                        thead: tr
                                                th 
                                                th Exclusion
                                                th Time penalty
                                                th Start not allowed
                                        tbody
                                            tr
                                                th(scope="row") Violent behavior among runners
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Take off the helmet during the test
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Do not start with helmet, plate, number, thermal blanket, relay baton
                                                td 
                                                td 
                                                td X
                                            tr
                                                th(scope="row") Do not carry head lights and tail lights from dusk to dawn
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Do not go through the timing points according to the order established by the organization.
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Do not go through the refreshment station
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Do not carry the relay baton
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Separate more than 500 m from the marked track
                                                td 
                                                td 3 hours
                                                td 
                                            tr
                                                th(scope="row") Disrespect traffic regulations 
                                                td 
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Throw any type of wrapper outside of the enabled areas
                                                td 
                                                td 3 hours
                                                td 
                                            tr
                                                th(scope="row") Do not carry the numbers in the established area
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Receive mechanical assistance during the different sections of the race by an external person
                                                td 
                                                td 4 hours
                                                td 
                                            tr
                                                th(scope="row") Receive material from any external person
                                                td 
                                                td 4 hours
                                                td 
                                            tr
                                                th(scope="row") Go through the refreshment area out of the control hours
                                                td X
                                                td 
                                                td 
                                            tr
                                                th(scope="row") Deviation from the established route
                                                td X
                                                td 
                                                td 
                            //art.19
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading19(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="true" aria-controls="collapse19") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.19 Complaints
                            .collapse#collapse19(role="tabpanel" aria-labelledby="heading19"): .card-block 
                                    p.text-justify Any complaint may be made in writing up to 30 minutes after the final arrival order is published in the Race Management office. The direction of the race reserves the right to punish any cyclist who violates any of the above-mentioned rules if he / she is aware of such infraction.


                            //art.20
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading20(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="true" aria-controls="collapse20") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.- 20 Sport and nature 
                            .collapse#collapse20(role="tabpanel" aria-labelledby="heading20"): .card-block 
                                    p.text-justify Our sport, mountain biking, is an activity that takes place in nature and its impact on this environment is a responsibility for all participants and organizers of sports events. Please be respectful of the natural environment through which the race goes by, paying attention to garbage, wrappers, supplies, circulating outside the open lanes, not taking shortcuts that damage the vegetation, respecting pedestrians, being careful with the animals in the mountains, not leaving any spare, etc. Exiting the naturally delimited route or invading a private property will suppose the exclusion from the race.


                            //art.21
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading21(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="true" aria-controls="collapse21") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art. 21. Accidents and losses
                            .collapse#collapse21(role="tabpanel" aria-labelledby="heading21"): .card-block 
                                    p.text-justify The organization is not responsible for any accident of which is cause or victim the participant, who must be covered by the insurance of the race, and is not jointly responsible for the expenses or debts that may incur during the march, or the loss or damage that could suffer bicycles or other equipment of the participants. The participant exempts the organization from any responsibility for loss or deterioration of personal objects for any reason.


                            //art.22
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading22(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="true" aria-controls="collapse22") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art. 22. Image right
                            .collapse#collapse22(role="tabpanel" aria-labelledby="heading22"): .card-block 
                                    p.text-justify The acceptance of this regulation implies that participants authorize the organization of the EPIC RACE PONTEVEDRA race to the total or partial recording of their participation in it, give their consent so that their image can be used in the promotion and dissemination of the race, in all possible ways (radio, press, video, photo, DVD, internet, posters, media, etc.), and give all rights related to commercial and advertising exploitation that the organization considers appropriate to execute, without the right to receive any financial compensation.

                            //art.23
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading23(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="true" aria-controls="collapse23") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art.-23 Considerations 
                            .collapse#collapse23(role="tabpanel" aria-labelledby="heading23"): .card-block 
                                    p.text-justify All participants must be respectful of the other participants, members of the organization, media and public. The organization reserves the right to alter or modify these regulations at any time. ENROLLMENT IN THE EPIC RACE PONTEVEDRA OR IN THE HALF EPIC RACE PONTEVEDRA, IMPLIES THE ACCEPTANCE OF SUCH REGULATIONS.

                            //art.24
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading24(role="tab")
                                    a.Rules-link(data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="true" aria-controls="collapse24") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Art. 24. Protection of personal data
                            .collapse#collapse24(role="tabpanel" aria-labelledby="heading24"): .card-block 
                                    p.text-justify The company GLOBALDXT PONTEVEDRA, guarantees full compliance with the data protection regulation, and so, in accordance with Organic Law 15/1999, the signer is informed and gives his / her consent for the incorporation of his / her data to the files automated in the company and for their treatment for their use in relation to administrative, commercial and other activities of the same kind.
                                    p.text-justify The privacy policy of GLOBAL DXT PONTEVEDRA, ensures, in any case, the exercise of the rights of access, rectification, cancellation and opposition, in the terms established in the current legislation, by writing to GLOBALDXT PONTEVEDRA, Calle Echegaray nº 20 5º A, Pontevedra, being responsible for the file GLOBAL DXT PONTEVEDRA SL with registered address for these purposes at the above address.
                                    p.text-justify The signatory accepts that his / her data can be transferred exclusively for those activities directed to the proper functioning of the internal management of GLOBAL DXT PONTEVEDRA company. In addition, the signatory accepts that the company GLOBAL DXT PONTEVEDRA SL may send information about any products, paperwork or services that may be commercialize. This acceptance may be revocable, without retroactivity, in compliance with the rules of the RGPD 679/2016
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug