doctype html
html(lang="es")
    title Etapa 4 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .carousel.slide#CarouselStage8(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage8" data-slide-to="0").active
                    li(data-target="#CarouselStage8" data-slide-to="1")
                    li(data-target="#CarouselStage8" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage8-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage8-item2
                    .carousel-item.CarouselStage1-item.CarouselStage8-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage8" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage8" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 4
                        h5.Stage-subtitle.mb-4 Redondela - (Pontevedra)
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 57km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 1600m
                            p.mb-0.mt-2.d-block Elevation gain downhill
                            span.pl-2 1600m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify The conquest of the challenge
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level8.jpg")

                        p.text-justify This is a stage without big difficulties, where the forest tracks predominate, but where we will have to manage well our resources, because the route on the top of O Morrazo is a continuous up and down that can take its toll on us if we don´t play our cards right.

                        p.text-justify We leave Redondela gaining a magnificent view over this town that have exercised as the communication shaft for the south of the province of Pontevedra in the course of the history.
                        p.text-justify The first stretch is on asphalt to get to the base of the first ascent of the stage.

                        p.text-justify The beginning of the route goes by a traditional path that will demand us to choose a good drawn as well as we will have to tighten our legs to face the inclination in several areas. The final part goes along a wide forest track that will give us a spectacular view over the Ría de Vigo (Vigo Estuary).


                        p.text-justify The descent is fast and easy, and, once down, after crossing the villages of Arcade and Pontesampaio, we will circumvent the San Simón estuary crossing over the old salt mines reservoir, to follow to the base of the mounts of O Morrazo peninsula.

                        p.text-justify We are now in the 18 km, where the last port of The Epic Race and the Half Epic Race 2019 begins. The first part, on asphalt, will take us to a flat area, where we will get back to roll over dirt road,  and from this point, we will start a demanding ascent with some ramps with slopes of more than 15%.

                        p.text-justify Half height we will find a few kilometres with comfortable profile that will let us enjoy spectacular panoramic views over Vigo Estuary, and recover to get to the top of the stage, in the 30 km.

                        p.text-justify From the summit and along 16 kilometres, we will move along forest tracks over a saw-tooth profile, that will offer us different panoramic views over Vigo and Pontevedra estuaries, always framed by the spectacular Illas Atlánticas National Park.

                        p.text-justify The last descent in this great adventure will take us along funny ways and twisty paths, driving us close to Pontevedra, accessing on asphalt to the city center.

                        p.text-justify At this time it is sure that all the emotions we have experienced along this Epic Race Pontevedra will recall.

                        p.text-justify The finish and the city wait for us to celebrate we have overcome this enormous challenge.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-8-epic-race-2019-redondela-pontevedra-36716350") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa3.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug