doctype html
html(lang="es")
    title Etapa 1 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .carousel.slide#CarouselStage5(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage5" data-slide-to="0").active
                    li(data-target="#CarouselStage5" data-slide-to="1")
                    li(data-target="#CarouselStage5" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage5-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage5-item2
                    .carousel-item.CarouselStage1-item.CarouselStage5-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage5" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage5" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 5
                        h5.Stage-subtitle.mb-4 Pontevedra - Ponte Caldelas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 71km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 1950m
                            p.mb-0.mt-2.d-block Elevation gain downhill
                            span.pl-2 1650m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify Towards the interior forest
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level5.jpg")
                        p.text-justify This is a very rolling stage but with a lot elevation gain, where the most inclined ramps are around the 45 km, before getting to the top of the stage, so it is necessary to reserve forces to face the climb to Mount do Seixo.

                        p.text-justify We leave Pontevedra going south. The first 7 kms are flat, so we will be able to prepare our legs to face the first climb. This way will drives us to the mountain chain of A Fracha, on asphalt first and then along wide forest tracks without any technical difficulties. As we are climbing we get view over Vigo Estuary on our right hand, an amazing picture. Then we skirt along a balcony that will show us Pontevedra Estuary and its villages and towns framed by the Atlantic Ocean, that melts  into the horizon.

                        p.text-justify After a light descent, we face a new comfortable climb, fast and very rolling. As we go inland into the province of Pontevedra, the villages start to disappear from view and nature becomes more dense and rugged.

                        p.text-justify In the 37 km we get to the village of Famelga, with its gorgeous traditional galician architecture, where we can take some water from the fountain there, to face, from this point, the Magic Mountain, that is the Mount Seixo. The ascent to this legendary mount has not any technical difficulties, but it has some ramps with a high inclination that will make us tighten our legs.


                        p.text-justify The chapel of Santa Mariña welcomes us almost on the top. We will get that way the 950 mts of altitude, and after touring the summit, we will start the descent again. In front of us the view becomes spectacular and we can sight 3 estuaries, at the same time, holding a sea of mountains.

                        p.text-justify The descent is fast, with some loose stone stretches at first, where we will have to refine our skills with the breaks.

                        p.text-justify At half descent, we will get into an area with beautiful traditional “corredoiras” (typical galician paths) and ancient forests that will submerge us into a fairytale landscape. We get that way to the pass of the River Verdugo, over “poldras” (big square stones) where we will have to carry the bikes.

                        p.text-justify We are now in the last kilometres of this stage, without any special difficulties, getting close to Ponte Caldelas, an amazing council where the stone draws villages over ancient forests hidden between mountains and valleys that the rivers have carved for thousands of years.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-5-epic-race-2019-pontevedra-ponte-caldelas-36715990") Track
                            .row
                                .col-sm-6.text-left
                                .col-sm-6.text-right
                                    a(href='etapa2.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug