doctype html
html(lang="es")
    title Etapa 3 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .carousel.slide#CarouselStage7(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage7" data-slide-to="0").active
                    li(data-target="#CarouselStage7" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage7-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage7-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage7" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage7" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 7
                        h5.Stage-subtitle.mb-4 Ponteareas - Redondela
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 76km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 1600m
                            p.mb-0.mt-2.d-block Desnivel negtivo acumulado
                            span.pl-2 1600m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify The southern balconies
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level7.jpg")
                        p.text-justify This is a stage with a very fast first stretch on flat land and with a second part with 3 important climbs.
                        p.text-justify The bikers will have to reserve their forces in the first part, most of all for the first ascent.

                        p.text-justify We start going south, and just once we have started, we will cross over the bridge of Os Remedios, in Ponteareas, with Roman origin, that let us get some idea of this millenary city nestled in the River Tea riverside.
                        p.text-justify We will cross over the bridge again, this time under one of its arches, starting that way a long path that will drive us all along the riverside, alternating twisty stretches with others straight and very fast.

                        p.text-justify In the 14 km, we will leave the river path to face an asphalt stretch among villages, returning then to another riverside, in this case the River Miño one.
                        p.text-justify Again the paths are very fast, flat and without any difficulties.

                        p.text-justify In the 30 km, after a link stretch on asphalt, we get to the first ascent of the stage and the longest  and the hardest one. We face now the climb to Mount Aloia, the first natural park in Galicia, founded more than 40 years ago and a magnificent example of how to convert a desolate area into an orchard.

                        p.text-justify This watchtower is the front door to the amazing granite massif of the mountain range of O Galiñeiro, where we will cycle the following 24 kms, facing in this route 2 climbs.
                        p.text-justify The first one, that will drive us to the top of the natural park, have some stretches with a strong inclination alternating with easy-going areas.
                        p.text-justify We will crown in the 40 km, facing then a fast and comfortable 3 kms descent that will bring us closer to the base of the second climb of the stage, 10 kms of lying ascent along a forest track with some little twisty descents, that will adorn a bit our route along this spectacular balcony over the Atlantic and the valley of Porriño.

                        p.text-justify We leave then the mountain range in the surroundings of the reservoir of Zamáns, starting the last climb of the stage. First on asphalt and then along a comfortable forest track, we will get close to  the last descent, leaving the mounts that divide the city of Vigo and its coast and the fault known as Depresión Meridiana, that, for thousand of years, has defined the principal way of communication between the north and the south of the province, where the town of Redondela has played an essential role, both by waterway and land road.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-7-epic-race-2019-ponteareas-redondela-36750884") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa2.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa4.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug