doctype html
html(lang="es")
    title Alojamiento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Alojamiento
                    .col-sm-9
                        .row: .col-sm-6
                            a(href='https://www.aldahotels.es/alojamientos/hotel-alda-estacion-pontevedra/')
                              img.img-fluid(src='../../assets/files/img/alda.png')
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug