doctype html
html(lang="es")
    title Categorías 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Categorías
                    .col-sm-9
                        p.text-justify Para que se pueda llevar a cabo una de las categorías y poder optar a la entrega de trofeos;  es preciso que se anoten al menos 5 participantes/equipos en cada una de ellas
                        ul
                            li.mb-2.text-justify Individual masculino
                            li.mb-2.text-justify Individual femenino
                            li.mb-2.text-justify Parejas masculino
                            li.mb-2.text-justify Parejas femenino
                            li.mb-2.text-justify Parejas mixto
                            li.mb-2.text-justify Equipos de tres masculino
                            li.mb-2.text-justify Equipos de tres femenino
                            li.mb-2.text-justify Equipo de tres mixto
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug