doctype html
html(lang="es")
    title Etapa 7 | Epic Race Pontevedra
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .carousel.slide#CarouselStage3(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage3" data-slide-to="0").active
                    li(data-target="#CarouselStage3" data-slide-to="1")
                    li(data-target="#CarouselStage3" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage3-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage3-item2
                    .carousel-item.CarouselStage1-item.CarouselStage3-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage3" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage3" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 7
                        h5.Stage-subtitle.mb-4 Moraña - Pontevedra
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 30km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 550m
                            p.mb-0.mt-2.d-block Cota máxima
                            span.pl-2 360m
                            p.mb-0.mt-2.d-block Terreno técnico
                            span.pl-2 10%
                            p.mb-0.mt-2.d-block Terreno grava o tierra
                            span.pl-2 65%
                            p.mb-0.mt-2.d-block Asflato
                            span.pl-2 25%
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify La conquista del reto
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level7.jpg")
                        include:markdown-it ../etapas/etapa7.md
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/71.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/72.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/73.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/74.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/75.jpg")
                        .row
                            .col-sm-6.text-left
                                a(href='etapa6.html'): button.btn.Button--stages Etapa anterior
                            //-.col-sm-6.text-right
                                a(href='etapa8.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug