doctype html
html(lang="es")
    title Etapa 8 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .carousel.slide#CarouselStage4(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage4" data-slide-to="0").active
                    li(data-target="#CarouselStage4" data-slide-to="1")
                    li(data-target="#CarouselStage4" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage4-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage4-item2
                    .carousel-item.CarouselStage1-item.CarouselStage4-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage4" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage4" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 8
                        h5.Stage-subtitle.mb-4 Portas - (Pontevedra)
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 57km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1350m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1350m
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify La conquista del reto
                            //-img.img-fluid.mb-2.w-100(src="../../assets/files/img/level8epic.png")
                            p.text-justify Esta es una etapa caracterizada por el ascenso al monte Castrove y en el que una vez coronado, todavía tendremos que emfrentar un ascenso no muy prolongado pero sí exigente. Es una etapa en la que los especialistas en las etapas de montaña se sentirán muy cómodos.
                            p.text-justify Abandonamos el concello de Portas, dirigiéndonos primero hacía el sur, visitando las fértiles tierras de este concello.
                            p.text-justify En los primeros 20Km dos cortos ascensos nos acercan a los montes de Cavada y San Martiño.
                            p.text-justify Una vez superado este primer tramo, en el Km 22, nos acercamos por una preciosa senda fluvial a al base del monte Castrove, al que atacamos comenzando el ascenso por una espectacular ruta definida por los saltos de agua del río Armenteira y los molinos que salpican sus márgenes. Nos enfrentamos a casi 17km de ascenso con algún tramo de tregua en bajada o llaneo, llegando así a los 613m de cota máxima de la Etapa, el alto del Castrove, un impresionante mirador sobre las rías de Arousa y Pontevedra y las tierras que las circundan.
                            p.text-justify Desde el punto anterior un divertido y cómodo descenso nos va acercando a Pontevedra, regalándonos unas impresionantes vistas de su ría.
                            p.text-justify Llegamos así al Km 44, en el que enfrentamos el último ascenso de la etapa, una pista forestal tendida con una inclinación del 10% que debemos superar para empezar el descenso definitivo hacia la meta en
                            p.text-justify Pontevedra, a la que llegamos atravesando el mafgnífico entorno natural de las marismas de Alba.
                            p.text-justify Es el momento en el que seguro que nos asaltarán las emociones producto de todo lo vivido a lo largo de esta Epic Race Pontevedra.
                            p.text-justify La meta y la ciudad nos esperan y hay que celebrar el haber superado este inmenso desafío.
                            //- a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-8-epic-race-2019-redondela-pontevedra-36716350") Track
                            .row
                                .col-sm-6.text-left
                                    a(href='etapa7.html'): button.btn.Button--stages Etapa anterior
                                .col-sm-6.text-right
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug