doctype html
html(lang="es")
    title Etapa 6 | Epic Race Pontevedra
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .carousel.slide#CarouselStage2(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage2" data-slide-to="0").active
                    li(data-target="#CarouselStage2" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage2-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage2-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage2" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage2" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 6
                        h5.Stage-subtitle.mb-4 Portas - Moraña
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 35km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1000m
                            p.mb-0.mt-2.d-block Cota máxima
                            span.pl-2 360m
                            p.mb-0.mt-2.d-block Terreno técnico
                            span.pl-2 3%
                            p.mb-0.mt-2.d-block Terreno grava o tierra
                            span.pl-2 74%
                            p.mb-0.mt-2.d-block Asflato
                            span.pl-2 23%
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify Los caminos del norte
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level6.jpg") 
                        include:markdown-it ../etapas/etapa6.md
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/61.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/62.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/63.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/64.jpg")
                        //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/65.jpg")
                        .row
                            .col-sm-6.text-left
                                a(href='etapa5.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa7.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug