doctype html
html(lang="es")
    title Etapa 1 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .carousel.slide#CarouselStage5(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage5" data-slide-to="0").active
                    li(data-target="#CarouselStage5" data-slide-to="1")
                    li(data-target="#CarouselStage5" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage5-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage5-item2
                    .carousel-item.CarouselStage1-item.CarouselStage5-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage5" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage5" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 1
                        h5.Stage-subtitle.mb-4 (Pontevedra) - A Lama
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 48km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1500m
                            p.mb-0.mt-2.d-block Cota máxima
                            span.pl-2 670m
                            p.mb-0.mt-2.d-block Terreno técnico
                            span.pl-2 15%
                            p.mb-0.mt-2.d-block Terreno grava o tierra
                            span.pl-2 65%
                            p.mb-0.mt-2.d-block Asflato
                            span.pl-2 20%
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify Comienza la aventura
                            img.img-fluid.mb-2.w-100(src="../../assets/files/img/level1.jpg")
                            include:markdown-it ../etapas/etapa1.md
                            //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/11.jpg")
                            //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/12.jpg")
                            //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/13.jpg")
                            //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/14.jpg")
                            //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/15.jpg")
                            //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/16.jpg")
                            //- img.img-fluid.mb-2.w-100(src="../../assets/files/img/17.jpg")
                            .row
                                .col-sm-6.text-left
                                .col-sm-6.text-right
                                    a(href='etapa2.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug