doctype html
html(lang="es")
    title Inscripción Individual 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-12
                        iframe(src="http://emesports.es/inscribirse/?race=3943" width="100%" height="1900" frameborder="0")
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug