doctype html
html(lang="es")
    title Puntos de avituallamiento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-3
                        h3.u-title Puntos de avituallamiento
                    .col-sm-9
                        p.tex-justify En la EPIC RACE PONTEVEDRA, los participantes tendrán 7 puntos de parada, donde el paso es obligatorio.
                        p En las estaciones de avituallamiento se dispondrá de:
                            ul: li Zona de aparcamiento
                                li Zona de duchas
                                li Avituallamiento sólido/líquido (para los participantes)
                                li Zona de control de tiempos y punto de control
                        .row.py-4
                            .col-sm-12
                                //- ul.list-unstyled
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon1.svg" alt="icon7")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseForcarei" aria-expanded="false" aria-controls="collapseForcarei"): h5.mt-0.mb-1 Soutelo de Montes (Forcarei)
                                //-             .collapse#collapseForcarei
                                //-                 p.text-justify Forcarei ocupa, en la zona norcentral de la pronvincia de Pontevedra, una superficie total de 167.7 km,  con una altitud media de 625m, indicativa de una zona notablemente montuosa.
                                //-                 p.text-justify En esta sierra nacen las fuentes que dan orgien al río Lerez: fonte do Rego Dedra, fonte do Pao Dereito , fonte do Rego das Latas y fonte do Forno Telleiro.
                                //-                 p.text-justify En Soutelo De Montes tenéis como recurso el palacete modernista y el Centro Etnografico da Terra De Montes, para los amantes de los paseos por la naturaleza el camino de los arrieiros de Vilapouca a Ventoxo por la ribera del Río da Pontenova.
                                //-                 p.text-justify También citar las neveiras de Fixó y el monasterio de Aciveiro en el concello de Forcarei
                                //-                 a.Point-url(href="http://www.Forcarei.org"): i.fa.fa-link(aria-hidden="true"): span http://www.Forcarei.org
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon2.svg" alt="icon6")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseCruces" aria-expanded="false" aria-controls="collapseCruces"): h5.mt-0.mb-1 Vila de Cruces
                                //-             .collapse#collapseCruces
                                //-                 p.text-justify El municipio de Vila de Cruces está situado en el límite mas septentrional de la provincia de Pontevedra, y cuenta con una población de 5435 habitantes.
                                //-                 p.text-justify El municipio está circundado por los tres principales ríos de la comarca del Deza; el Ulla, el Deza y el Arnego.
                                //-                 p.text-justify El producto estrella de la gastronomía de Vila de Cruces es el Gallo de Corral, en torno al que se celebra una importante fiesta gastronómica declarada de Interés Turístico Gallego. 
                                //-                 p.text-justify También se celebran otras fiestas gastronómicas como la de la Castaña en noviembre, la de Chorizo en febrero, todas ellas con degustación gratuita de productos de la zona.
                                //-                 p.text-justify En agosto se celebra el Rally de las Carretillas, un espectáculo deportivo y cultural basado en las carretillas. Este curioso rali se celebra dentro de la Semana Cultural organizada anualmente por la asociación cultural Miolos de Fume.
                                //-                 a.Point-url(href="http://www.viladecruces.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.viladecruces.gal
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon3.svg" alt="icon5")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseMorana" aria-expanded="false" aria-controls="collapseMorana"): h5.mt-0.mb-1 Moraña
                                //-             .collapse#collapseMorana
                                //-                 p.text-justify El municipio de Moraña está situado al norte de la provincia de Pontevedra y cuenta con una población de 4.434 habitantes. 
                                //-                 p.text-justify En este municipio se halla el menhir de Gargantáns, monumento megalítico del neolítico con grabados en sus dos caras que puede datarse entre 3000-2000 a.C. y mide 192 cm de altura y 50 cm de diámetro.
                                //-                 p.text-justify El ayuntamiento de Moraña cuenta con dos bellas iglesias construidas en el siglo XII, la de San Martín de Gargantáns y la de San Pedro de Rebón. 
                                //-                 p.text-justify En la parroquia de Amil se encuentra el santuario de Nuestra Señora de los Milagros. En la misma parroquia de Amil destaca el notable conjunto arquitectónico formado por la iglesia parroquial, barroca del siglo XVIII, y la casa rectoral, adosada a una torre medieval. 
                                //-                 p.text-justify La parroquia de Santa Justa, en la que se celebra una importante romería en honor a esta santa, cuenta con la mejor carballeira de todo el municipio, tanto por su extensión como por los 400 robles que la componen. Próxima a la iglesia parroquial hay una fuente que data de principios del siglo XVI.
                                //-                 p.text-justify Existen en Moraña otras carballeiras de menor entidad, como la de Santa Lucía, en la capital del municipio, donde se celebra la fiesta gastronómica del "Carneiro ao espeto" (asado).
                                //-                 p.text-justify Destaca en Moraña La romería de los Milagros de Amil, una de las romerías mas importantes de Galicia, que se celebra el día 8 de septiembre y a la que acuden miles de peregrinos. En dicha romería la Virgen lleva su manto cubierto de los billetes que le han ofrecido los fieles
                                //-                 p.text-justify Es de mencionar la Fiesta del "Carneiro ao espeto", actualmente declarada como Fiesta de Interés Turístico de Galicia y también la Fiesta del "Porquiño á brasa", esta fiesta se celebra en la parroquia de Amil a finales del mes de agosto, en la carballeira de los Milagros.
                                //-                 p.text-justify Cabe destacar la "Rapa das bestas" en Amil, ese día, los caballos, que durante todo el año viven en los montes son acorralados y conducidos hasta el "curro", situado en el lugar conocido como Pastizal. Aquí se procede a la separación de las bestias, para marcarlas y rapar sus crines, convirtiéndose en una verdadera lucha del hombre con el caballo.
                                //-                 a.Point-url(href="http://www.morana.org"): i.fa.fa-link(aria-hidden="true"): span http://www.morana.org
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon4.svg" alt="icon1")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapsePontevedra" aria-expanded="false" aria-controls="collapsePontevedra"): h5.mt-0.mb-1 Pontevedra
                                //-             .collapse#collapsePontevedra
                                //-                 p.text-justify Pontevedra es la capital de la provincia y capital de las Rías Baixas. El río Lerez atraviesa la ciudad y por ello es conocida también como la “Ciudad del Lerez” y también como “Boa Vila”. Es una ciudad administrativa, monumental, turística y de servicios, con una población de 82549 habitantes.
                                //-                 p.text-justify En noviembre de 2014 le fue concedido el galardón mundial ONU-Hábitat, entregado en Dubai (Emiratos Árabes Unidos) que la reconoce como una de las ciudades europeas más cómodas para vivir, especialmente en materia de calidad urbana, movilidad y accesibilidad. En 2015 le fue concedido por el mismo motivo el premio de excelencia urbana del Center for Active Design en la ciudad de Nueva York y el premio Ciudad de Movilidad Inteligente Euro-China 2015 entregado en Hong Kong, entre otros.
                                //-                 p.text-justify Posee el centro histórico más importante de Galicia, junto con el de Santiago de Compostela. Dicho casco antiguo fue declarado en su totalidad Conjunto Histórico-Artístico en 1951 y ha sido calificado por el periódico inglés The Guardian como “una magnífica ciudad antigua”.
                                //-                 a.Point-url(href="http://www.pontevedra.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.pontevedra.gal
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon5.svg" alt="icon4")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseLama" aria-expanded="false" aria-controls="collapseLama"): h5.mt-0.mb-1 Pontecaldelas
                                //-             .collapse#collapseLama
                                //-                 p.text-justify La Lama es un municipio  interior del noroeste de la  provincia de Pontevedra, con 2587 habitantes, situado a 31 km de  Pontevedra y a 50 km de Vigo.
                                //-                 p.text-justify Las tierras de La Lama estuvieron pobladas desde la prehistoria, conservándose restos arqueológicos de las culturas megalíticas desde los años 4000 a 2000 a de C. como las mámoas de Portela da Cruz, O Seixo, O Suído, y en Antas. De la Edad de Bronce se encontró en La Lama una espada de tipo argárico del año 1500 a de C. y en Verducido y en el Castro de Gaxate varias hachas de bronce. De esta edad son los grabados rupestres en Chan do Campo, Outeiro Seixiño, Val do Gato, y A Laxa das Puzas (Verducido).
                                //-                 p.text-justify Perteneciente a la Cultura de los Castros existen tres identificados: el Monte do Castro en Gaxate, el Monte do Castro en A Lama, y el de Xende.
                                //-                 p.text-justify El ayuntamiento de A Lama pertenece a la red Natura 2000 y es considerada área natural de alto valor ecológico a nivel europeo sobre la conservación de hábitat natural, fauna y flora silvestre.
                                //-                 p.text-justify La sierra do Cando tiene su punto mas alto en el monte del Seixo con 900m de altitud y la sierra del Suído hace límite natural con Orense y el punto mas alto es El Coto da Puza con 1035m de altura, esta sierra tiene gran valor ecológico y es una de las pocas zonas de Galicia donde todavía podemos ver lobos. Desde la alta sierra del Suído podemos observar las tres rías: Pontevedra, Vigo y Villagarcía de Arousa. Con buen tiempo desde el monte de O Seixo se ven las rías de Pontevedra y Vigo.
                                //-                 p.text-justify Las fiestas más importantes de A Lama son la Romería del  Santo Cristo de Xende, la Romería de la Virgen de las Ermitas, la fiesta del vino del Pelete y la fiesta gastronómica del Codillo.
                                //-                 a.Point-url(href="http://www.concellodalama.com"): i.fa.fa-link(aria-hidden="true"): span http://www.concellodalama.com

                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon6.svg" alt="icon3")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"): h5.mt-0.mb-1 Tui
                                //-             .collapse#collapseTui
                                //-                 p.text-justify Tui es un municipio de 17000 habitantes, situado en la parte oriental de la comarca del Bajo Miño, en la provincia de Pontevedra. A partir del 10 de febrero de 2012 junto a la ciudad de Valença do Minho (Portugal) forman una eurociudad como muestra de cooperación e integración entre ambas ciudades separadas tan solo por dos puentes que atraviesan el río Miño. Uno de estos dos puentes es el Puente Internacional de Tui fundado en 1886.
                                //-                 p.text-justify Tui cuenta con un importante patrimonio histórico, tales como la Catedral de Santa María de Tui, una de la catedrales más importantes de Galicia. También es de destacar el Museo y Archivo Histórico Diocesano, que fue un antiguo hospital de pobres y peregrinos, construido en el año 1756, el Convento e Iglesia de las Clarisas es conocido como convento de las Clarisas o Encerradas que fue fundado en el año 1524, el Túnel de las Monjas Clarisas se encuentra en el fondo de la calle que lleva al convento de las Clarisas, constituyendo uno de los rincones más típicos de Tui, la Iglesia de San Francisco está dotada de biblioteca pública.
                                //-                 p.text-justify El Paseo Fluvial de Tui, entre el río y la antigua muralla medieval ofrece un espacio natural ideal para disfrutar en contacto con la naturaleza.
                                //-                 p.text-justify Como patrimonio natural, Tui cuenta con el Monte Aloioa, que es una cumbre situada en la Sierra de Galiñeiro y declarada parque natural en 1978, con una superficie de 746 hectáreas y el punto mas alto situado a 629 metros de altitud (alto de San Julián).
                                //-                 p.text-justify Cabe destacar las Fiestas Patronales de San Telmo que comienzan el Sábado Santo y duran toda la semana hasta el Lunes de San Telmo (lunes siguiente al de Pascua).
                                //-                 a.Point-url(href="http://www.concellotui.org"): i.fa.fa-link(aria-hidden="true"): span http://www.concellotui.org
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon7.svg" alt="icon2")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"): h5.mt-0.mb-1 Redondela
                                //-             .collapse#collapseRedondela                                
                                //-                 p.text-justify Redondela es un municipio situado en la provincia de Pontevedra e integrado en el Área Metropolitana de Vigo.  Cuenta con 7376 habitantes en el núcleo urbano y se encuentra a 13 km de Vigo, a 20 de Pontevedra y muy cerca del Aeropuerto de Peinador.
                                //-                 p.text-justify Cuenta con dos viaductos del tren, declarados Bien de Interés Cultural en 1978, que atraviesan Redondela, las dos líneas del “Camino de Ferro” son: la de Ourense y la de Pontevedra, que discurre a lo largo de la costa. 
                                //-                 p.text-justify Redondela posee numerosos yacimientos arqueológicos, siendo los más antiguos del año 3000 a.C. Un importante Castro se encuentra a unos 336 metros de altitud, conocido como “Coto do Castro”.
                                //-                 p.text-justify También es de destacar ciertos lugares de interés como la Isla de San Simón, la ensenada de San Simón, el puente de Rande.
                                //-                 p.text-justify Redondela cuenta con varias fiestas, entre las que destacan; la Fiesta de la Coca, que tiene lugar el día del Corpus Christi, fue declarada Fiesta de Interés Turístico Gallego en el 2001, y la Fiesta del Choco, fiesta gastronómica que se celebra en el mes de mayo y también declarada Fiesta de Interés Turístico Gallego.
                                //-                 a.Point-url(href="http://www.redondela.es"): i.fa.fa-link(aria-hidden="true"): span http://www.redondela.es
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug
