doctype html
html(lang="es")
    title Tarifas
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Tarifas
                    .col-sm-9
                        .Prices.p-4.rounded
                            div.Prices-table.d-lg-none.d-xl-none(style="background-color: white; padding: 1rem")
                                //- h5 Inscripciones del 1 de mayo al 23 de agosto
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race Individual 300kms</strong> <span>79€ (sudadera edición especial Epic incluida)</span>
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race Equipos 2 300kms</strong> <span>69€ (sudadera edición especial Epic incluida)</span>
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race Equipos 3 300kms</strong> <span>59€ (sudadera edición especial Epic incluida)</span>
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race 200 Individual</strong> <span>55€ (sudadera edición especial Epic incluida)</span>
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race 200 Parejas</strong> <span>49€ (sudadera edición especial Epic incluida)</span>
                            table.d-lg-table.d-xl-table.Prices-table.table.table-bordered.table-responsive
                                thead: tr.mb-3
                                        th Inscritos
                                        th Epic Race Individual 300kms
                                        th Epic Race Equipos 2 300kms
                                        th Epic Race Equipos 3 300kms
                                        th Epic Race 200 Individual
                                        th Epic Race 200 Parejas
                                tbody
                                    tr.mb-3
                                        th(scope="row") Del 1 al 100 incritos
                                        td 79€ (sudadera edición especial Epic incluida)
                                        td 69€ (sudadera edición especial Epic incluida)
                                        td 59€ (sudadera edición especial Epic incluida)
                                        td 59€ (sudadera edición especial Epic incluida)
                                        td 54€ (sudadera edición especial Epic incluida)
                                    tr.mb-3
                                        th(scope="row") Del 101 inscrito al 200 inscrito
                                        td 89€ (sudadera edición especial Epic incluida)
                                        td 79€ (sudadera edición especial Epic incluida)
                                        td 69€ (sudadera edición especial Epic incluida)
                                        td 69€ (sudadera edición especial Epic incluida)
                                        td 64€ (sudadera edición especial Epic incluida)
                                    tr.mb-3
                                        th(scope="row") Del 201 al 400 inscrito
                                        td 99€ (sudadera edición especial Epic incluida)
                                        td 89€ (sudadera edición especial Epic incluida)
                                        td 79€ (sudadera edición especial Epic incluida)
                                        td 79€ (sudadera edición especial Epic incluida)
                                        td 74€ (sudadera edición especial Epic incluida)
                            //- small * Este periodo está reservado  para los inscritos en la edición anterior
                            p Los participantes que no tengan LICENCIA FEDERATIVA deberán abonar <strong>10 € de seguro</strong> de día para la EPIC RACE 200 y <strong>20 € de seguro</strong> de dos días para la EPIC RACE 300 (precios fijados por la FGC)
                            p.text-justify Las inscripciones se realizarán hasta el 23 de mayo de 2021 o cubrir las 200 plazas para la EPIC RACE 300 y las 200 plazas para la EPIC RACE 200.
                            p.text-justify LA INSCRIPCIÓN PODRÁ SER DEVUELTA EN LOS SIGUIENTES PLAZOS POR CUALQUIER MOTIVO DE ANULACIÓN (menos 2 euros de gastos de gestión):
                            ul
                                li 100% DE LA CUOTA DE INSCRIPCIÓN: hasta el 31 de marzo
                                li 50% DE LA CUOTA DE INSCRIPCIÓN: del 1 al 30 de abril
                                li 25% DE LA CUOTA DE INSCRIPCIÓN: del 1 al 15 de mayo
                                li 0% DE LA CUOTA DE INSCRIPCIÓN: a partir del 16 de mayo
                            p.text-justify <strong>NO SE REALIZARÁ NINGUN TIPO DE DEVOLUCION DE DINERO DE LAS INDICADA MAS ARRIBA, SEA CUAL SEA LA CAUSA DE ANULACIÓN ( aunque sea por causa médica)</strong>
                            p.text-justify <strong>En caso de aplazamiento por causas de fuerza mayor, la organización ofrecerá la posibilidad de traspasar las inscripciones a la nueva fecha de celebración que determine, a no ser que el participante solicite expresamente la devolución del importe . Para ello , deberán indicarlo a través del correo soporte@emesports.es con un máximo de 10 días después del anuncio del cambio de fecha en redes sociales y con el envío de un correo electrónico personalizado.</strong>
                            p.text-justify Posteriormente a esa fecha se aplicarían los plazos previstos en este reglamento en el artículo 2. Para cualquier otra cosa, tenemos el correo globaldxt@gmail.com a disposición de los participantes.
                        .Include.py-5
                            h5 ¿Qué incluye la inscripción?
                            ul
                                li.text-justify Posibilidad de participar en el recorrido de 300 km con límite 28 horas en la EPIC RACE 300 y de 200 km con límite 19 horas en EPIC RACE 200.
                                li.text-justiy Sudadera edición limitada Epic Race.
                                li.text-justiy Pegatinas identificativas para los vehículos de asistencia 
                                li.text-justiy Seguro de accidentes
                                li.text-justiy GPS de control de situación. Este GPS permite realizar seguimiento en vivo de todos los participantes así como vela por su seguridad al tener la opción de llamada de emergencia.
                                li.text-justify Dorsal con Chip para control en zonas de paso
                                li.text-justify 8 puntos de avituallamiento sólido liquido para los participantes (4 en caso de la half EPIC RACE)
                                li.text-justify Servicio de masaje (si la situación sanitaria lo permite)
                                li.text-justify Servicio de duchas en cada punto de avituallamiento (si la situación sanitaria lo permite)
                                li.text-justify Servicio de asistencia sanitaria
                                li.text-justify Zona de aparcamiento exclusivo para os vehículos de asistencia, en cada estación
                                li.text-justify Detalle finisher para los que finalicen el reto 
                                li.text-justify Trofeos  para los tres primeros clasificados masculinos y femeninos de cada categoría
                                li.text-justify <strong>Fiesta final de prueba</strong>. Una fiesta para los participantes a partir de las 13:30 del domingo
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug