doctype html
html(lang="es")
    title Embaxaidores 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Emabaxaidores
                    .col-sm-9
                        p.text-justify Queres ser embaixador das probas GLobalDXT?
                        p.text-justify Estamos na buscando persoas activas, relacionadas co deporte das dúas rodas e que queiran vincularse ás probas que organizamos. Estas persoas poderán asistir de forma gratuíta ás nosas probas, ter ropa das mesas e outras contraprestacións.
                        p.text-jutify ¿Estás interesado ou coñeces a alguén que poda estalo? Envíanos a cimadevila@globaldxt.com o teu currículum cos siguintes datos:
                        ul
                            li.mb-2.text-justify Nome e apelidos
                            li.mb-2.text-justify Idade
                            li.mb-2.text-justify Teléfono de contacto
                            li.mb-2.text-justify Email
                            li.mb-2.text-justify Redes sociais nas que te moves e o seu alcance
                            li.mb-2.text-justify Número de seguidores nas mesmas
                            li.mb-2.text-justify Probas nas que has participado no 2018
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug