doctype html
html(lang="es")
    title Etapa 5 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role="main")
            .carousel.slide#CarouselStage1(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage1" data-slide-to="0").active
                    li(data-target="#CarouselStage1" data-slide-to="1")
                    li(data-target="#CarouselStage1" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage1-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage1-item2
                    .carousel-item.CarouselStage1-item.CarouselStage1-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage1" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage1" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 5
                        h5.Stage-subtitle.mb-4 Pontevedra - Ponte Caldelas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 71km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1950m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1650m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify Hacia los bosques del interior
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level5.jpg")
                        //- p.text-justify Abandonamos a cidade em seguida, já que, neste meio, natureza e urbe fundem-se, dotando à cidade da mordomia de ter o melhor dos dois mundos.
                        //- p.text-justify A primeira ascensão decorre por caminhos florestais e tradicionais para, a seguir, enfrentar uma série de subidas e baixadas durante os 22 km nos que percorremos a Serra de Domaio, passando pela lagoa de Castiñeiras, seu magnífico meio florestal e desfrutando umas magníficas panorámicas das Rias de Pontevedra e Vigo. Neste trecho atingiremos a cota máxima da etapa 522m.
                        //- p.text-justify No quilómetro 32 comenzámos um rápido descenso com uns quilómetros finais que serpentean por um estreito caminho, no que devemos afinar nossas dotes de piloto, procurando os peraltes e a traçada mais limpa.
                        //- p.text-justify Uma vez abaixo circunvalamos a ensenada de San Simón por caminhos muito rodadores, em cujo ecuador atravessaremos em cima da presa das antigas salinas, para continuar até Pontesampaio, atravessando essa população e a de Arcade por asfalto que, pouco a pouco, vamos alternando com largos caminhos de terra, procurando o último monte da etapa. Este nos recebe conunas rampas iniciais sem dificuldade técnica, mas exigentes por sua longitude e seu pendente que chega a rozar o 16%.
                        //- p.text-justify Com umas magníficas vistas sobre Redondela, povo que tem exercido de eixo de comunicação no sul da província ao longo da história, começamos o descenso para esta localidade, final desta quinta etapa etapa.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-5-epic-race-2019-pontevedra-ponte-caldelas-36715990") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa4.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa6.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug