doctype html
html(lang="es")
    title Etapa 4 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role="main")
            .carousel.slide#CarouselStage8(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage8" data-slide-to="0").active
                    li(data-target="#CarouselStage8" data-slide-to="1")
                    li(data-target="#CarouselStage8" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage8-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage8-item2
                    .carousel-item.CarouselStage1-item.CarouselStage8-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage8" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage8" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 4
                        h5.Stage-subtitle.mb-4 Meis - Pontevedra
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 56km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1350m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1400m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify El balcón de las rías
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level4.jpg")
                        //- p.text-justify Curta, mas com alguns descensos técnicos que exigem a máxima concentração dos ciclistas. Destacar especialmente os antiquísimos caminhos empedrados tradicionais, onde o água tem jogado um importante papel,arrendondando as lousas com as que faz centos de anos se empedraron os caminhos. Este terreno firme, mas retorcido, obrigar-nos-á a afinar nossa técnica sobre a bici.
                        //- p.text-justify Saímos de Forcarei em ascensão, rodeados de bosques de carballos, procurando o monte Coirego, em onde passamos pelo observatório astronómico de Cotobade para, a seguir, enfrentar a baixada do Caminho Real, zona empedrada na que devemos andar muito finos para não errar a traçada.
                        //- p.text-justify Chegamos assim uma zona de pintorescos povos que atravessamos para ascender, entre carballos e pinos, um dos últimos oteros da etapa.
                        //- p.text-justify Uma vez na cume já só fica descer e llanear, ainda que em Galiza sempre há algum repecho que nos espera depois de uma curva.
                        //- p.text-justify Finalmente entramos a Pontevedra através da senda do Lerez. Um meio a orlas do rio, sem desnivel, no que os últimos quilómetros de natureza nos deixam practicamente no centro da cidade.
                        //- p.text-justify Para os corredores da Half Epic Race só fica cruzar a meta em pleno centro da cidade de Pontevedra e rememorar todo o vivido em menos de 25 horas.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-4-epic-race-2019-meis-pontevedra-36715808") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa3.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa5.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug