doctype html
html(lang="es")
    title Reglamento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Preguntas frecuentes
                    .col-sm-9
                        .Rules#accordion(role="tablist" aria-multiselectable="true")
                            //art.1
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading1(role="tab")
                                    a.Rules-link.mb-0(data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Quantos quilómetros tem a prova?
                            .collapse.show#collapse1(role="tabpanel" aria-labelledby="heading1"): .card-block
                                    p.justify-text A EPIC RACE tem 550 km de puro MTB, que percorre toda a Província de Pontevedra 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading2(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Que acumulado positivo tem?
                            .collapse#collapse2(role="tabpanel" aria-labelledby="heading2"): .card-block
                                    p.justify-text O total das 8 etapas soma 13.000 m de desnível acumulado positivo 
                            //art.3
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading3(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Quantas zonas de abastecimento tem a prova? 
                            .collapse#collapse3(role="tabpanel" aria-labelledby="heading3"): .card-block 
                                    p.justify-text Os participantes terão 8 zonas de abastecimento incluindo a Meta, onde se encontram os pontos de check point.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading4(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Que limite máximo de horas tenho para a finalizar a prova? 

                            .collapse#collapse4(role="tabpanel" aria-labelledby="heading4"): .card-block
                                     p.justify-text EPIC RACE. Cada etapa terá um tempo limite para a sua finalização. O limite total será de 51 horas, mas é importante lembrar que se não chegarem ao ponto de controle no tempo limite marcado para cada etapa a equipa fica desclassificada. As barreiras horárias por etapa serão comunicadas pela ORG. da EPIC RACE.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading5(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Está o percurso fitado? 

                            .collapse#collapse5(role="tabpanel" aria-labelledby="heading5"): .card-block
                                     p.justify-text O percurso NÃO ESTÁ FITADO, pelo que é preciso navegar por GPS. A ORG. da EPIC RACE enviará o track da prova a cada equipa/ atleta.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading6(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Posso navegar um percurso alternativo ao marcado pela organização? 

                            .collapse#collapse6(role="tabpanel" aria-labelledby="heading6"): .card-block
                                    p.justify-text NÃO. A organização terá uma zona de controle onde serão analisádos os tracks de cada participante. Os participantes que se desviarem mais de 500 metros do track e não voltarem ao track original da prova serão DESCLASSIFICADOS. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading7(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  Podem ajudar durante o percurso? 
                            .collapse#collapse7(role="tabpanel" aria-labelledby="heading7"): .card-block 
                                    p.justify-text Está PROIBIDO receber ajuda externa durante a prova. Apenas é permitida ajuda nos pontos de abastecimento, portanto os concorrentes deverão chegar pelos seus próprios recursos aos pontos de controle.
                            
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading8(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  O que acontece se não chegar no ponto de controle? 

                            .collapse#collapse8(role="tabpanel" aria-labelledby="heading8"): .card-block
                                    p.justify-text A equipa/atleta ficará fora de competição e do controle da organização. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading9(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse9"     aria-expanded="false" aria-controls="collapse9")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  O que acontece se um membro de minha equipa desistir? 

                            .collapse#collapse9(role="tabpanel" aria-labelledby="heading9"): .card-block
                                    p.justify-text O resto da equipa poderá continuar em prova. A classificação será a do nº de atletas inscritos de início. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading10(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 A prova é aberta ao trânsito? 

                            .collapse#collapse10(role="tabpanel" aria-labelledby="heading10"): .card-block
                                    p.justify-text SIM. A prova está aberta ao trânsito pelo que devem respeitar os semáforos, regras de trânsito, sinais, modo de circulação, etc. A organização não se responsabiliza por possíveis acidentes que aconteçam por não se respeitarem as normas de trânsito, podendo ser expulsos da prova no caso de algum participante cometer infrações. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading11(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 É obrigatório levar telemóvel durante a prova? 

                            .collapse#collapse11(role="tabpanel" aria-labelledby="heading11"): .card-block
                                    p.justify-text Sim, para que a organização possa contactar com o atleta se houver necessidade disso. Lembrem-se de carregar os TLM, de modo a que tenha bateria para o tempo que andem no percurso.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading12(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 O que faço se tiver que desistir? 
                            .collapse#collapse12(role="tabpanel" aria-labelledby="heading12"): .card-block
                                    p.justify-text É IMPORTANTE ligar para a organização, de modo a que seja possível controlar e cuidar da segurança de todos os atletas. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading13(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Quando posso levantar o dorsal? 

                            .collapse#collapse13(role="tabpanel" aria-labelledby="heading13"): .card-block 
                                    p.justify-text A entrega de dorsais começará na Quinta-feira entre as 08:00 horas a 12:00 horas. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading14(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Pode algum parceiro por mim levantar o dorsal por mim? 

                            .collapse#collapse14(role="tabpanel" aria-labelledby="heading14"): .card-block
                                    p.justify-text Sim, tem que apresentar os forms da prova e a documentação prevista para estas situações.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading15(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse15"     aria-expanded="false" aria-controls="collapse15") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Tenho que pagar o seguro federativo? 

                            .collapse#collapse15(role="tabpanel" aria-labelledby="heading15"): .card-block 
                                    p.justify-text SÓ quem não tiver seguro federativo. Se não tiver seguro a Federação dá a possibilidade de LICENÇA por um DIA para o evento, que em caso da EPIC RACE terá um custo de 20 euros e na HALF EPIC RACE de 10 euros. 

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading16(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse16"     aria-expanded="false" aria-controls="collapse16")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 O que há nos abastecimentos? 

                            .collapse#collapse16(role="tabpanel" aria-labelledby="heading16"): .card-block
                                    ul Nos abastecimentos terão:
                                        li Zona de estacionamentos 
                                        li Zona de banho/duche
                                        li Abastecimento sólido/líquido ( para os participantes)
                                        li Zona de massagem
                                        li Em pontos por definir Zona de controle de tempos e CheckPoint.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading17(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 É obrigatório o briefing de início de prova? 

                            .collapse#collapse17(role="tabpanel" aria-labelledby="heading17"): .card-block 
                                    p.justify-text SIM. É obrigatório. No briefing analisaremos os dados fundamentais para cada percurso da prova e o seu regulamento. A hora do briefing será comunicada aos atletas 15 dias dantes do evento. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading18(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 Como fazer com os carros de assistência de ponto de controle a ponto de controle? 

                            .collapse#collapse18(role="tabpanel" aria-labelledby="heading18"): .card-block
                                    p.justify-text A ORG. da EPIC RACE entregará a cada equipa um road book com a informação dos diferentes pontos de controle. Na zona de abastecimento SÓ poderão estacionar os carros autorizados pela ORG e identificados com os autocolantes da prova.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading19(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 É obrigatório levantar o troféu se ganhar?

                            .collapse#collapse19(role="tabpanel" aria-labelledby="heading19"): .card-block 
                                    p.justify-text SIM. É obrigatório. Domingo às 13:30 será a cerimónia de pódios. Se algum participante com direito a troféu ainda estiver no percurso, o troféu será entregue quando finalizar a prova.
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug


        