doctype html
html(lang='es')
    title Epic Race Pontevedra
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role= "main")
            include ../../_includes/_carouselIndexPT.pug
            .u-bgRed
            //- section.IndexFollowRace.py-5.my-5
            //-     .container
            //-         .row
            //-             .col-sm-8.offset-sm-2.text-center
            //-                 h2 Sigue la carrera en directo
            //-                 a(href="https://tracktherace.com/epic-race-pontevedra-2019"): button.btn(type="button") Más información
            section.IndexDescription.py-5.mb-5
                .container 
                    .row
                        .col-sm-8
                            article.text-justify
                                h2.u-title O desafio
                                p <strong>Epic Race Pontevedra</strong> são 280 km e 6900 metros de desnível positivo acumulado em formato <em>non stop</em>. Um desafio de BTT onde os atletas têm que dar o seu melhor. 
                                p Os concorrentes vão enfrentar as suas capacidades num percurso desenhado na província de Pontevedra, ao longo do dia e da noite. Aqui desafiam-se os montes, percorrem-se as Rias Baixas, conhecem-se os bosques mais antigos e os povos mais pitorescos. Tudo dentro de um limite de 51 horas!
                                p O percurso não tem sinalética, este é guiado por track  GPS, para chegar O percurso não tem sinalética, este é guiado por track  GPS, para chegar a Soutelo de Montes,  Vila de Cruces, Moraña, Pontevedra, Pontecaldelas, Valença-Tui, Redondela e regressar a Pontevedra. 7 abastecimentos para 8 pontos de transição / checkpoint entre atletas onde os participantes terão pontos para carregar forças, receber assistência mecânica, massagens ou dar o relevo entre atletas em caso da prova ser por equipas. Ponto importante: no resto do percurso não podem receber ajuda externa.  
                                p Em solitário ou em equipas de dois, três ou quatro atletas, os participantes vão enfrentar o desafio dos caminhos e as pistas que percorrem as montanhas, vales, rios, costa e zonas de interesse turístico da província de Pontevedra. 
                                p Um desafio que leva ao limite a capacidade da cada atleta, ao mesmo tempo que proporciona uma experiência inesquecível, no paraíso das Rias Baixas e nos seus montes.
                        .col-sm-4
                            //- include ../../_includes/_carouselIndex--stages.pug
                    .row.py-5
                        .col-sm-12.text-center
                            .embed-responsive.embed-responsive-16by9
                                iframe(width="853" height="480" src="https://www.youtube.com/embed/HM8W6T6UsDo" frameborder="0" allowfullscreen)
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug
        //- script(async src="https://tracktherace.com/badges/js?c=b9shK9&l=en")
        script(src="../../assets/js/app.js")