doctype html
html(lang="es")
    title Puntos de avituallamiento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-3
                        h3.u-title Puntos de avituallamiento
                    .col-sm-9
                        p.tex-justiy Os participantes terão 8 estações de abastecimento incluindo o da Meta, nos que vão estar localizados os pontos de controle. 
                        p Nos abastecimentos vão encontrar: 
                            ul: li Zona de estacionamento 
                                li Zona de banho/duche
                                li Abastecimento sólido/líquido (para os concorrentes) 
                                li Zona de controle de tempos e ponto de controle 
                        .row.py-4
                            .col-sm-12
                                ul.list-unstyled
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon1.svg" alt="icon7")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseForcarei" aria-expanded="false" aria-controls="collapseForcarei"): h5.mt-0.mb-1 Soutelo de Montes (Forcarei)
                                            .collapse#collapseForcarei
                                                p.text-justify O município de  Forcarei pertence à província de  Pontevedra, com uma população de 1781 habitantes. Em 2016 fundiu-se com o município de  Cotobade, formando o município  Forcarei- Cotobade.
                                                p.text-justify Forcarei encontra-se a 31 km de  Pontevedra, 50 km de Santiago de  Compostela e a 65 km de  Ourense, o que fazem que este município tenha um lugar estratégico no mapa de Galiza.
                                                p.text-justify Terra de  canteros,  Forcarei conta com um grande legado  arquitectónico e artístico, sendo o  románico o principal protagonista, mostra disso é o Conjunto de San  Antón, a Ponte de  Pedre e a Igreja  Parroquial de Santa Marinha em  Tomonde. A  imponente beleza da Igreja  Parroquial de San Juan Bautista em  Forcarei e da Igreja  Parroquial de San Tomei em  Quireza junto a seu  Viacrucis não resulta indiferente. Enquanto a máxima expressão de arquitectura popular galega acha-se no  Eirado dá Pena em  Forcarei, no  Eirado dá  Ermida em  Filgueira e na  Eira Grande em  Pedre.
                                                a.Point-url(href="http://www.Forcarei.org"): i.fa.fa-link(aria-hidden="true"): span http://www.Forcarei.org                                              
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon2.svg" alt="icon6")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseCruces" aria-expanded="false" aria-controls="collapseCruces"): h5.mt-0.mb-1 Vila de Cruces
                                            .collapse#collapseCruces
                                                p.text-justify O município de Vila de Cruzes está situado no limite mas setentrional da província de  Pontevedra, e conta com uma população de 5435 habitantes.
                                                p.text-justify O município está circundado pelos três principais rios da comarca do  Deza; o  Ulla, o  Deza e o  Arnego.
                                                p.text-justify O produto estrela da gastronomia de Vila de Cruzes é o Galo de Corral, em torno do que se celebra uma importante festa gastronómica declarada de Interesse Turístico Galego.
                                                p.text-justify Também se celebram outras festas gastronómicas como a da  Castaña em novembro, a de  Chorizo em fevereiro, todas elas com  degustación gratuita de produtos da zona.
                                                p.text-justify Em agosto celebra-se o  Rally das  Carretillas, um espectáculo desportivo e cultural baseado nas  carretillas. Este curioso  rali celebra-se dentro da Semana Cultural organizada anualmente pela associação cultural  Miolos de Fume.
                                                a.Point-url(href="http://www.viladecruces.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.viladecruces.gal
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon3.svg" alt="icon5")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseMorana" aria-expanded="false" aria-controls="collapseMorana"): h5.mt-0.mb-1 Moraña
                                            .collapse#collapseMorana
                                                p.text-justify O município de  Moraña está situado ao norte da província de  Pontevedra e conta com uma população de 4.434 habitantes.
                                                p.text-justify Neste município acha-se o  menhir de  Gargantáns, monumento  megalítico do  neolítico com gravados em #dois caras que pode se datar entre 3000-2000 a.C. e mede 192 cm de altura e 50 cm de diâmetro.
                                                p.text-justify A prefeitura de  Moraña conta com duas belas igrejas construídas no século XII, a de San Martín de  Gargantáns e a de San Pedro de  Rebón.
                                                p.text-justify Na  parroquia de  Amil encontra-se o santuário de Nossa Senhora dos Milagres. Na mesma  parroquia de  Amil destaca o notável conjunto  arquitectónico formado pela igreja  parroquial,  barroca do século XVIII, e a casa  rectoral,  adosada a uma torre  medieval.
                                                p.text-justify A  parroquia de Santa Justa, na que se celebra uma importante  romería em honra a esta santa, conta com a melhor  carballeira de todo o município, tanto por sua extensão como pelos 400  robles que a compõem. Próxima à igreja  parroquial há uma fonte que data de princípios do século XVI.
                                                p.text-justify Existem em  Moraña outras  carballeiras de menor entidade, como a de Santa Luzia, na capital do município, onde se celebra a festa gastronómica do "Carneiro  ao  espeto" ( asado).

                                                p.text-justify Destaca em  Moraña A  romería dos Milagres de  Amil, uma das  romerías mas importantes de Galiza, que se celebra no dia 8 de setembro e à que vão milhares de peregrinos. Em dita  romería a  Virgen leva seu manto coberto dos bilhetes que lhe ofereceram os fiéis.
                                                p.text-justify É de mencionar a Festa do "Carneiro  ao  espeto", actualmente declarada como Festa de Interesse Turístico de Galiza e também a Festa do " Porquiño  á  brasa", esta festa se celebra na  parroquia de  Amil no final do mês de agosto, na  carballeira dos Milagres.
                                                p.text-justify Cabe destacar a " Rapa dás  bestas" em  Amil, nesse dia, os cavalos, que durante todo o ano vivem nos montes são  acorralados e conduzidos até o " curro", situado no lugar conhecido como  Pastizal. Aqui procede-se à separação das bestas, para marcá-las e  rapar suas  crines, convertendo-se numa verdadeira luta do homem com o cavalo.
                                                a.Point-url(href="http://www.morana.org"): i.fa.fa-link(aria-hidden="true"): span http://www.morana.org
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon4.svg" alt="icon1")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapsePontevedra" aria-expanded="false" aria-controls="collapsePontevedra"): h5.mt-0.mb-1 Pontevedra
                                            .collapse#collapsePontevedra
                                                p.text-justify Pontevedra é a capital da província e capital das Rias Baixas. O rio  Lerez atravessa a cidade e por isso é conhecida também como a “Cidade do  Lerez” e também como “ Boa Vila”. É uma cidade administrativa,  monumental, turística e de serviços, com uma população de 82549 habitantes.
                                                p.text-justify Em novembro de 2014 foi-lhe concedido o galardão mundial ONU-Habitat, entregado em  Dubai ( Emiratos Árabes Unidos) que a reconhece como uma das cidades européias mais cómodas para viver, especialmente em matéria de qualidade urbana, mobilidade e acessibilidade. Em 2015 foi-lhe concedido pelo mesmo motivo o prêmio de excelência urbana do  Center  for Active  Design na cidade de Nova York e o prêmio Cidade de Mobilidade Inteligente Euro-Chinesa 2015 entregado em Hong Kong, entre outros.
                                                p.text-justify Possui o centro histórico mais importante de Galiza, junto com o de Santiago de  Compostela. Dito capacete antigo foi declarado em sua totalidade Conjunto Histórico-Artístico em 1951 e tem sido qualificado pelo jornal inglês  The  Guardian como “uma magnífica cidade antiga”.
                                                a.Point-url(href="http://www.pontevedra.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.pontevedra.gal
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon5.svg" alt="icon4")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseLama" aria-expanded="false" aria-controls="collapseLama"): h5.mt-0.mb-1 A Lama
                                            .collapse#collapseLama
                                                p.text-justify A Lama é um município interior do noroeste da província de  Pontevedra, com 2587 habitantes, situado a 31 km de  Pontevedra e a 50 km de  Vigo.
                                                p.text-justify As terras de A Lama estiveram povoadas desde a  prehistoria, conservando-se restos arqueológicos das culturas  megalíticas desde os anos 4000 a 2000 a de C. como as  mámoas de  Portela dá Cruz, Ou  Seixo, Ou  Suído, e em  Antas. Da Idade de Bronze encontrou-se em Lamba-a uma espada de tipo  argárico do ano 1500 a de C. e em  Verducido e no Castro de  Gaxate vários machados de bronze. Desta idade são os gravados  rupestres em  Chan  do Campo,  Outeiro  Seixiño, Val  do Gato, e A  Laxa dás  Puzas ( Verducido).
                                                p.text-justify Pertencente à Cultura dos  Castros existem três identificados: o Monte  do Castro em  Gaxate, o Monte  do Castro na Lamba, e o de  Xende.
                                                p.text-justify A prefeitura da A Lama pertence à rede  Natura 2000 e é considerada área natural de alto valor ecológico a nível europeu sobre a conservação de habitat natural, fauna e flora  silvestre.
                                                p.text-justify A serra  do  Cando tem seu ponto mas alto no monte do  Seixo com 900m de altitude e a serra do  Suído faz limite natural com  Orense e o ponto mas alto é O  Coto dá  Puza com 1035m de altura, esta serra tem grande valor ecológico e é uma das poucas zonas de Galiza onde ainda podemos ver lobos. Desde a alta serra do  Suído podemos observar as três rias:  Pontevedra,  Vigo e  Villagarcía de  Arousa. Com bom tempo desde o monte de Ou  Seixo vêem-se ria-las de  Pontevedra e  Vigo.
                                                p.text-justify As festas mais importantes da A Lama são a  Romería do Santo Cristo de  Xende, a  Romería da  Virgen das  Ermitas, a festa do vinho do  Pelete e a festa gastronómica do  Codillo.   
                                                a.Point-url(href="http://www.concellodalama.com"): i.fa.fa-link(aria-hidden="true"): span http://www.concellodalama.com
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon6.svg" alt="icon3")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"): h5.mt-0.mb-1 Tui
                                            .collapse#collapseTui
                                                p.text-justify Tui é um município de 17000 habitantes, situado na parte oriental da comarca do Baixo  Miño, na província de  Pontevedra. A partir de 10 de fevereiro de 2012 junto à cidade de  Valença  do Minho (Portugal) formam uma  eurociudad como mostra de cooperação e integração entre ambas cidades separadas tão só por duas pontes que atravessam o rio  Miño. Um destas duas pontes é a Ponte Internacional de  Tui fundado em 1886.
                                                p.text-justify Tui conta com um importante património histórico, tais como a Catedral de Santa María de  Tui, uma das catedrais mais importantes de Galiza. Também é de destacar o Museu e Arquivo Histórico  Diocesano, que foi um antigo hospital de pobres e peregrinos, construído no ano 1756, o Convento e Igreja das  Clarisas é conhecido como convento das  Clarisas ou Encerradas que foi fundado no ano 1524, o Túnel das Freiras  Clarisas se encontra no fundo da rua que leva ao convento das  Clarisas, constituindo um dos rincões mais típicos de  Tui, a Igreja de San Francisco está dotada de biblioteca pública.
                                                p.text-justify O Passeio  Fluvial de  Tui, entre o rio e a antiga muralha  medieval oferece um espaço natural ideal para desfrutar em contacto com a natureza.
                                                p.text-justify Como património natural,  Tui conta com o Monte  Aloioa, que é uma cimeira situada na Serra de  Galiñeiro e declarada parque natural em 1978, com uma superfície de 746 hectares e o ponto mas alto situado a 629 metros de altitude (alto de San  Julián).
                                                p.text-justify Cabe destacar as Festas  Patronales de San  Telmo que começam no Sábado Santo e duram toda a semana até a Segunda-feira de San  Telmo (segunda-feira seguinte ao de  Pascua).
                                                a.Point-url(href="http://www.concellotui.org"): i.fa.fa-link(aria-hidden="true"): span http://www.concellotui.org
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon7.svg" alt="icon2")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"): h5.mt-0.mb-1 Redondela
                                            .collapse#collapseRedondela                                
                                                p.text-justify Redondela é um município situado na província de  Pontevedra e integrado na Área Metropolitana de  Vigo. Conta com 7376 habitantes no núcleo urbano e encontra-se a 13 km de  Vigo, a 20 de  Pontevedra e bem perto do Aeroporto de  Peinador.
                                                p.text-justify Conta com duas  viaductos do comboio, declarados Bem de Interesse Cultural em 1978, que atravessam  Redondela, as duas linhas do “Caminho de  Ferro” são: a de  Ourense e a de  Pontevedra, que  discurre ao longo da costa.
                                                p.text-justify Redondela possui numerosos  yacimientos arqueológicos, sendo os mais antigos do ano 3000 a.C. Um importante Castro encontra-se a uns 336 metros de altitude, conhecido como “ Coto  do Castro”.
                                                p.text-justify Também é de destacar certos lugares de interesse como a Ilha de San  Simón, a  ensenada de San  Simón, a ponte de  Rande.
                                                p.text-justify Redondela conta com várias festas, entre as que destacam; a Festa da Coca, que tem lugar no dia do  Corpus  Christi, foi declarada Festa de Interesse Turístico Galego no 2001, e a Festa do Choco, festa gastronómica que se celebra no mês de maio e também declarada Festa de Interesse Turístico Galego.
                                                a.Point-url(href="http://www.redondela.es"): i.fa.fa-link(aria-hidden="true"): span http://www.redondela.es  
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug
