doctype html
html(lang="es")
    title Tarifas 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Tarifas
                    .col-sm-9
                        .Prices.p-4.rounded
                            table.table.table-striped.table-responsive
                                thead: tr
                                        th Inscritos
                                        th Epic Race Individual
                                        th Epic Race Equipos 2-3-4
                                        th Half Epic Race Individual
                                        th Half Epic Race Equipos 2-3-4
                                tbody
                                    tr
                                        th(scope="row") Do 1 ao 15 de dezembro de 2017 *
                                        td 99€
                                        td 89€
                                        td 79€
                                        td 69€
                                    tr
                                        th(scope="row") Do 16 de dezembro ao 20 de janeiro de 2018
                                        td 109€
                                        td 99€
                                        td 89€
                                        td 79€
                                    tr
                                        th(scope="row") Do 21 de janeiro ao 31 de marzo de 2018
                                        td 129€
                                        td 119€
                                        td 109€
                                        td 99€
                                    tr
                                        th(scope="row") Do 1 de abril ao 15 de maio de 2018
                                        td 139€
                                        td 129€
                                        td 119€
                                        td 109€
                            small Los participantes que no tengan LICENCIA FEDERATIVA deberán abonar <strong>10 € de seguro</strong> de día para la HALF EPIC RACE y <strong>20 € de seguro</strong> de dos días para la EPIC RACE (precios fijados por la FGC)
                        .Include.py-5
                            h5 Que inclui a inscrição?
                            ul
                                li.text-justify Possibilidade de participar no percurso de 550 km com limite 48 horas: EPIC RACE E de 240 km com limite 24 horas: HALF EPIC RACE.
                                li.text-justify Jersey comemorativo do evento da marca Ottobosley.
                                li.text-justify Autocolantes para os veículos de assistência.
                                li.text-justify Seguro de prova.
                                li.text-justify GPS tracker de controle do percurso. 
                                li.text-justify Este GPS permite seguir todos os atletas. É uma ferramenta de controle, que também garante a segurança no percurso.
                                li.text-justify Frontal com Chip para controle em checkpoint.
                                li.text-justify 8 pontos de abastecimento sólido e liquido para os participantes (4 no caso da Half EPIC RACE) 
                                li.text-justify Serviço de massagem 
                                li.text-justify Serviço de banho/duche em cada abastecimento 
                                li.text-justify Serviço de assistência sanitária 
                                li.text-justify Zona de estacionamento exclusivo para veículos de assistência 
                                li.text-justify Medalha finisher para os que completem o desafio com sucesso
                                li.text-justify Troféus para os três primeiros classificados masculinos e femininos da cada categoria 
                                li.text-justify <strong>Festa final de prova</strong>. Uma festa para os participantes a partir das 13h30, no domingo.

            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug